[2018-11-02 21:30] #3618 closed

[2018-11-03 00:12] apple502j commented on #3104
https://scratch.mit.edu/discuss/post/3300175/

[2018-11-03 16:07] daDaiMa opened #3628 "i have problem when i run npm install on my terminal please help me!"
npm install
npm WARN deprecated react-dom@16.2.0: This version of react-dom/server contains a minor vulnerability. Please update react-dom to 16.2.1 or 16.4.2+. Learn more: https://fb.me/cve-2018-6341
npm WARN deprecated text-encoding@0.7.0: no longer maintained
npm WARN deprecated nomnom@1.6.2: Package no longer supported. Contact support@npmjs.com for more info.
npm ERR! code ETARGET
npm ERR! no

[2018-11-04 09:05] AngleMAXIN commented on #3611
ubuntu 16.04 now,I solved this problem, but another problem has arisen.
look
cnpm  start

ℹ ｢wds｣: Project is running at http://0.0.0.0:8601/
ℹ ｢wds｣: webpack output is served from /
ℹ ｢wds｣: Content not from webpack is served from /home/maxin/Program/WebUI/scratch-gui/build
ℹ ｢wdm｣: wait until bundle finished: /
(node:6224) DeprecationWarning: Tapable.apply is deprecated. Call apply on the plugin

[2018-11-04 11:17] AngleMAXIN commented on #2228
ERROR in ./src/containers/stage.jsx
    Module not found: Error: Can't resolve 'scratch-svg-renderer' in '/home/maxin/Program/WebUI/scratch-gui/src/containers'
     @ ./src/containers/stage.jsx 46:0-67 47:0-72 85:42-54 87:45-60
     @ ./src/components/stage-wrapper/stage-wrapper.jsx
     @ ./src/containers/stage-wrapper.jsx
     @ ./src/components/gui/gui.jsx
     @ ./src/containers/gui.jsx
     @

[2018-11-04 11:18] AngleMAXIN commented on #2228
I want to say "fuck"!!!!

[2018-11-05 00:17] evhan55 commented on #2956
Unassigned myself as @benjiwheeler is taking over the generalized alerts system now

[2018-11-05 00:18] evhan55 commented on #3265
Closing as @benjiwheeler is taking over

[2018-11-05 00:18] #3265 closed

[2018-11-05 02:03] benjiwheeler commented on #3617
@thisandagain No problem

[2018-11-05 16:43] chrisgarrity opened #3632 "Add localization support for Tutorial images in 3.0"
### Expected Behavior

When viewing tutorial cards in other languages, any image that includes blocks should be in the current language (assuming that we have generated the images for that language)

The gui should dynamically load the correct set of images based on the locale. Adding the localized gifs should not substantially change the initial size of the gui.

### Actual Behavior

Images are a

[2018-11-05 18:13] #3613 closed

[2018-11-05 18:23] #3125 closed, assigned to chrisgarrity

[2018-11-05 18:57] BryceLTaylor opened #3636 "Issue found in Bug Hunt on 11/2/18"
* [ ] On Android Tablet Chrome: switching languages brings up the soft keyboard, every time @benjiwheeler
* [ ] Touch is just kind of hard with dragging things and the backpack. I was in the costume tab trying to move a costume to the backpack and it was scrolling the webpage instead @carljbowman

Device | Browser | Name
-- | -- | --
Windows* | Chrome | Eric R
Mac | Chrome | ChrisG
iPad** | Safari

[2018-11-05 19:10] BryceLTaylor opened #3637 "Issue found in Bug Hunt on 11/2/18"
* [x] https://github.com/LLK/scratch-paint/issues/743 I took a picture with the webcam, and wanted to trim it. I selected part of it in the bitmap editor, but I want to delete everything else, but there’s no way to do that (I couldn’t use select-all because I’m using touch). So I copied the selection, deleted the costume, and added a new one (which creates a vector costume). I pasted in the copied

[2018-11-05 19:14] benjiwheeler opened #3639 "Auto-save doesn't finish if you navigate away too quickly"
Related: https://github.com/LLK/scratch-gui/issues/3684

https://github.com/LLK/scratch-gui/pull/3638 will improve the auto-save experience. But there are a few outstanding problems:

* navigating away can't be totally stopped until the save completes. So clicking `Community` and then leaving that page (or reloading it) too rapidly will not finish saving first.
* when you do a more complex action

[2018-11-05 19:21] BryceLTaylor opened #3640 "Issue found in Bug Hunt on 11/2/18"
* [x] I can’t keep the language menu open on Firefox… Menu is scared of being hovered over. @kathymakes
![image20](https://user-images.githubusercontent.com/1088291/48021135-d33ee280-e105-11e8-8fb3-2e5a2e7ed732.gif)
* [x] Can’t use language selector in Firefox @fsih
![image8](https://user-images.githubusercontent.com/1088291/48021026-7c390d80-e105-11e8-8667-2529021d2b9e.gif)
* [ ] Blocks overlappe

[2018-11-05 19:31] BryceLTaylor opened #3641 "Issue found in Bug Hunt on 11/2/18"
* [ ] When I take a picture with the camera after previously zooming in the editor… the zoom preference saving is a little jarring. Especially when you upload a face, which most people will probably do! @kathymakes
* [ ] If I rename a remixed project, the name immediately changes to “Scratch Project” and all buttons disappear.
One would expect that “Remix” would be replaced with “Share” once you r

[2018-11-05 19:35] BryceLTaylor opened #3642 "Issue found in Bug Hunt on 11/2/18"
* [x] Sound item in sound panel has extra padding (white line appears below the name/time) @chrisgarrity
![image18](https://user-images.githubusercontent.com/1088291/48021882-ae4b6f00-e107-11e8-9f05-f6ae27df71f4.png)

Device | Browser | Name
-- | -- | --
Windows* | Chrome | Eric R
Mac | Chrome | ChrisG
iPad** | Safari | Karishma
Chromebook | Chrome | Carl
Windows* | Firefox | DD
Android Tablet | C

[2018-11-05 19:40] chrisgarrity opened #3643 "URL shortcut to the tutorials library"
### Expected Behavior

It would be nice to have a URL that loads the editor with the tutorial library open by default.

E.g., for the 2018 Hour of Code 3.0 activities banner.

[2018-11-05 19:42] BryceLTaylor opened #3644 "Issue found in Bug Hunt on 11/2/18"
* [x] Missing translations in various parts of the UI: @thisandagain
![image9](https://user-images.githubusercontent.com/1088291/48022164-6f69e900-e108-11e8-8470-3664518fd64f.png)
* [x] Editing the project title and then moving a block after that highlights the project title field while dragging the block @kchadha
* [x] Super detail: After clicking “Share”, the “Shared” button shows a pointer curs

[2018-11-05 19:45] BryceLTaylor opened #3645 "Issue found in Bug Hunt on 11/2/18"
* [ ] Theater backdrop should also have ‘stage’ as a tag

Device | Browser | Name
-- | -- | --
Windows* | Chrome | Eric R
Mac | Chrome | ChrisG
iPad** | Safari | Karishma
Chromebook | Chrome | Carl
Windows* | Firefox | DD
Android Tablet | Chrome | Ben
Windows* | Edge | Bryce
Mac | Safari | Andrew
Mac | Firefox | kathy

[2018-11-05 19:49] BryceLTaylor opened #3647 "Issue found in Bug Hunt on 11/2/18"
* [x] Setting cloud var to 0 from 3.0 shows “undefined” in 2.0, then things get out of sync after that @paulkaplan (fixed with https://github.com/LLK/scratch-gui/pull/3650)
* [x] Modifying a cloud variable using the slider monitor does not update its value for everyone. @paulkaplan (logged in https://github.com/LLK/scratch-vm/issues/1728)
* [x] We should cap the character count on make a block…. @

[2018-11-05 19:54] BryceLTaylor opened #3649 "Issue found in Bug Hunt on 11/2/18"
A number of issues were marked as fixed or with issue numbers in the doc so I didn't put them here.

* [x] Edge shows block stacks in backpack as a white square @BryceLTaylor
* [x] Design thing: There is a blue hover state for dragging code into workspace, but not for dragging sprites in sprite area. It would help to mirror the workspace behavior here: @kathymakes
![image11](https://user-images.gi

[2018-11-05 20:21] benjiwheeler commented on #3617
Spoke to @kosiecki17 and @kathymakes about this, we agreed to take Save now and Save as a copy out of beta for the time being.

[2018-11-05 22:55] ericrosenbaum opened #3656 "Volume monitor should be sprite specific"
### Expected Behavior

Volume is a sprite-specific property, so it should have a monitor that includes the sprite name. When you switch sprites, the check box state should update, and you should be able to check it again, displaying another monitor.

### Actual Behavior

Currently, when you check the box to show the volume monitor, it appears to be a global property:
![screen shot 2018-11-05 at 5

[2018-11-06 06:03] MasterOfTheTiger opened #3657 "Vertical Scrollbar Not Visible"
### Expected Behavior

The vertical scrollbar in the editor appears to the right of the editor, and stays that way.

![peek 2018-11-05 22-02](https://user-images.githubusercontent.com/16640496/48045778-94527080-e189-11e8-96a2-aabb457185b1.gif)

### Actual Behavior

On the [develop](https://llk.github.io/scratch-gui/develop/) and [smoke](https://llk.github.io/scratch-gui/smoke/) branches, the verti

[2018-11-06 06:45] DeleteThisAcount commented on #3598
just wanted to say
on scratch 2 when loading an extremely cloud used project, that error will show and hide rapidly, making scratch unusable

[2018-11-06 09:10] Kenny2github commented on #3640
These are duplicates of each other

[2018-11-06 09:13] Kenny2github commented on #3637
HA WHAT

[2018-11-06 11:47] #3615 closed

[2018-11-06 12:59] apple502j commented on #3640
Dupe of #3613 and confirmed it's fixed now

[2018-11-06 15:12] daDaiMa commented on #3628
i use mac

[2018-11-06 15:15] daDaiMa commented on #3628
1. i use mac
2.npm version 6.4.1
3.node version 10.8.0
4.git clone git@github.com:LLK/scratch-gui.git
cd scratch-gui
 and when i run  npm install  it comes out the error
thank you!

[2018-11-06 15:39] BryceLTaylor opened #3659 "Save as Copy should save the project before making the copy"
### Expected Behavior

If you choose` file > save as copy` it should save the current project and then make a new project that is an exact duplicate of the firs tone.  This is not what 2.0 does.

### Actual Behavior

`file > save as copy` currently does not save first, so the copy can have changes that weren't made on the original.

### Steps to Reproduce

Create a project
Make some changes such a

[2018-11-06 15:41] chrisgarrity commented on #3640
I wasn't able to duplicate the overlapping category issue (nor was @fsih) so we'll wait to see if it comes up again with a reliable repro case

[2018-11-06 15:48] BryceLTaylor opened #3660 "Back button doesn't update project contents after remix or save as copy"
### Expected Behavior

If you are on the editor page and then remix (if you don't own the project) or save as copy (if you do) it will update the url.  If you then make some changes to the project and press the back button it should load the project in a state that it was in before making the remix/copy.

### Actual Behavior

Currently the URL returns to showing the previous project id, but the co

[2018-11-06 15:55] chrisgarrity opened #3661 "Console error when switching language with running blocks highlighted"
### Expected Behavior
No console errors.

### Actual Behavior
In the console:
[code]

Note - it doesn't stop the project running, and the language switches as expected.

The `UpdateToolboxBlockValue` function  does not have `this` bound:
https://github.com/LLK/scratch-gui/blob/ff6bf1a0edec5f8e7dcccfaaaf3f654fe0009a1f/src/containers/blocks.jsx#L253
### Steps to Reproduce

Add a Green flag, forever,

[2018-11-06 15:59] chrisgarrity commented on #3551
* console error when switching language while the project is running (next costume). https://github.com/LLK/scratch-gui/issues/3661

[2018-11-06 15:59] #3551 closed

[2018-11-06 16:27] towerofnix commented on #3657
Weird - I can't repro this. Both scrollbars correctly show all the time.

I'm on Firefox 64.0b6, running Debian.

[2018-11-06 16:31] benjiwheeler opened #3663 "Stop project title field from erroneously highlighting"
@kchadha writes:

[2018-11-06 16:32] benjiwheeler opened #3664 "Use the normal pointer cursor on hover over "Shared" button"
@carljbowman writes:

[2018-11-06 16:34] benjiwheeler opened #3665 "iPad Safari soft keyboard is changing emojis in project titles"
@kchadha writes:

[2018-11-06 19:46] #3656 closed

[2018-11-06 22:06] benjiwheeler commented on #3628
Try installing and using these npm and node versions, instead:
npm: 5.6.0
node: 8.11.3
Also, try a fresh clone of scratch-gui.

[2018-11-06 22:18] fsih opened #3668 "Monitor sliders don't change by 1 when clicked on"
### Expected Behavior
In 2.0, clicking sliders to either side of the circle changed the value by 1
![sliderfeature](https://user-images.githubusercontent.com/2855464/48097443-e3c78980-e1e7-11e8-93ab-01e7d1c0b848.gif)

### Actual Behavior
In 3.0, clicking on the slider track moves the slider all the way to that position

### Steps to Reproduce
1. In 3.0, make a variable monitor
2. Double click the

[2018-11-06 22:25] fsih opened #3669 "Watermark showing same sized sprites at different sizes"
### Expected Behavior
Sprites that report the same size should have the same size watermark

### Actual Behavior
The 9 is showing up smaller here
![small9](https://user-images.githubusercontent.com/2855464/48097788-d3fc7500-e1e8-11e8-969b-ccebc2ab4f39.gif)

Project 124310159
The 9 is about the same size as all the other numbers everywhere else in the UI

### Steps to Reproduce
Open project 1243101

[2018-11-07 00:03] MasterOfTheTiger commented on #3657
I can't reproduce it with Chromium on the same OS either. But I can reproduce in normal Firefox as well. Version 63.

[2018-11-07 08:37] argan opened #3671 "Make native packages with electron"
### Expected Behavior

build native packages with electron

### Actual Behavior

none.

### Steps to Reproduce

### Operating System and Browser

[2018-11-07 10:22] tomrow opened #3672 "Shrink Text Box borders on devices with small screens"
The rounded borders around text boxes seem to waste a lot of screen real-estate in the sprite properties section of the editor.
![textboxbordersize](https://user-images.githubusercontent.com/10169982/48125432-8fb7b600-e276-11e8-8a4f-340f5da63db4.GIF)
(My apologies for this poorly drawn diagram)
The red sections could be changed into straight lines to save space in the window.
Other than this, the

[2018-11-07 11:33] tomrow commented on #2415
I was talking about sharing projects with unapproved extensions.

[2018-11-07 11:48] devindo commented on #3628
try to use  npm offical registry  https://registry.npmjs.org/

[2018-11-07 12:42] rschamp opened #3673 "Storage is configured to fetch projects using legacy endpoint"
The new format for fetching project data is `<projects host>/<project id>`, not `<projects host>/internalapi/projects/<project id>/get/`.  The old endpoint could begin acting differently or be removed in the future, so it should be updated. I think it's set up this way due to CORS configuration that is possibly fixed now.

[2018-11-07 15:23] evhan55 commented on #3554
Eric's fix in #1736 looks good to me!  Sorry for the regression.

[2018-11-07 15:32] #3024 closed

[2018-11-07 15:38] evhan55 opened #3675 "Extensions Library Phase 2"
Create new extension library gui elements based on this design:

<img width="965" alt="screen shot 2018-11-07 at 10 37 50 am" src="https://user-images.githubusercontent.com/699840/48141650-4e74d580-e279-11e8-88dc-06b43e0eac7b.png">

[2018-11-07 16:09] #3617 closed

[2018-11-07 16:15] evhan55 commented on #3675
@thisandagain @ericrosenbaum @carljbowman
For the hardware extensions, do they also require wifi?  In which case, would two icons need to go under 'Requires'?

[2018-11-07 16:37] kchadha commented on #3086
@BryceLTaylor, could you try to find a repro of the toolbox block rendering issue?

[2018-11-07 17:28] paulkaplan opened #3679 "Break up backpackInfo into separate flags"
Instead of passing in an object for backpack info, make separate hooks for visible / host. This will let us hide the backpack for not-logged-in users

[2018-11-07 17:45] paulkaplan opened #3680 "Send meta info with backpack costumes for rotation center"
We have a meta field in backpack items, we can use it to store the rotation center of costumes when they get stored in the backpack.

This may be somewhat lower prio because you can always store the sprite and that would store the correct rotation center.

[2018-11-07 18:59] towerofnix commented on #3671
Actually the Scratch Team is already working on this. The repository, `scratch-desktop`, is still very new and not quite stable, so it's closed source, but the ST [is planning](https://github.com/LLK/scratch-gui/pull/3200#issuecomment-424078736) to make it open-source later on.

[2018-11-07 20:39] #3487 closed

[2018-11-07 20:47] ericrosenbaum commented on #3675
The wifi indicator is there specifically to indicate the extensions that use web services to request data, so they won't work in a situation where you have no network connection (i.e. we are using web services for text to speech and translation, and probably other ones in the future). The distinction is only really relevant for the "desktop" version of scratch. With no network connection, you can'

[2018-11-07 20:57] #3671 closed

[2018-11-07 20:58] paulkaplan commented on #3668
But... but... that's not how sliders work :( :(

@thisandagain thoughts on whether we need to conserve this behavior from 2.0?

[2018-11-07 21:34] thisandagain commented on #3668
@paulkaplan Yeah. This actually feels like a bug in 2.0 rather than a feature. I'm inclined to keep our current behavior.

[2018-11-07 21:34] #3668 closed

[2018-11-07 21:39] carljbowman commented on #3675
Thanks for following up @ericrosenbaum! All that sounds correct to me.

It does raise the question of if the wifi icon is the right icon to communicate needing a internet connection for using web services, but for now I think we move forward with the wifi icon and circle back when we have some more time to reconsider.

[2018-11-07 21:43] evhan55 commented on #3675
Thanks @ericrosenbaum and @carljbowman !

@carljbowman are the wifi and bluetooth icons somewhere else in GUI or do I need them from someone?

[2018-11-07 22:01] towerofnix commented on #3668
Fair judgment, but I have seen several projects which make use of sliders which allow you to easily change by one. But they're not super common.

Aside: Should using the scroll wheel while the mouse is over a slider change its value? It might be an interesting interaction to play with.

[2018-11-07 22:15] #3344 closed

[2018-11-07 22:33] ktbee opened #3683 "Can't load editor due to "Uncaught TypeError: Cannot set property 'playNote_' of undefined""
### Expected Behavior

Should be able to `npm start` the gui on my local machine (Mac).

### Actual Behavior

Most of the gui loads, except for the editor.

![screen shot 2018-11-07 at 5 26 35 pm](https://user-images.githubusercontent.com/7991694/48165035-543add00-e2b2-11e8-8ff3-205613a7f01a.png)

This error is in the console:

[code]

### Steps to Reproduce

Pull the latest from `develop` and run

[2018-11-07 22:37] benjiwheeler opened #3684 "Warn user about navigating away from page if project has not been saved"
See also https://github.com/LLK/scratch-gui/issues/3243

### Expected Behavior

Logged in, editing my project, I click the "Scratch" icon, or "My Stuff", etc. I get a warning popup that I can cancel out of and save before navigate away from my project.

### Actual Behavior

No warning, so some bad surprises :(

https://github.com/LLK/scratch-gui/pull/3638 will improve the auto-save experience. But

[2018-11-07 22:51] ericrosenbaum opened #3685 "Device disconnected alert "reconnect" button seems to do nothing in full screen mode"
### Expected Behavior

It's not totally clear to me what should happen in this case: You have a hardware extension device connected, such as a microbit, you're in full screen mode, it becomes disconnected, you see the alert, and you click on the reconnect button. Maybe it should switch you out of full screen mode, so you can interact with the device connection modal? Or maybe the device connection

[2018-11-07 23:57] benjiwheeler opened #3686 "Make alerts appearance/alignment match spec"
There's a detailed alerts design spec here: https://github.com/LLK/scratch-gui/issues/2956

But the alerts need some CSS work to make them appear correctly.

As @paulkaplan mentioned in [this comment](https://github.com/LLK/scratch-gui/pull/3559#issuecomment-436633483) on https://github.com/LLK/scratch-gui/pull/3559 :

Example of the current wonky look:
![screen shot 2018-11-07 at 6 57 13 pm](http

[2018-11-08 00:47] apple502j opened #3687 "Duplicated sprites lose their comments"
_Thanks [stmsmarty30](https://scratch.mit.edu/users/stmsmarty30) for [finding this issue](https://scratch.mit.edu/discuss/post/3305071/)!_

### Expected Behavior
When duplicating sprites, comments should be kept

### Actual Behavior
Sprites lose their comments

### Steps to Reproduce
Add a comment on a sprite
Duplicate the sprite
The new sprite doesn't have a comment

### Operating System and Brow

[2018-11-08 02:02] wwj718 commented on #3675
I have a supplement:  `scratch link` require wifi to use DNS ([device-manager.scratch.mit.edu:20110](https://github.com/LLK/scratch-vm/blob/develop/src/io/ble.js#L2) -> 127.0.0.1:20110) ,  so that all hardware extensions require wifi.

[2018-11-08 04:56] benjiwheeler commented on #3639
Revisions to #3638 made it sure to save before the Share or See Community buttons take the user to the project page.

Tracking the rest of this issue in https://github.com/LLK/scratch-gui/issues/3684 .

[2018-11-08 04:56] #3639 closed

[2018-11-08 14:57] carljbowman commented on #3675
@evhan55 here are those icons: [requirement-icons.zip](https://github.com/LLK/scratch-gui/files/2562204/requirement-icons.zip)

I exported them at 100% transparency, we should set the opacity to 75% with CSS.

[2018-11-08 14:58] evhan55 commented on #3675
@carljbowman Cool, thanks! Speaking of which, what color/opacity is the 'Requires/Collaboration with' text?

[2018-11-08 15:00] carljbowman commented on #3675
Same thing opacity as the icons: 75%. You can use `$text-primary` for the color.

[2018-11-08 15:04] evhan55 commented on #3675
@carljbowman Perfect, I will try that, thanks!

[2018-11-08 15:28] paulkaplan opened #3693 "Layout thrashing causes slow renders when monitors are enabled"
![image](https://user-images.githubusercontent.com/654102/48208143-2e5c1980-e340-11e8-8689-65a29976a56f.png)

The call to resizeMonitorRect in the `componentDidUpdate` of monitors causes a render blocking layout _of the entire page_. In production, this monitor update takes 6ms on my computer, consuming quite a bit of the vms frame time.

[2018-11-08 15:50] paulkaplan commented on #3683
It looks like you have an outdated version of scratch-blocks, the FieldNote was added recently.

[2018-11-08 15:50] #3683 closed

[2018-11-08 16:08] daDaiMa commented on #3628
hello. thank you for you help.  I follow you suggestions but it still come out the same error
<img width="1091" alt="image" src="https://user-images.githubusercontent.com/37974743/48210987-7cf6cb80-e3b3-11e8-9264-a2650884a287.png">
<img width="1470" alt="2018-11-08 8 27 01" src="https://user-images.githubusercontent.com/37974743/48211010-8a13ba80-e3b3-11e8-9a4b-0c0add999fb3.png">

[2018-11-08 16:44] towerofnix commented on #3628
Could it be that, for some reason, your NPM is cached? Such as if it is using a different repository than the official npmjs.com - if so, it might not have the latest version of scratch-gui's dependencies.

[2018-11-08 16:47] #2811 closed

[2018-11-08 17:55] Mr-Dave2 commented on #1150
The project has a 'hacked-block' variable (squished bubble with no text) and several variables with characters that I've found to make stacks "vanish".

In Sprite Pen Pixel Engine
================
- !@#$%^&*()res = 3
In Sprite PenText
=======
- % = 005706151526261717063140405151424231
- & = 500505060617172727363635350202010110103030414153
- < = 33141435

  You might want to put this issue with thi

[2018-11-08 19:08] paulkaplan opened #3698 "Should tab switching reset the block category?"
We switch tabs automatically back to "Code" when you add a sprite, but @kchadha noticed we do not reset the block category up to the top. Should we?

[2018-11-08 19:09] ericrosenbaum opened #3699 "Clicking "reconnect" after device disconnection while connection modal is open has bad results"
### Expected Behavior

It's not clear to me what should happen when you have the device connection modal open for one hardware extension, but you have a disconnection alert visible for a different hardware extension, and you click the "reconnect" button on the alert. Probably it should cancel whatever the connection modal was doing at that point such as connecting or scanning, and start the new pr

[2018-11-08 19:11] paulkaplan commented on #3649
@kathymakes I can't repro your gif about not getting a blue highlight when dragging costumes over the sprite tiles, it is highlighting for me...

[2018-11-08 19:17] paulkaplan commented on #3649
@kathymakes sorry nevermind, I misread your comment

[2018-11-08 19:20] kchadha opened #3700 "Remove `sound_tempo` from opcode labels lib"
The `opcode-labels` lib file has translations for the monitor for `tempo` block as if it were part of the sound category. Remove this code as the block is part of the music extension and translations should be handled the way the rest of the extension monitor translations get handled.

[2018-11-08 19:26] paulkaplan opened #3701 "Highlight sprite area when dragging sprites out of the backpack"
@kathymakes mentioned that we are not being consistent with the highlight behavior for different drop targets. For example, dragging code out of the backpack highlights the workspace, but dragging out a sprite does not highlight the sprite area.

I'm going to mark this as "needs design" though because @carljbowman and I had talked about checking over all the different interactions and trying to ma

[2018-11-08 19:44] #1218 closed

[2018-11-08 19:53] ktbee commented on #3683
Thanks for the suggestion @paulkaplan! I had deleted my `node_modules` folder and re-ran `npm install`, but I didn't realize that I sometimes also need to delete my `package-lock.json` file and clear the NPM cache to really make sure my npm packages were the most up-to-date. Doing those two things ended up allowing me to finally update my packages and run scratch-gui locally.

[2018-11-08 20:45] #3649 closed

[2018-11-08 20:46] #3580 closed

[2018-11-08 20:50] paulkaplan commented on #3564
Thanks @apple502j . I'm going to add a few that our team found in experimenting here also, from https://github.com/LLK/scratch-gui/issues/3555

- When searching “FUN” in the tutorial library... nothing comes up :(
- Inspired by the pictures, I typed “food,” “animal”, “sports” and didn’t get any results (although I know tutorials are not sprite-specific, kids might be excited by the image content.)

[2018-11-08 20:53] #3555 closed

[2018-11-08 20:54] marycps commented on #851
We LOVE Scratch.

However, Scratch 3.0 version has poor contrast between the block background colors and the white Text.
Can you please revert the block colors to the previous colors or at least the darken the new block colors?

If you use WebAim's color contrast checker at https://webaim.org/resources/contrastchecker
to check the contrast level between the mustard yellow Events blocks with the wh

[2018-11-08 21:40] paulkaplan commented on #3657
Hmm can't repro on Mac/Firefox 63...

[2018-11-08 23:40] benjiwheeler commented on #3628
Related to @towerofnix's suggestion, try to `rm package-lock.json` and `npm install` again

[2018-11-09 03:42] benjiwheeler commented on #3664
being addressed in https://github.com/LLK/scratch-gui/pull/3638

[2018-11-09 04:02] benjiwheeler commented on #3601
Reopening because this is fixed in the code (and appears correctly for all languages except English), but needs translations to be built with English included (they haven't been until now) for this to appear fixed in English.

[2018-11-09 04:03] benjiwheeler commented on #3644
Tracking in

* https://github.com/LLK/scratch-gui/issues/3601
* https://github.com/LLK/scratch-www/issues/2278
* https://github.com/LLK/scratch-gui/issues/3665
* https://github.com/LLK/scratch-gui/issues/3664
* https://github.com/LLK/scratch-gui/issues/3663

[2018-11-09 04:11] towerofnix commented on #3698
I have an extremely stubborn and blunt view on this.. :) No *way!* As I'm programming, it would be extremely disruptive to have to scroll the palette *all the way back* to wherever I was before whenever I switch between tabs (especially after quick actions, like trying out a new sound or deleting an unused costume).

I can see a case to be made for the palette scroll position being saved separatel

[2018-11-09 04:15] benjiwheeler opened #3899 "Save project thumbnail when the project data is saved"
There have been some reports from the Scratch team that suggest project thumbnails aren't being created consistently or correctly; this might be related to autosave not being implemented yet.

Need to confirm that project thumbnails are being created correctly.

[2018-11-09 04:18] #3644 closed

[2018-11-09 04:31] towerofnix opened #3706 "Blockly context menu doesn't get hidden when you click outside of Blockly"
### Expected Behavior

If you have a context menu opened up from the code (Blockly, scratch-blocks) area, clicking anywhere outside the menu should hide it.

### Actual Behavior

Such a menu is only hidden if you click within the code area of the editor.

### Steps to Reproduce

Open a context menu in the code/blocks part of the editor (e.g. right-click a block). Click anywhere that is not part of

[2018-11-09 04:54] lasiaz opened #3707 "loading error"
### Expected Behavior

hide loading

### Actual Behavior

loading

### Steps to Reproduce

1. in chrome open AngularJS Inspecto extension
2. open https://beta.scratch.mit.edu/
3. always loading

### Operating System and Browser

Mac OS 10.13.6 chrome 70

[2018-11-09 05:31] kchadha commented on #3698
I think keeping the block scroll position when switching between sprites (while still in the code tab) makes complete sense.

The added context to the original question I posed was that I was in the costume tab when I added the new sprite, so when we switched back to the code tab, it was a little more surprising when the motion category was not on top.

@towerofnix, thank you for your thoughtful f

[2018-11-09 12:10] benjiwheeler commented on #258
One way of addressing this would be to make all projects "truly" be 4:3; but to allow the creator to flag them as "16:9 ready", which would draw boundary lines that help the creator make sure they're keeping important stuff out of the very top and very bottom of the stage.

[2018-11-09 14:30] towerofnix commented on #258
@benjiwheeler That's an interesting take. I wonder if it's the "best" solution, though? For many games, keeping UI in the corners is important as it helps make the visible screen feel bigger, and less crowded. Placing UI in the 4:3-ratio "corners" would make UI appear somewhat away from the corners when in 16:9 view. Then again, users could make projects which are "16:9 only", e.g. a user-made ale

[2018-11-09 14:35] kosiecki17 commented on #3456
I've changed the name to "Spotlight"  in the Assetbot account.

[2018-11-09 15:35] benjiwheeler opened #3708 "Investigate small screen resolutions and reconsider minimum editor layout"
At the Kennedy School workshop 11/8/18, we observed issues with the screen size of their Lenovo N21 Chromebooks.

Possible ideas:
* reconsider the overall layout at the Lenovo N21 screen size. Should we adjust the minimum width and height that we design for?
* sprite delete buttons may be too small and hard to see
* at low screen widths, could we default to the small stage size? or perhaps slightl

[2018-11-09 15:43] towerofnix commented on #3708
Note - this is already something that's *kind of* done. If you resize the window to be relatively short (low width), the stage will become *somewhat* smaller. It's an in-between from normal 480px-width and the small stage mode from the button.

[2018-11-09 16:18] DeleteThisAcount opened #3709 "Backpack sorting"
###Backpack sorting
I think that Scratch 3.0 should have backback sorting options. This may be easier in S3 compared to S2 because of the new HTML5 coding language.

Users can sort from Scripts, Costumes and Sprites

Users should be able to create folders to keep themselves organized.

[2018-11-09 16:41] MasterOfTheTiger commented on #3074
Another issue was just opened that is better to track. It is very similar and I will close this in favor of #3708

[2018-11-09 16:41] #3074 closed

[2018-11-09 17:30] paulkaplan opened #3710 "Block editors not being hidden by modals when embedded"
This problem **only impacts gui when it is embedded in the project page**. This does not happen on the standalone beta build.

If you open the note picker or angle picker, then open the extensions library (for example) you still see the field above the modal.

It seems that this code to hide the block editors is not running when opening modals when the GUI is embedded in WWW https://github.com/LLK

[2018-11-09 18:39] paulkaplan commented on #3710
This is caused by having the GUI consume a prop to hide the preview modal but not updating the store to set the modal.previewInfo to false. So `anyModalVisible` is always true, causing hideChaff to never be called.

[2018-11-09 18:59] paulkaplan commented on #3710
The solution to this is just to make the default of `modals.previewInfo` false, and have it possible to toggle to true via AppStateHOC.

[2018-11-09 19:28] evhan55 opened #3714 "Consolidate extension icons into a single repo?"
Currently, the small extension icons shown on the blocks, in the blocks menu and in the extensions library pane are all located as static files in various repos, including `scratch-gui`.  Consider putting them all into a single repo to limit redundancy.

One possibility is to put them all in `scratch-vm`, where the extensions live.

[2018-11-09 23:05] benjiwheeler opened #3717 "Can't change title of default project when editor embedded in www and user not logged in"
### Expected Behavior

With editor embedded in www, and user not logged in, go to `/preview/editor` . The title appears editable.

You should be able to edit the title, and have it be used for downloading, or applied to the project if you log in after you start to edit it.

### Actual Behavior

Editing the title does not change the title.

[2018-11-09 23:25] kaaaaathy opened #3718 "Dropdown menus in blocks, especially the ones that scroll, are confusing"
Dropdowns on blocks with list of sprites/assets, where the list extends beyond the height of the menu, do not have a visible scrollbar, so some Scratch users do not know they can scroll:

<img width="195" alt="screen shot 2018-11-09 at 6 24 35 pm" src="https://user-images.githubusercontent.com/8203939/48293379-bf201b80-e44c-11e8-81d7-f6055506d9cb.png">

[2018-11-09 23:29] kathymakes opened #3719 "Tutorials window needs design work"
We noticed in a couple of workshops that the tutorials window design is still challenging to use.
Here's an example of the window we're referring to:

<img width="1552" alt="screen shot 2018-11-09 at 6 28 26 pm" src="https://user-images.githubusercontent.com/8203939/48293480-4d949d00-e44d-11e8-8d68-4642ae801219.png">

### Next steps
We should spend some time thinking about:
- The size/positioning

[2018-11-10 09:01] hedgehog125 commented on #851
Maybe an alternative could be some accessibility settings like a high contrast option?

[2018-11-10 11:33] DeleteThisAcount opened #3720 "Microbit: high latency while using microbit"
### Expected Behavior
_micro:bit clicks have very little latency_

### Actual Behavior

micro:bit lags when buttons cliked

### Steps to Reproduce
connect microbit with scratch, load this
[Scratch Project.zip](https://github.com/LLK/scratch-gui/files/2568345/Scratch.Project.zip)
 project (change file extenstion to sb3)

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-11-10 11:51] SebCanet commented on #851
Can we test with tools like WAVE [http://wave.webaim.org/](http://wave.webaim.org/) ?
With a colleague we tried different things we think essential for kids:

- switch to black & white / colored version
- change font
- pick color and apply it on a block category
- use keyboard only: select block, pick it, drag and drop with keyboard arrows, contextual menu, etc

Some of these ideas are functionnal

[2018-11-10 23:10] towerofnix opened #3721 "Sprite info number inputs accept text"
### Expected Behavior

You shouldn't be able to type text in the sprite info inputs which are expected to only accept numbers, e.g. "size" or "x".

### Actual Behavior

You can type text in those inputs. Once you press enter or de-focus the input, the value will reset to whatever it was before.

### Steps to Reproduce

Type text into any of the number-based inputs in the sprite info area above the

[2018-11-11 00:05] towerofnix commented on #1792
Funnily enough, the canvas that dragged sprites are drawn in as well as the `blocklyBlockDragSurface` are both at high enough z-indexes that they would display over the toolbar. The trouble is that the overall `flex-wrapper` of scratch-gui's main area, below the nav bar, has `overflow-y: hidden`.

[2018-11-11 00:50] joker314 commented on #2241
Unable to reproduce. Has this been fixed, or am I doing something wrong?

[2018-11-11 09:47] crouse12 opened #3722 "window 7 cannot watch scratch 3.0 now."
### Expected Behavior
I hope that scratch 3.0 can be watched online in Win7.
_Please describe what should happen_

### Actual Behavior
Scratch 3.0 cannot be watched in Win7 Computer now.
_Describe what actually happens_
This site can not be watched if I use win7 computer.
https://beta.scratch.mit.edu/
### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Ac

[2018-11-11 11:48] apple502j commented on #3722
I use Win7 Firefox/Chrome and is working.
Maybe your PC doesn't support WebGL or your chrome is not the latest

[2018-11-12 04:16] sehgalvibhor commented on #3242
I think apart from the mentioned issue, the tool-tip sometimes goes out of bounds too. Attached image for reference:

![image](https://user-images.githubusercontent.com/10993808/48326518-ccf9ba80-e65f-11e8-9c00-72bf83b81b37.png)

This is happening due to dynamic tool-tip text, if I change it to static. It renders just fine !

[2018-11-12 08:52] crouse12 commented on #3722
I find that the avast antivirus software plugin will block scratch 3.0.
When I stop this plugin of my chrome, I can use scratch 3.0.

[2018-11-12 13:29] LukeSchlangen commented on #3659
I'm really interested in this issue (async stuff is always fun), but I don't think I understand the project well enough to help with this. I don't see "Save now" or "Save as Copy" in the current `develop` branch. Which branch will allow me to reproduce this error?

[2018-11-12 15:12] #3643 closed

[2018-11-12 16:34] rschamp opened #3723 "Handle project upload errors"
When we catch errors after attempting to store project or asset data, we should let the user know and attempt to recover if possible.

Scratch 2.0 retries, backing off exponentially if it fails to save. Scratch 2.0 also assumes that the user is logged out when it fails to save sometimes. We should avoid this behavior in 3.0.

This has a few forms:
- [ ] Network timeouts (#3762)
- [ ] The server is

[2018-11-12 21:16] joker314 commented on #1650
@kchadha Hmm, I'm a little confused what you mean by "consistent with 2.0". When you try to do this in Scratch 2.0, the parameters are automatically renamed such that they are suffixed with a number (i.e., "Hello" then "Hello2")

[2018-11-13 02:59] kosiecki17 opened #3726 "Filter for letter sprites in library"
Add filter for letter sprites to the top bar of the sprite library.

This is particularly important for the Animate a Name tutorial.

<img width="856" alt="sprite-filters" src="https://user-images.githubusercontent.com/25378759/48388065-14b32d00-e6c6-11e8-955a-f288d10be374.png">

[2018-11-13 13:52] benjiwheeler commented on #3659
Thanks for your interest, @LukeSchlangen! Unfortunately, this is a very hard category of issue for folks in the Scratch community to help with, because it's tightly tied to the development of the Scratch website's new project page (which we're working on in a separate, internal repo).

If you're interested in learning more about how this sort of thing is being handled in scratch-gui, I recommend s

[2018-11-13 15:36] kosiecki17 commented on #3726
Note: The Letters filter can be added to the end of the list after Fashion.

Thanks!

[2018-11-13 15:37] benjiwheeler opened #3727 "Alerts phase 2: saving"
@carljbowman, @kathymakes and @benjiwheeler identified this iteration of alerts-related work:

https://github.com/LLK/scratch-gui/pull/3776 addresses many of the points below:

- [x] editor menu bar should have a place to display messages (PR: https://github.com/LLK/scratch-gui/pull/3776 )
  * this is tracked in: https://github.com/LLK/scratch-www/issues/2275
  - [x] support for different text mod

[2018-11-13 15:50] fsih commented on #3698
Maybe the strangeness here is that we switch to the code tab when you add a sprite on the costume tab. It's reasonably likely that you are on the costume tab to edit the sprite. Consider:
- Adding a surprise _backdrop_ forces you to the _costumes_ tab
- Adding a surprise **sprite** forces you to the **code** tab
- Uploading a _backdrop_ forces you to the _costumes_ tab
- Uploading a **sprite** for

[2018-11-13 15:59] kathymakes commented on #3727
Thanks for writing this up @benjiwheeler ! We should figure out an amount of time to display "Saved" - how many seconds should it stay up there? if changes _are_ made immediately after, does the message go away, or not?

Also, I'm kinda partial to making "Saving" bold and "Saved" dimmed - in case we ever add a timestamp modal. ("Saved 4 minutes ago" could be dimmed, for instance.)

[2018-11-13 16:02] thisandagain commented on #3726
@kosiecki Would we like to do this for letter costumes as well?

[2018-11-13 16:02] thisandagain commented on #3726
@paulkaplan Could you take this?

[2018-11-13 16:13] BryceLTaylor opened #3728 "Issues found in bughunt and exquisite playtest on 11/9/18"
### From Bug Hunt
* [x] Bouncy Heroes is still sluggish on Android Tablet Chrome (but better than it used to be!) @benjiwheeler
* [ ] When I put in https://scratch.ly/preview/1000015461/editor on Samsung chromebook, whatever happened was very weird. Some SVG rendering glitch? @kathymakes
![image1](https://user-images.githubusercontent.com/1088291/48425898-ba50b580-e733-11e8-9bb3-4bcdc2af7e6f.png)

[2018-11-13 16:15] picklesrus commented on #3207
Whoops, Somehow I missed this bug. No. I don't think it will break the android soft-keyboard fix. I think we should call Blockly.hideChaff when someone clicks on the stage. Given that clicking on other non-blocks/workspace things (e.g. sprite info panel, costume tab) seems to drop focus on the field, I think we just need to mimic that and hideChaff should do the trick.

[2018-11-13 16:20] BryceLTaylor opened #3730 "Issues found in bughunt and exquisite playtest on 11/9/18"
### From Bug Hunt
* [ ] Cannot click on add extension button after having used the note picker at all? Can click on the other categories, and was able to click on that button before because I was able to add the music extension to use the note picker…
Stage selector was also not clickable...
(Cannot produce a consistent repro for these) @kchadha
* [x] Open things on the blocks (e.g. note picker fi

[2018-11-13 16:24] fsih commented on #3207
Very impressed with the captioning

[2018-11-13 16:25] BryceLTaylor opened #3732 "Issues found in bughunt and exquisite playtest on 11/9/18"
* [x] On Android Tablet Chrome: Piano notepicker appeared fine at first, but then later it appeared at half width @benjiwheeler
![image14](https://user-images.githubusercontent.com/1088291/48427209-4368ec00-e736-11e8-9894-dcd316c7ff32.png)
![image15](https://user-images.githubusercontent.com/1088291/48427269-63001480-e736-11e8-81ee-979976db69de.png)
![image16](https://user-images.githubusercontent

[2018-11-13 16:30] BryceLTaylor opened #3733 "Issues found in bughunt and exquisite playtest on 11/9/18"
### From Bug Hunt
* [x] Logged out of scratch.ly, I somehow got the browser to display preview/0/editor, which is super wrong. But I can’t reproduce. Might be important to reproduce this. @benjiwheeler
* [x] General.username on login menu @BryceLTaylor
* [x] Nitpick:  extra line above “New” @kathymakes
![image3](https://user-images.githubusercontent.com/1088291/48427661-3bf61280-e737-11e8-9c34-81c

[2018-11-13 16:34] BryceLTaylor opened #3734 "Issues found in bughunt and exquisite playtest on 11/9/18"
### From Bug Hunt
* [ ] In Thai, the string for “Need Help” gets really long. Should either wrap (if it makes sense syntactically) or push the overlay window wider. @kathymakes
![image4](https://user-images.githubusercontent.com/1088291/48427845-b757c400-e737-11e8-8f76-eeb66e5bad97.png)

### From Play Test
* [ ] Another string wrapping thing in Greek.  When we wrap, we can probably do it more deli

[2018-11-13 16:38] BryceLTaylor opened #3735 "Issues found in bughunt and exquisite playtest on 11/9/18"
### From Bug Hunt
* [ ] You can totally add code to change a cloud variable in someone else’s project in editor mode and it works.  It shouldn’t. @BryceLTaylor

Device | Browser | Name
-- | -- | --
Windows* | Chrome | Paul
Mac | Chrome | FORBIDDEN!!!!!!!!
iPad** | Safari | Karishma
Chromebook | Chrome | KathyThis was the silver samsungChrome OSVersion 69.0.3497.120 (Official Build) (32-bit)
Window

[2018-11-13 16:39] kchadha opened #3736 "Variable modal css looks different when embedded in www"
### Expected Behavior

Styling of things should look the same in www and standalone.

### Actual Behavior

The options in the variable modal display so that the labels for the variable options are too close to the radio buttons/checkbox when the gui is embedded in www.

![image](https://user-images.githubusercontent.com/1786240/48428304-be330680-e738-11e8-8e4c-7f57b6627aac.png)

[2018-11-13 17:13] evhan55 opened #3738 "Add RTL layout to new extension library"

[2018-11-13 17:50] #3675 closed

[2018-11-13 20:59] benjiwheeler commented on #3035
This was basically closed by https://github.com/LLK/scratch-gui/pull/3638 .

The only non-closed aspect is the display of errors, which is tracked in https://github.com/LLK/scratch-gui/issues/3324 .

@kyleplo , you're right! So per https://github.com/LLK/scratch-gui/pull/3638 , auto-saves are not using the alert system.

[2018-11-13 20:59] #3035 closed

[2018-11-13 21:05] benjiwheeler opened #3742 "Extra menu divider in File menu"
There's now an extra divider showing up in the File menu, a side effect of https://github.com/LLK/scratch-gui/pull/3651 .

![48427661-3bf61280-e737-11e8-9c34-81ca444e040c](https://user-images.githubusercontent.com/3431616/48442888-77a3d300-e75d-11e8-8f2c-6d1105fb8014.png)

[2018-11-13 21:08] benjiwheeler opened #3743 "On iOS, username field auto-capitalizes first letter"
### Expected Behavior

Type your username in lowercase, or however you write it!

### Actual Behavior

iOS autocapitalizes first letter... AAARGH

### Solution

Looks like we could do what's recommended here https://stackoverflow.com/questions/5171764/how-do-you-turn-off-auto-capitalisation-in-html-form-fields-in-ios

...which is to use

[code]

[2018-11-13 21:09] benjiwheeler opened #3744 "Don't ask user to "replace contents of the current project" if that's not what they're doing!"
signed in to scratch.ly, looking at someone else’s project, File->New currently pops up “replace contents of current project?” but that’s super misleading… maybe “leave without saving?”

[2018-11-13 21:10] benjiwheeler commented on #3733
Tracking in:
* https://github.com/LLK/scratch-www/issues/2308
* https://github.com/LLK/scratch-gui/issues/3742
* https://github.com/LLK/scratch-gui/issues/3743
* https://github.com/LLK/scratch-gui/issues/3744
* https://github.com/LLK/scratch-gui/issues/3324

[2018-11-13 21:10] #3733 closed

[2018-11-13 22:24] BryceLTaylor opened #3747 "On old chromebooks loops stutter"
### Expected Behavior

If you have a sprite moving around the stage in a forever loop it should move smoothly at the same rate the whole time.

### Actual Behavior

Sometimes the sprites stop moving on the stage briefly and then start moving again.  This happens periodically and seemingly randomly.

### Steps to Reproduce

Add this block stack to the cat:
<img width="180" alt="screen shot 2018-11-

[2018-11-13 22:50] fsih opened #3748 "Watermark is not showing up for some uploaded svgs"
### Expected Behavior
There should be a thumbnail of the sprite in the workspace

### Actual Behavior
For some uploaded SVGs none shows up

### Steps to Reproduce
Upload the attached SVGs
[svgs.zip](https://github.com/LLK/scratch-gui/files/2578453/svgs.zip)

### Operating System and Browser
Windows Chrome, Firefox

[2018-11-13 22:59] MasterOfTheTiger commented on #3747
Switching sprites make it stutter here as well:
![peek 2018-11-13 14-57](https://user-images.githubusercontent.com/16640496/48448639-98891a00-e797-11e8-8857-9aafcac076fa.gif)

Firefox ESR on Fedora GNU/Linux 29.

[2018-11-13 23:08] ericrosenbaum commented on #3401
I saw this same phenomenon again: while connecting to a WeDo, the connecting step froze for a few seconds (at which point the WeDo's LED turned blue), and then the entire browser window went black (i.e. no part of chrome is visible at all- only windows UI) for at least 30 seconds. Then the tab bar of chrome re-appeared, but the window remained black until I dragged the window a little bit. The Scr

[2018-11-13 23:11] towerofnix commented on #3747
@MasterOfTheTiger Same on my computer (also firefox/linux). I think it has more to do with loading the block workspace of the new sprite in that case, which is maybe somewhat expected (it's the only thing that stutters Scratch on my computer anyhow). If you just click the sprite you already have selected, so that it shows the highlight around the sprite but doesn't switch workspaces, there's no st

[2018-11-14 00:13] evhan55 opened #3750 "Extensions: make extension alerts a type of standard alert?"
And have standard alerts have optional buttons with actions?

[2018-11-14 01:00] Alzter opened #3751 "You can draw boxes outside of the costume editor"
### Expected Behavior

_Drawing a shape like a rectangle and going past the edge of the costume editor should make it stop at the edge._

### Actual Behavior

_The shape goes past the edge of the costume editor._

### Steps to Reproduce

_Draw a shape and move your cursor past the edge of the costume editor._

[2018-11-14 01:17] Alzter opened #3752 "The scripts area needs work."
### Blocks
Blocks in 3.0 are unbalanced. The text is smaller than that of Scratch 2.0 but the block itself is about 3 times bigger. Zooming out to shrink the blocks makes the text illegible, which is a problem. I think it would be a good compromise to make all of the blocks have exactly the same shape and colour as they had in Scratch 2.0 but increase the default zoom level so everyone can choose

[2018-11-14 01:35] towerofnix commented on #3751
I'd argue that this is significantly more practical than troublesome. If there's ever really a case where you end up making a shape that's way, way too big, you can just delete it. So I'm wondering - what problems does creating shapes outside of the costume area cause?

[2018-11-14 01:37] Alzter commented on #3719
Maybe there could be a sidebar that has walk-through tutorials you can select from? And I don't just mean a slideshow of the steps to do like in Scratch 2.0, what if it was actually interactive and walked you through the steps? It would be cool if there was a tutorial system that guides you through the basic system of how things work when going into the project editor for the first time but also h

[2018-11-14 01:44] evhan55 opened #3753 "Add RTL to alerts"

[2018-11-14 01:48] Alzter opened #3754 "Costume editor needs tweaking"
The Scratch 3.0 costume editor is good, but it needs work. Here's some things I would like changed for it:

- The costume editor's top bar has so much padding that my costume editor area has a scrollbar. Please reduce the amount of padding on the top bar of the costume editor so the editor isn't at the bottom of the screen.

- The costume editor area shouldn't have rounded edges as it's technicall

[2018-11-14 01:51] Alzter commented on #2389
Sprites using the _ of _ block should also be able to select themselves so clones can use them.

[2018-11-14 02:01] ericrosenbaum opened #3755 "Dragging the paint editor color picker slider to the edge selects lots of text in the GUI"
### Expected Behavior

Dragging the sliders in the paint editor color picker should not cause text all over the GUI to become selected.

### Actual Behavior

When you drag a paint editor color picker slider to the edge, several text areas all over the GUI become selected (in the paint editor, in the sprite info area, and other places):

![color-picker-slider-select-bug](https://user-images.githubu

[2018-11-14 02:02] Alzter commented on #3751
I have used the boundary a lot for making precise shapes like 480 x 360 rectangles, GUI, and other things mostly involving rectangles. You can still make out of bounds rectangles with the stretch tool.

[2018-11-14 02:05] Alzter commented on #3755
There's a lot of text in Scratch 3.0 that you can select that shouldn't be selectable and CTRL+A selects everything on the page.

[2018-11-14 02:09] Alzter commented on #3744
When I first used File>New I thought I had erased everything in the project I was on, not created a new one.

[2018-11-14 02:16] Alzter commented on #3708
My screen resolution seems to be quite problematic for Scratch 3.0.

- The scripts area is small and hard to work with (considering all the padding).

- The costumes area has an extra scrollbar due to all the padding in the top bar of the costume editor.
![image](https://user-images.githubusercontent.com/22513909/48455427-34a23800-e80f-11e8-95fa-ccfba0da4b57.png)

[2018-11-14 02:19] Alzter opened #3756 "Add Instructions and Notes and credits to project files"
It would be awesome to restore the Scratch 1.4 behaviour of saving the description to the project rather than just the server so uploading projects gets the description and the notes and credits.

[2018-11-14 02:20] benjiwheeler commented on #3744
@alzter, do you mean in Scratch 2.0, or in the 3.0 Beta?

[2018-11-14 02:32] Alzter opened #3757 "Timing Glitches"
This project behaves differently in Scratch 3.0
https://scratch.mit.edu/projects/260838350

### Expected Behavior
_The timing matches with the 2.0 project in Scratch 3.0_

### Actual Behavior

_The timing mismatches between versions_

### Steps to Reproduce

_Run the project in Scratch 3.0_

[2018-11-14 02:42] Alzter commented on #3501
I agree. Also, we should still have a "See Community" button even if your project is unshared.

[2018-11-14 02:44] Alzter commented on #3509
See, that's what File>Revert is for. That being said it should be more obvious.

[2018-11-14 02:48] Alzter commented on #3465
Aren't we kind of limited for window size since the 2.0 embeds have the window size in them?

[2018-11-14 02:50] Alzter commented on #1826
Can there also be a way to choose how much you want to apply each effect?

[2018-11-14 02:53] Alzter commented on #1525
That's what I was thinking!

[2018-11-14 02:59] towerofnix commented on #3751
Interesting point. How do you accurately make, for example, a 480x360 rectangle (no larger nor smaller) if A) you start dragging from somewhere around the middle of the screen (i.e. not on a literal corner) and B) stretching allows the rectangle to surpass the border? I tried in the 2.0 editor, but couldn't make such a rectangle in a single step. To fill in all four corners I had to create four re

[2018-11-14 03:07] towerofnix commented on #3509
Do note that uploading a project via file -> upload is frequently used for sharing a "new version" of a project. I think the issue acknowledges this.

For example, I have created a large project that I want to share an initial version of; I call this my "alpha" version. I share it, then I click "file -> save a copy"; this creates a version of the project which I do further development on. Then whe

[2018-11-14 04:42] Alzter commented on #3751
![2018-11-14_15-40-44](https://user-images.githubusercontent.com/22513909/48460586-c5830e80-e823-11e8-8d03-db664bbb840d.gif)
Here's how I do it.

[2018-11-14 04:47] towerofnix commented on #3751
@Alzter ah, forgot you could start a drag by clicking outside the stage area! That's not something you can do in 3.0 (which poses a problem since it means one can't use your method).

[2018-11-14 05:00] Alzter opened #3758 "Add messages box in the editor"
Would be useful so you don't miss anything while making stuff. Would be awesome too if clicking it brought up a smaller menu that let you respond to messages in the editor like griffpatch's Scratch messaging extension.

[2018-11-14 05:08] Alzter opened #3759 "Text can clip through the costume box"
### Expected Behavior

_By typing text that goes outside the box, nothing happens_

### Actual Behavior

_Typing text that goes outside of the box makes the costume editor scroll to the right_
![image](https://user-images.githubusercontent.com/22513909/48461290-1fd19e80-e827-11e8-941b-bfbd466fd1fd.png)

### Steps to Reproduce

_Make some text with the text tool and keep typing until it goes out of

[2018-11-14 05:30] Alzter opened #3760 "Ask box needs bigger text"
![image](https://user-images.githubusercontent.com/22513909/48461940-4218eb80-e82a-11e8-8c1f-554e722631bd.png)

The text in the ask box is extremely small. Why is it so small when the box has so much space? I made a little mock-up of a better redesign for it that shrinks the (rather unnecessary padding) and makes the text bigger.

![image](https://user-images.githubusercontent.com/22513909/4846202

[2018-11-14 06:45] Alzter commented on #3759
![image](https://user-images.githubusercontent.com/22513909/48464849-13ecd900-e835-11e8-895b-4b8b1fcb0522.png)
A similar occurrence happens with block inputs.

[2018-11-14 11:24] rschamp opened #3761 "Modal (Alert) when a project or asset fails to save"
Part of https://github.com/LLK/scratch-gui/issues/3723

In any case where the project fails to save, we should display a modal to the user while we begin retrying.

The modal should have a button which will download the SB3 of the project to the user's computer.

[2018-11-14 11:26] rschamp opened #3762 "Handle network timeouts when saving projects"
Part of #3723

If there is no network connection while saving a project, we should display a modal to the user (#3761), and we should begin retrying the save, backing off the time between retries exponentially as we wait for a re-connection to a network.

[2018-11-14 11:41] #3597 closed

[2018-11-14 11:46] benjiwheeler opened #3763 "Alerts should dismiss themselves automatically after some amount of time"
### Expected Behavior

Alert appears; alert disappears.

### Actual Behavior

Alert sticks around until you click to dismiss it.

[2018-11-14 12:03] rschamp opened #3764 "Handle asset and project server error responses while saving projects"
Part of #3723

When saving a project, if we receive an error status as a response from the asset or project servers, we should display a modal to the user (#3761), and in the background, determine if we can recover from the error.

First we should determine if the user is still logged in. If they aren't logged in anymore, we should do... _something_ (@carljbowman @kathymakes help please?).

If the

[2018-11-14 12:05] rschamp commented on #3764
I put this in November just for the phase of figuring out what we want to happen. And since I chatted with @paulkaplan a little about this already, I assigned him for this discussion. But anyone is welcome to chime in of course, and we should bring up the results of this at a project page huddle.

[2018-11-14 12:55] hahapang commented on #2241
I verified it and this issue has been fixed.

[2018-11-14 12:56] hahapang commented on #2318
This issue cannot reproduce, because the stage hided the Motion blocks.

[2018-11-14 12:57] #2241 closed

[2018-11-14 12:59] hahapang commented on #1968
Hide the menu by right-clicking mouse.

[2018-11-14 12:59] #1968 closed

[2018-11-14 13:22] abattle opened #3765 "How to determine if the program is loaded?"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-11-14 13:41] thisandagain commented on #3720
/cc @ericrosenbaum @cwillisf @BryceLTaylor

[2018-11-14 13:42] Alzter commented on #3744
In Scratch 2.0

[2018-11-14 13:42] thisandagain commented on #3693
/cc @mzgoddard

[2018-11-14 13:47] Alzter commented on #3751
I'm pretty sure the dragging outside the box was a glitch in 2.0, but I use it all the time so it's kind of a feature on accident? It'd be good to see it in 3.0 if possible. Maybe add an object border and let objects be created about 5-10px away from the canvas?

But then it's a bitmap object that you can't edit in vector!

[2018-11-14 14:14] chrisgarrity commented on #3734
Tracking in https://github.com/LLK/scratch-www/issues/2309

[2018-11-14 14:14] #3734 closed

[2018-11-14 14:27] chrisgarrity opened #3767 "Update the README for Windows"
There are questions about building the editor on Windows (coming in from translators and in the forums). We should at least document our preferred way of running with [Windows Subsystem for Linux ](https://docs.microsoft.com/en-us/windows/wsl/install-win10).

[2018-11-14 14:29] paulkaplan commented on #2318
I'm going to re-open this because you can still do it with other blocks, and they still overlap.

[2018-11-14 14:43] benjiwheeler commented on #2956
Closing because these are implemented in code; next, they need to have their CSS brought into line with this spec.

[2018-11-14 14:43] #2956 closed

[2018-11-14 14:53] #3726 closed

[2018-11-14 15:32] #3637 closed

[2018-11-14 15:49] evhan55 commented on #3720
Hi, thank you for the report!
We would like to ask for a few more details:
- What operating system were you using?
- What browser?
- What version of Scratch Link?

Thanks again!

[2018-11-14 16:44] ericrosenbaum opened #3769 "In Mac Safari, dragging off the edge of the note picker selects large areas of GUI"
### Expected Behavior

Dragging should not unexpectedly cause areas of the GUI to become selected.

### Actual Behavior

On Mac Safari, if you are dragging on the note picker to player notes, and you drag off the edge, several large areas of the GUI become selected:

<img width="856" alt="screen shot 2018-11-14 at 11 43 04 am" src="https://user-images.githubusercontent.com/567844/48497604-7973a200

[2018-11-14 17:00] ericrosenbaum commented on #3732
Filed:
https://github.com/LLK/scratch-blocks/issues/1783
https://github.com/LLK/scratch-gui/issues/3769

[2018-11-14 17:00] ericrosenbaum commented on #3732
I was unable to reproduce this one, using Scratch Link 1.1.9:
"Connect to EV3, disconnect by quitting scratch link. Restart scratch link, click the notification to reconnect. Successfully connect. Then quit scratch link again and it doesn’t actually think it is disconnected. @picklesrus"

[2018-11-14 17:03] ericrosenbaum commented on #3732
I was unable to reproduce this one, using Scratch Link 1.1.9:
"Unable to test wedo reconnection. Was unable to connect to WeDo after removing old Scratch Link and installing the latest Scratch Link from the wedo page. (both safari and chrome), EV3 on chrome was ok. @chrisgarrity"

[2018-11-14 19:23] ericrosenbaum opened #3770 "Record modal mic permission prompt arrow points the wrong way in Edge"
### Expected Behavior

When the you open the sound recorder but have not granted microphone permissions yet, the message should help you understand how to grant permissions (e.g. by pointing in the direction of the browser's permissions dialog).

### Actual Behavior

Currently we use a little unicode symbol with an arrow pointing up and to the left, which accurately points toward the browser's per

[2018-11-14 19:24] ericrosenbaum commented on #3732
Filed https://github.com/LLK/scratch-gui/issues/3770

[2018-11-14 20:12] ericrosenbaum commented on #2906
Filed https://github.com/LLK/scratch-audio/issues/109

[2018-11-14 20:18] ericrosenbaum opened #3771 "Audio trim on Android may be laggy"
@LiFaytheGoblin reported (using Chrome on an Android tablet): "Tried trimming a sound but accidentally clicked trim button twice because the effect of clicking it once was delayed and then I removed parts of the sound I didn’t want to be removed."

[2018-11-14 20:19] ericrosenbaum commented on #2906
Filed https://github.com/LLK/scratch-gui/issues/3771

[2018-11-14 20:19] #2906 closed

[2018-11-14 20:29] Alzter commented on #3751
Can't it be added?

[2018-11-14 20:55] ericrosenbaum commented on #3001
Filed https://github.com/LLK/scratch-gui/issues/3307

[2018-11-14 20:59] ericrosenbaum opened #3773 "On iOS, sound editor can get stuck and stop working"
@kchadha reports on iOS: "Sound editor waveform playhead stays stuck in one place and play button gets stuck on stop… Also sound doesn’t play… (needs consistent repro)"

[2018-11-14 20:59] ericrosenbaum commented on #3001
Filed https://github.com/LLK/scratch-gui/issues/3773

[2018-11-14 21:00] ericrosenbaum commented on #3001
The "incoming network connections" dialog is no longer an issue with the latest Scratch Link AFAIK.

[2018-11-14 21:00] #3001 closed

[2018-11-14 22:44] ericrosenbaum commented on #3438
A minimal repro for this bug, which prevents all projects with extensions from loading correctly in www in editor mode.

This is a simple project with a single pen stamp block which works when you load in the project page:
https://scratch.ly/preview/1300000232/

Click "see inside" and note that the "pen stamp" block is missing from the workspace (it should be `when gf clicked / forever / go to ran

[2018-11-14 22:50] ericrosenbaum commented on #3549
- now fixed: extension tiles have different heights
- extension blocks are red on www: filed in https://github.com/LLK/scratch-gui/issues/3438

[2018-11-14 22:57] thisandagain commented on #3438
/cc @kchadha Any thoughts?

[2018-11-14 22:58] thisandagain commented on #3438
@cwillisf Sorry to add this to your plate last minute, but this is a critical bug that we could use your help with.

[2018-11-14 22:58] ericrosenbaum opened #3778 "On Mac Safari, sound editor undo/redo buttons render incorrectly"
They have a weird gap:

![image4](https://user-images.githubusercontent.com/1088291/47668142-0de0d200-db7e-11e8-8f81-201975da88d7.png)

reported by @carljbowman

[2018-11-14 23:03] ericrosenbaum commented on #3732
"The preview page (community view) gets ‘oops’ BSOD if the project includes the text2speech" is fixed by https://github.com/LLK/scratch-www/pull/2313

[2018-11-14 23:03] #3732 closed

[2018-11-15 05:41] benjiwheeler commented on #3727
Will go with "Saving" bright and prominent, and "Saved" dimmed.

Starting with the "Saved" message staying visible for 5 seconds; let's see how it feels.

With https://github.com/LLK/scratch-gui/pull/3776 , messages will replace each other immediately.

[2018-11-15 06:09] benjiwheeler commented on #3664
closed by https://github.com/LLK/scratch-gui/pull/3638

[2018-11-15 06:09] #3664 closed

[2018-11-15 11:39] crouse12 opened #3781 "save project"
In file of menu, I only see "download to your computer". However, "save as a copy" disappears. In the source code,  I find
                                <MenuSection>
                                    {this.props.canSave ? (
                                        <MenuItem onClick={this.handleClickSave}>
                                            {saveNowMessage}

[2018-11-15 11:53] benjiwheeler commented on #3781
In beta.scratch.mit.edu, we are not going to enable saving projects.

The `save now` and `save as a copy` menu items will be enabled when we launch in January.

[2018-11-15 11:53] #3781 closed

[2018-11-15 15:20] DeleteThisAcount commented on #3720
windows 10 on a dell inspiron (chrome)
i was using scratch link downloaded 5 days ago

[2018-11-15 15:21] kchadha commented on #3438
I think this is possibly caused by a race condition between extensions loading and blocks loading. In the project page e.g. /preview/:id, there is no blocks container. When you click 'see inside' there is suddenly a blocks container, but I'm worried that we are trying to render extension blocks before scratch-blocks knows what they look like. The red blocks become normal extension blocks when caus

[2018-11-15 15:26] ericrosenbaum opened #3785 "Stop button should be enabled while a sound is playing"
### Expected Behavior

The stop button should be enabled any time Scratch is doing something that you can stop by clicking on it.

### Actual Behavior

If you start a sound using the "start sound" block, and nothing else is running, you will be in a state where the sound continues to play, but the stop button appears disabled. You can still click on the stop button to stop the sound.

reported by

[2018-11-15 15:31] #1702 closed

[2018-11-15 15:34] kchadha commented on #1650
@joker314, I believe you're referring to a different issue which is specifically for parameter name collision. What @cwillisf was originally talking about in this issue was custom block name collision (e.g. having two custom blocks named 'hello' instead of having two parameters named 'hello' on one custom block.

What you mentioned above is indeed an inconsistency between 2.0 and 3.0 and should pr

[2018-11-15 15:38] kchadha opened #3787 "Custom procedure parameter name collision"
### Expected Behavior

A custom block should not be able to have two parameters with the same name.

### Actual Behavior

They can.

### Steps to Reproduce

1. Click "Make a Block"
2. Set the name to 'hi'
3. Add a parameter and name it 'hello'
4. Repeat step 3
5. Click "OK" on the "Make a Block" dialog

Compare these steps to scratch 2.0 the results are:
![image](https://user-images.githubusercont

[2018-11-15 15:39] kchadha commented on #1650
Just filed #3787 to track the issue @joker314 found.

[2018-11-15 16:00] #3738 closed

[2018-11-15 18:40] #3324 closed

[2018-11-15 20:58] ericrosenbaum opened #3790 "Tutorials library displays incorrectly when "music" filter is selected"
### Expected Behavior

Tutorial library tiles should display consistently

### Actual Behavior

The tutorial library displays incorrectly with "music" selected:

<img width="1276" alt="screen shot 2018-11-15 at 3 39 07 pm" src="https://user-images.githubusercontent.com/567844/48580422-304c4c80-e8ed-11e8-85cd-6cba358cd3cc.png">

Actually the bug is that the large-size tiles used in the tutorials an

[2018-11-15 21:01] evhan55 commented on #3790
@ericrosenbaum @carljbowman
oooh!  Is there an ideal min-height here?

[2018-11-15 21:20] kyleplo opened #3793 "Add a way to load with extension library open"
### Expected Behavior

There should be a way to load the extension library from the url, like `https://beta.scratch.mit.edu/?extensions=all`

Maybe also a way to load a specific extension, like `https://beta.scratch.mit.edu/?extensions=music` or multiple extensions like `https://beta.scratch.mit.edu/?extensions=music,pen`

### Actual Behavior

This doesn't exist

### Steps to Reproduce

Try it

##

[2018-11-15 21:52] #3549 closed

[2018-11-15 22:03] #3790 closed

[2018-11-16 00:26] cwillisf opened #3796 "Build fails if working directory is a symbolic link"
### Expected Behavior

`npm run build` should succeed

### Actual Behavior

If the current working directory is a symbolic link, Webpack fails to parse JSX files correctly with messages like this:
[code]

It looks like it's trying to interpret JSX as plain JavaScript. My guess is that the `includes:` filter for `babel-loader` is rejecting these files.

### Steps to Reproduce

1. Clone this reposit

[2018-11-16 03:32] kchadha opened #3797 "Loading two projects consecutively can lead to weird state"
@rschamp (on Mac Firefox) noted:

![image30](https://user-images.githubusercontent.com/1088291/46353885-3c28cb80-c62b-11e8-950a-e4e62489c269.png)

Found in bug hunt on 09/28

[2018-11-16 03:42] kchadha opened #3799 "Investigate errors and warnings in Griffpatch's Tower Defence"
There are lots of errors/warnings that remain when interacting with the following project (e.g. running the project, switching sprites, etc.)

https://llk.github.io/scratch-gui/develop/#15200040

Some of these are variable conflicts:
![image](https://user-images.githubusercontent.com/1786240/48596510-542c8400-e927-11e8-9702-b9e2fe506563.png)

and some of these are warnings about comments:
![image]

[2018-11-16 04:05] kchadha opened #3800 "Block comments stay on the left when switching from a workspace loaded in arabic to english"
@BryceLTaylor noted in a bug hunt on 10/12/18:

[2018-11-16 04:30] kchadha opened #3801 "Switching from English to Arabic does not place nested block comments correctly"
@BryceLTaylor and @kathymakes note in a bug hunt on 10/12/18

[2018-11-16 04:39] kchadha opened #3802 "Loading a project with comments in RTL and then switching tabs and back shifts comments over"
@ericrosenbaum notes in a bug hunt on 10/12/18

[2018-11-16 04:50] kchadha opened #3803 "Project causes serious lag/freeze in Firefox"
https://llk.github.io/scratch-gui/develop/#71816138

@kathymakes notes in bug hunt on 10/12/18:

I am also seeing this issue on Mac OS Firefox (right as I was about to lose the game?)
Game gets completely stuck in this state and then the yellow warning/error bar pops up on the top of the webpage:
![image](https://user-images.githubusercontent.com/1786240/48598492-192f4e00-e931-11e8-9978-01cc2c5e36

[2018-11-16 12:00] benjiwheeler commented on #3793
This sounds useful. Maybe @chrisgarrity and I could take a look in our URL work this month?

[2018-11-16 13:22] #3710 closed

[2018-11-16 17:02] Mr-Dave2 commented on #3803
The issue might be how good is your aim and how fast can you click.  The bullets clone themselves  and are overlapping so you can't tell.   However, If there are 5 bullets on the screen and you click the background you'll create 16 more clones in a frame and each one will then play a sound and start running several stacks.

I remixed the project to spreads out the bullets.  https://scratch.mit.edu

[2018-11-16 19:45] BryceLTaylor opened #3808 "Issues found in the Bug Hunt on 11/16"
* [ ] Slight periodic slowdown in Geometry Dash @BryceLTaylor
* [ ] There was a white flash at one point in Geometry Dash @BryceLTaylor
* [ ] Geometry Dash is pretty slow on Android Chrome (I’ve experienced it faster on other devices.) @kathymakes
* [ ] On Android tablet, the scrollbar for the block area fights you (I can’t scroll below the fold). This is on scratchly in the Sensing & Looks catego

[2018-11-16 19:56] BryceLTaylor opened #3809 "Issues found in the Bug Hunt on 11/16"
* [x] Monitor label for “day or week” has no spaces - it shows up as “dayofweek” @ericrosenbaum [Has patch in #3824]
* [ ] When you try to upload on an Android (samsung) tablet, it asks if you want to upload from Camera or microphone… which is weird and probably never a use case? Can we default it to Documents? @ericrosenbaum
* [ ] Green flag icon flashes on green flag hat when connecting a block

[2018-11-16 19:59] BryceLTaylor opened #3810 "Issues found in the Bug Hunt on 11/16"
* [x] On Scratch.ly, on Chromebook, project title and byline are in the incorrect font I think: @ericrosenbaum
![image8](https://user-images.githubusercontent.com/1088291/48644256-0dcf3780-e9b0-11e8-97f3-bf122eed155d.png)
* [ ] A project I clicked on from the homepage won’t load on scratch.ly.
https://scratch.ly/preview/1000014724/ @picklesrus
* [ ] Saving an SVG with text to your backpack causes

[2018-11-16 20:06] BryceLTaylor opened #3811 "Issues found in the Bug Hunt on 11/16"
* [x] Still seeing General.username, etc. in login menu @BryceLTaylor
* [x] The alerts should ideally replace each other (If I save, then save a copy, the newest alert should take the place of the older one.) @kathymakes
* [x] Should alerts display on top of modals? @kchadha
![image6](https://user-images.githubusercontent.com/1088291/48644477-ad8cc580-e9b0-11e8-86fc-18a8ede08e64.png)
![image2](htt

[2018-11-16 20:08] BryceLTaylor opened #3812 "Issues found in the Bug Hunt on 11/16"
* [ ] Custom block insertion marker appears to be the wrong width, when you attach a C-block containing a long command block onto a custom block definition hat (the c-block shaped marker takes the width of the longest contained block, instead of the width of the actual c-block): @ericrosenbaum
![image7](https://user-images.githubusercontent.com/1088291/48643758-94831500-e9ae-11e8-9828-68bc6855f21e

[2018-11-16 20:11] BryceLTaylor opened #3813 "Issues found in the Bug Hunt on 11/16"
* [ ] Colors are much muddier (particularly yellows and oranges, which start to look really similar) on certain devices. (On Android Tablet) @kathymakes
* [ ] Sizing and spacing of alerts can be cleaned up. It covers a lot of the editor space, particularly on lower res screens. @kathymakes

Device | Browser | Name
-- | -- | --
Chromebook | Chrome | Eric R
Windows* | Firefox | Paul
Android Tablet |

[2018-11-16 20:13] BryceLTaylor opened #3814 "Issues found in the Bug Hunt on 11/16"
* [x] It would be nice if we loaded the containers for library items even if the items themselves are not loaded.
Right now when I scroll through sound library on a tablet, it just shows a blank blue background for a few seconds. This is because the Android tablet is very slow in general. We could do some kind of “greeking” effect for slow devices? @kathymakes
* [x] Sound recorder on Android Table

[2018-11-16 20:17] BryceLTaylor opened #3815 "Issues found in the Bug Hunt on 11/16"
* [ ] You can paint a circle small enough in bitmap that it doesn’t draw anything.  It should probably be at least one pixel @BryceLTaylor
* [ ] Drawing a circle in bitmap when really zoomed in seems to have the circle not centered in the same place when you click away from drawing it @kchadha
Before clicking away:
![image1](https://user-images.githubusercontent.com/1088291/48645083-9222ba00-e9b2-

[2018-11-16 20:18] BryceLTaylor opened #3816 "Issues found in the Bug Hunt on 11/16"
* [x] Minor css thing: button on Banner looks small and squished. More bottom padding would help. @kathymakes
![image4](https://user-images.githubusercontent.com/1088291/48645183-e6c63500-e9b2-11e8-8c54-1c94ffd52080.png)

Device | Browser | Name
-- | -- | --
Chromebook | Chrome | Eric R
Windows* | Firefox | Paul
Android Tablet | Chrome | kathy
Windows* | Edge | Ben
Mac | Safari | Katelyn, Karishma

[2018-11-16 21:26] picklesrus opened #3819 "Layering problems with sprites and parts of background (safari only?)"
I don't exactly know how to reproduce this... but here's what it does
![2018-11-16 15 23 14](https://user-images.githubusercontent.com/15675877/48647896-65bf6b80-e9bb-11e8-815f-31d6308987e9.gif)

I can't reproduce on Mac chrome with the same project, though I can repro across reloads in Safari

cc @paulkaplan

Here's the sb3 file:
[baseballcatlayers.sb3.zip](https://github.com/LLK/scratch-gui/file

[2018-11-16 23:44] benjiwheeler opened #3822 "error alert design"
Currently, project saving or creation alerts look like:

![screen shot 2018-11-16 at 6 42 37 pm](https://user-images.githubusercontent.com/3431616/48652817-75e14600-e9cf-11e8-9f93-a6ff2b176825.png)

Is there an error/warning icon that we could use here? Any other design we want to introduce in this version?

[2018-11-17 02:14] towerofnix commented on #2389
Fixed in #3695, I think.

[2018-11-17 16:57] evhan55 opened #3825 "Extension library item tiles are too tall in a single row"
![screen shot 2018-11-15 at 4 33 48 pm](https://user-images.githubusercontent.com/699840/48663565-f8b1e180-ea5f-11e8-82a8-c95f8832bcc3.png)
from Eric

[2018-11-18 12:20] apple502j opened #3827 "Story not in Letters"
"Story" letters are not in Letters category.

https://github.com/LLK/scratch-gui/blob/develop/src/lib/libraries/costumes.json#L11232
Making it `letters` will solve this.

[2018-11-18 14:03] ntlrsk commented on #3707
I believe this may the same error: On Cynthia S's Macbook Air (early 2014 8 GB) at our workshop in LLK yesterday Chrome remained stuck on the loading screen which seemed to be in an infinite loop (Repeating: Loading sprites, sounds, extensions).

On Safari the beta opened without a problem. (We tried restarting with nothing else running and it was the same problem in Chrome.) She had recently upda

[2018-11-18 14:23] benjiwheeler opened #3828 "What should Alerts z-index be?"
@kchadha asks:

![alert](https://user-images.githubusercontent.com/3431616/48673822-81d62080-eb13-11e8-95d6-c7f895d62c9a.png)
![alerst2](https://user-images.githubusercontent.com/3431616/48673825-84d11100-eb13-11e8-82f2-126e75484a08.png)

[2018-11-18 16:04] #3828 closed

[2018-11-18 16:06] benjiwheeler commented on #3707
I have a 2012 11-inch Macbook Air at home, I can try replicating this

[2018-11-18 16:24] benjiwheeler opened #3831 "Project page looks wrong on Surface/Edge"
Project page looks wrong on Surface/Edge: happens when a project has several generations of remix/copy (Same project looks fine on Mac Chrome)

![48644529-e036be00-e9b0-11e8-84f4-fe1d9f3f17f6](https://user-images.githubusercontent.com/3431616/48675219-72ab9e80-eb24-11e8-86df-6bd9914c9031.png)

(If you're working out of MIT, staging project 1300000315 shows this.)

[2018-11-18 16:41] benjiwheeler commented on #3811
Tracking in:
* https://github.com/LLK/scratch-gui/pull/3829
* https://github.com/LLK/scratch-gui/pull/3776
* https://github.com/LLK/scratch-gui/issues/3831
* https://github.com/LLK/scratch-www/issues/1873
* https://github.com/LLK/scratch-www/issues/2326

[2018-11-18 16:41] #3811 closed

[2018-11-19 05:03] sehgalvibhor opened #3833 "Choose Costume menu being overlapped by costume's close button"
### Expected Behavior
![image](https://user-images.githubusercontent.com/10993808/48687205-2163e380-ebe6-11e8-9b9f-22bebaa26c23.png)

### Actual Behavior

![image](https://user-images.githubusercontent.com/10993808/48687155-cf22c280-ebe5-11e8-983b-cbd6352d7c7c.png)

### Steps to Reproduce

Hover on the 'Costume Selection' menu and add multiple costumes.

### Operating System and Browser

Windows 1

[2018-11-19 17:04] #3816 closed

[2018-11-19 17:49] kathymakes commented on #3752
Hi Altzer, thanks so much for your feedback! It's really useful to hear as we try to think about a more diverse set of resolutions. If there are any specific things you would like to illustrate with a screenshot, that would be extremely helpful! Thanks.

[2018-11-19 17:52] kathymakes commented on #3708
I'm not sure what a good process for tracking these issues are, but I would like to start also "auditing" a few different screen sizes and compare images side by side.

On a 15" Macbook Retina
(defaults to 1440 x 900)

1024 x 640
GUI gets cut off
<img width="1024" alt="screen shot 2018-11-19 at 12 26 56 pm" src="https://user-images.githubusercontent.com/8203939/48724921-97714600-ebf8-11e8-85ae-1d0

[2018-11-19 18:05] kathymakes commented on #3708
(Closed by mistake, sorry!)

Yeah, we should also think about the scrolling areas at the browser/OS level. There are many: paint editor canvas, paint editor UI, blocks area, workspace, block & UI dropdown menus, the whole GUI itself.... I will look into that + maybe make a separate issue for it.

[2018-11-19 18:50] benjiwheeler opened #3836 "Infinite loop of project creation alerts when assets server has error"
### Expected Behavior

One error message please, then stop

### Actual Behavior

IT'S OUT OF CONTROL

![image](https://user-images.githubusercontent.com/3431616/48728151-25056380-ec02-11e8-9420-9970eeb0a67f.png)

### Steps to Reproduce

Use an invalid ASSET_HOST, or an out of date scratch-assets. Try to create a new project.

[2018-11-19 19:39] benjiwheeler commented on #3468
Resolved by #3779

[2018-11-19 19:39] #3468 closed

[2018-11-19 19:56] ericrosenbaum opened #3837 "Re-visit hardware disconnection alerts behavior in project page and full-screen modes"
After January, we should re-visit the question of how to inform the user that a hardware disconnection has occurred when we're in full-screen mode, or viewing the project page or another player-only mode.

[2018-11-19 20:32] techwonder21 opened #3838 "3.0 disappears when language is toggled to Spanish"
### Expected Behavior

All sounds should be available across languages

### Actual Behavior

When the disconnect sound

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-11-19 20:42] techwonder21 opened #3839 "3.0 "disconnect" sound no longer available"
### Expected Behavior

All sounds should be continue to be available
![screen shot 2018-11-16 at 8 59 23 pm](https://user-images.githubusercontent.com/3812168/48733667-4caff800-ec11-11e8-87b5-71575bca005d.png)

### Actual Behavior

The "Disconnect" sounds no longer appears in Scratch 3.0 as it did a few weeks ago.
For Hour of Code 2018, the Google CS First team casted a video around the 11/1/2018

[2018-11-19 20:43] techwonder21 commented on #3839
@ChampikaF @rschamp @thisandagain

[2018-11-19 21:50] paulkaplan commented on #3838
Thanks for the report, unfortunately I do not understand what is being reported. The title is "3.0 disappears", but that doesn't seem to be true... I suspect this is more fleshed out in https://github.com/LLK/scratch-gui/issues/3839, so I'll close this.

[2018-11-19 21:50] #3838 closed

[2018-11-19 21:58] techwonder21 commented on #3838
You can ignore this. I originally thought the "disconnect" sound appeared in English but not other languages. After doing some testing, I realized that the "disconnect" sound had been removed entirely from Scratch 3.0.

[2018-11-19 21:59] techwonder21 commented on #3839
You can ignore #3838. I did not mean to submit that bug.

[2018-11-19 22:56] benjiwheeler opened #3840 "Revise alerts code"
- [x] `alertsList.filter` in `containers/alerts.jsx` and `containers/inline-messages.jsx` should be made into a reducer selector
- [x] extended comment defining fields of alerts in alerts reducer should become a jsdoc
- [x] possibly rename SHOW_STANDARD_ALERT since it shows inline alerts too

[2018-11-20 02:49] benjiwheeler opened #3841 "Minimum display time on alerts, loading screen?"
Should we have a minimum display time on alerts and loading screens?

It might make the site's transitions more understandable to users.

![connectfast](https://user-images.githubusercontent.com/3431616/48748368-aaaa0300-ec44-11e8-9628-bd4991595661.gif)

![fast copy](https://user-images.githubusercontent.com/3431616/48748435-f3fa5280-ec44-11e8-8dcb-9342015d863e.gif)

[2018-11-20 02:50] #3727 closed

[2018-11-20 02:59] benjiwheeler commented on #3763
Implemented in #3776

[2018-11-20 02:59] #3763 closed

[2018-11-20 03:01] sehgalvibhor commented on #3833
Appears to be fixed.

[2018-11-20 03:01] #3833 closed

[2018-11-20 03:02] benjiwheeler commented on #3685
For now, we resolved this by altering the z-index of alerts so they show below fullscreen. Tracking this in https://github.com/LLK/scratch-gui/issues/3837

[2018-11-20 03:02] #3685 closed

[2018-11-20 03:11] benjiwheeler commented on #2747
This is implemented:

![image](https://user-images.githubusercontent.com/3431616/48749238-07f38380-ec48-11e8-86a7-64b34a224ea2.png)

We will also revisit this in: https://github.com/LLK/scratch-gui/issues/3837

[2018-11-20 03:11] #2747 closed

[2018-11-20 03:23] benjiwheeler opened #3842 "Alerts phase 3: appearance"
(See previous phase: https://github.com/LLK/scratch-gui/issues/3727 )

- [ ] alerts code revisions to improve maintainability https://github.com/LLK/scratch-gui/issues/3840
- [ ] make alerts appear correctly in RTL https://github.com/LLK/scratch-gui/issues/3753
- [ ] cloud variable alerts https://github.com/LLK/scratch-gui/issues/3598
- [ ] alert text for creating vs remixing vs saving as a copy h

[2018-11-20 03:23] benjiwheeler opened #3843 "Alerts phase 4: complex interactions"
- [ ] handle network timeout around creating projects https://github.com/LLK/scratch-gui/issues/3723 (has several parts)
- [ ] add error icon https://github.com/LLK/scratch-gui/issues/3822
- [ ] handle complexity around alerts, hardware modals interacting https://github.com/LLK/scratch-gui/issues/3699
- [ ] revisit alerts on project page and fullscreen modes: https://github.com/LLK/scratch-gui/iss

[2018-11-20 03:36] benjiwheeler commented on #3764
@carljbowman and @kathymakes have done some thinking around this, I know. It might help to reference the spreadsheet of project state messaging.

Also see @paulkaplan's exponential backoff code for cloud variable connection: https://github.com/LLK/scratch-gui/pull/3818

[2018-11-20 10:29] apple502j commented on #3839
Connect and Disconnect are renamed to Start and Finish.
not a bug, [wontfix]

[2018-11-20 12:18] Kenny2github commented on #3839
Actually, I think the bug is that the tutorial shows those sounds but they don't exist. Either the tutorial should be changed or the sounds should be renamed (or maybe symlinked? is that possible?)

[2018-11-20 15:29] fsih opened #3845 "x to delete sprite is gone from sprite list"
### Expected Behavior
Sprites usually have x on them to be deletable

### Actual Behavior
x is invisible, also there is a weird space
<img width="322" alt="screen shot 2018-11-20 at 10 27 50" src="https://user-images.githubusercontent.com/2855464/48783733-204ab900-ecaf-11e8-9a06-831cf028597a.png">

### Steps to Reproduce
Look at targets pane in https://llk.github.io/scratch-gui/develop/

### Opera

[2018-11-20 16:33] benjiwheeler opened #3846 "What should the messaging/UX be for creating new project?"
Currently, File->New for a logged in user does:

1. saves current project (messaging in menu bar)
2. shows blue loading project screen
3. shows creating alert
4. shows successfully created alert
5. saves new project (messaging in menu bar)

![new](https://user-images.githubusercontent.com/3431616/48787970-d7e3c900-ecb7-11e8-951a-2294f3336921.gif)

Question: can this be streamlined or simplified? H

[2018-11-20 16:40] kathymakes commented on #3846
Thanks for making this issue Ben! My take is that it'd be great to:

1. save current project
2. flash the blue loading screen for 1-2 seconds
3. show new project (saving)

We could even change the "Loading Project" string to "Creating Project" if that would make it more clear. I think the blue loading screen and "creating" alert are (intending to) communicate the same thing, and having both feels

[2018-11-20 16:56] #3836 closed

[2018-11-20 17:40] benjiwheeler opened #3847 "restore missing close button and round shadow"
the close button and round shadow are missing from sprite thumbnails and modals

Related to https://github.com/LLK/scratch-gui/issues/3845

[2018-11-20 18:20] ericrosenbaum commented on #3839
Thanks for the comments- we are looking into what to do about this issue. Sorry about the confusion!

[2018-11-20 19:10] picklesrus commented on #2389
@towerofnix:  Almost fixed :)

I have one more PR I want to send out and land before I call it fixed. The first menu still keeps the old value selected when you switch the value in the target menu. E.g. if I have "backdrop #" and I switch the target menu to one of the sprites, "x position" should be selected instead of leaving behind the "backdrop #"

[2018-11-21 11:17] tomrow commented on #258
@benjiwheeler An idea I have is to implement something like a virtual ruler with notches along the horizontal edges of the stage which signify the 4:3 boundaries. Maybe if these are ticked or a button is tapped, these notches will drop down over the stage to further assist in alignment of sprites.
![stage-ruler](https://user-images.githubusercontent.com/10169982/48838014-f660c780-ed7e-11e8-857c-19

[2018-11-21 16:54] kathymakes commented on #3718
One straightforward thing we could do is play around with webkit scrollbars. We will have to tell it to appear, say, only on dropdowns in blocks because right now "::-webkit-scrollbar" affects all UI scrollbars (except the blocks workspace ones.)

This is just one example of something simple we could do:

![scrollbar](https://user-images.githubusercontent.com/8203939/48856156-ae906f00-ed83-11e8-93

[2018-11-21 21:54] ericrosenbaum commented on #3814
- Updated existing issue https://github.com/LLK/scratch-gui/issues/1735

[2018-11-21 21:56] ericrosenbaum opened #3855 "Improve library loading experience on slower devices"
Suggestion from @kathymakes
"It would be nice if we loaded the containers for library items even if the items themselves are not loaded. Right now when I scroll through sound library on a tablet, it just shows a blank blue background for a few seconds. This is because the Android tablet is very slow in general. We could do some kind of “greeking” effect for slow devices?"

[2018-11-21 21:56] #3814 closed

[2018-11-21 22:01] ericrosenbaum opened #3857 "White line on the bottom of sound tile"
@chrisgarrity saw the following on Mac Chrome, but I have been unable to reproduce it:

Sound item in sound panel has extra padding (white line appears below the name/time)
![image18](https://user-images.githubusercontent.com/1088291/48021882-ae4b6f00-e107-11e8-9f05-f6ae27df71f4.png)

[2018-11-21 22:01] ericrosenbaum commented on #3642
Filed https://github.com/LLK/scratch-gui/issues/3857

[2018-11-21 22:01] #3642 closed

[2018-11-21 22:43] #3847 closed

[2018-11-21 22:43] #3845 closed

[2018-11-22 02:53] zarknight opened #3860 "An error page is displayed when access the landing page"
### Behavior

After I download the source code and run it according the README guides, no compile errors on the command line, everything seems ok. But when I access the page with http://0.0.0.0:8601/ in my browsers, I will see an error page with messages:

And I saw some error message in the browser's DevTool console:

    at Runtime.attachRenderer (lib.min.js:251852)
    at VirtualMachine.attachR

[2018-11-22 16:36] benjiwheeler commented on #3545
What about:

1. "Creating new project", "Successfully created new project"
2. "Remixing project", "Successfully remixed project"
3. "Copying project", "Successfully copied project"

[2018-11-24 02:08] ntlrsk commented on #3839
Given that the CS First tutorial for HOC depends on these sounds, the Scratch resource team agrees that the sound names Start and Finish should be renamed Connect and Disconnect (reverting the previous issue: https://github.com/LLK/scratch-gui/issues/2844 )

[2018-11-24 09:03] apple502j opened #3862 "Tutorial video subtitles are not available"
Many tutorial video translations are finished and fully-reviewed. However, I cannot find how to use subtitles.
There is no subtitle button.

(Thanks, koijatm! [see this post](https://scratch.mit.edu/discuss/post/3322051/)

[2018-11-24 09:09] apple502j opened #3863 "Variable status changes by double-rightclicking"
### Expected Behavior
The status should not change when we double-right-click the variable.

### Actual Behavior

It changes when double-right-clicking the monitor.

### Steps to Reproduce
Double-right-click the monitor

### Operating System and Browser
Windows 7, Firefox 63

[2018-11-25 04:35] Alzter commented on #3752
I've made a project pointing out my issues with Scratch 3.0. https://scratch.mit.edu/projects/261891177/ What do you think? Can some of the unbalanced blocks be adressed? Can we have an option for smaller blocks like 2.0, and finally can we have a more familiar costume and sound editor?

[2018-11-25 04:36] Alzter commented on #3759
More of a bug than a request actually.

[2018-11-25 04:36] Alzter commented on #3757
This is an incompatibility issue, not a request for an addition. Please fix it!

[2018-11-25 19:04] rschamp commented on #3860
Sorry you're having trouble. I've never seen this issue before. Would you please paste the output of `npm ls`?

[2018-11-25 19:12] rschamp opened #3864 "The cloudHost prop doesn't include the protocol"
Unlike our other host props, the GUI assumes that the `cloudHost` prop will not include the protocol for the host.  This makes it inflexible for production where we want to use `wss://` while in development `ws://`. It's also inconsistent with the other host props, which makes it easy to forget (they include the protocol for the same reason - `http` vs `https` in production).

[2018-11-25 21:42] Alzter opened #3865 "Lists reset position from 2.0 projects"
### Expected Behavior
_Loading a 2.0 project in Scratch 3.0 will keep the lists in the same position as they were in the 2.0 projects in 3.0._

### Actual Behavior
_The lists reset position loading a 2.0 project in Scratch 3.0._

### Steps to Reproduce

_Load a Scratch 2.0 project that has visible lists in Scratch 3.0_

### Operating System and Browser

_Windows 10, Google Chrome_

(Side note, lis

[2018-11-26 00:48] towerofnix commented on #3865
What you're describing is #1397 (but it is a pretty old issue and so probably won't be addressed/re-evaluated until after the 3.0 release).

[2018-11-26 01:35] benjiwheeler commented on #1812
Tracking this issue in: https://github.com/LLK/scratch-vm/issues/1758

[2018-11-26 01:47] benjiwheeler commented on #3427
Possibly tracking in https://github.com/LLK/scratch-vm/issues/1758

[2018-11-26 01:52] #3264 closed

[2018-11-26 01:52] #3531 closed

[2018-11-26 04:16] zarknight commented on #3860
I found this issue has already gone after I pull the latest code.

[2018-11-26 04:18] rschamp commented on #3860
Glad to hear it’s resolved itself.

[2018-11-26 04:18] #3860 closed

[2018-11-26 05:25] Alzter opened #3868 "My project doesn't run correctly"
[How it runs in 2.0](https://youtu.be/dkBZNlS7mFw)
[How it runs in 3.0](https://youtu.be/xpSS4cilpc0)
The scrolling warp doesn't display, and the character teleports under the terrain.
The project ID is 239350682. Please fix this glitch!

[2018-11-26 05:27] #3868 closed, assigned to nobody

[2018-11-26 05:57] xiaoliangsu commented on #3611
You can check your npm source ，Make sure not to use Taobao。you can use npm source

nrm ls

  npm ---- https://registry.npmjs.org/
  cnpm --- http://r.cnpmjs.org/
 *  taobao - https://registry.npm.taobao.org/
  nj ----- https://registry.nodejitsu.com/
  rednpm - http://registry.mirror.cqupt.edu.cn/
  npmMirror  https://skimdb.npmjs.com/registry/
  edunpm - http://registry.enpmjs.org/

 nrm use npm

[2018-11-26 12:45] Alzter commented on #3865
But why not now? If we wait until post release this c

[2018-11-26 12:47] Alzter commented on #3865
But why not now? I find it's very important to have 3.0 run 2.0 correctly, I mean isn't that one of the things it, I don't know, NEEDS to do? It would be too late to fix this post release, all the 2.0 projects would be broken by then anyway.

[2018-11-26 13:48] #2597 closed

[2018-11-26 14:13] paulkaplan commented on #3500
@thisandagain @ntlrsk I can definitely do this, but I want to make sure this wouldn't be breaking any already-made videos from other resource developers. Is that something you can confirm @thisandagain?

[2018-11-26 14:15] thisandagain commented on #3500
@paulkaplan It will, but as discussed with the resources team this feels important enough to make the breaking change.

[2018-11-26 14:21] thisandagain commented on #3427
Tracking in https://github.com/LLK/scratch-vm/issues/1758

[2018-11-26 14:21] #3427 closed

[2018-11-26 15:12] paulkaplan commented on #3587
@Mr-Dave2 Yup, closing

[2018-11-26 15:12] #3587 closed

[2018-11-26 15:35] apple502j opened #3871 "Project 236086960 loads with no blocks"
### Expected Behavior
This project has some custom blocks.

### Actual Behavior
No blocks appear. XML error occurs when loading it.

### Steps to Reproduce
Open https://beta.scratch.mit.edu/#236086960
2.0: https://scratch.mit.edu/projects/236086960/#player

### Operating System and Browser
On Windows 10 Firefox 63

This should be tagged as [critical]: This is one of the example programs for elemen

[2018-11-26 16:56] thisandagain commented on #3241
/cc @ericrosenbaum

[2018-11-26 16:58] thisandagain commented on #3252
Resolved in https://github.com/LLK/scratch-gui/pull/3257

[2018-11-26 16:58] #3252 closed

[2018-11-26 17:54] thisandagain commented on #3295
/cc @mzgoddard

[2018-11-26 18:21] paulkaplan commented on #3269
This appears to be another case of things like buttons/inputs having focus (buttons keep focus after they have been clicked) preventing keyboard events from making it to the VM.

[2018-11-26 18:50] benjiwheeler commented on #3545
Great point, these are clearer!

[2018-11-26 20:58] kyleplo commented on #3871
Can't repro on Windows 10 Chrome, but can on Firefox. Must be a Firefox-only bug

[2018-11-26 20:58] BryceLTaylor commented on #3290
I'm unable to reproduce this on Chrome, Firefox, or Safari on mac.  In each case the dinosaur gets to the back layer one step early.

[2018-11-26 20:58] #3290 closed

[2018-11-26 21:02] kathymakes opened #3876 "Scrollbars are multitudinous & awkward on low-res screens"
### Overview
When the screen resolution is below our minimum supported resolution then the GUI gets cropped. This often creates an additional "level" of scrolling in other parts of the UI, which makes the GUI hard to use.

This is design audit of GUI scrollbar issues on low res screens. I'm finding most of these at 1024x640 on a Macbook Retina 15", which is the lowest resolution for my machine.

T

[2018-11-26 22:49] Alzter commented on #3865
### 2.0
![image](https://user-images.githubusercontent.com/22513909/49046854-ac1d9180-f229-11e8-9ea9-c4721bfc347d.png)
![image](https://user-images.githubusercontent.com/22513909/49046858-ae7feb80-f229-11e8-9762-58e3a9f7010a.png)
![image](https://user-images.githubusercontent.com/22513909/49046861-b0e24580-f229-11e8-9de2-9247ff4e1ef8.png)
### 3.0
![image](https://user-images.githubusercontent.com/

[2018-11-27 15:05] martinohanlon commented on #2953
Just to add to this, setting the center of a sprite is a really useful feature often used in Raspberry Pi's resources to simplify projects.

[2018-11-27 15:20] kathymakes commented on #3465
Our notes from today's meeting:

**What should we deliver?**
- [ ] It would be great to credit creators/think about authorship, but it’s December...
            In the longer-term, set up time to talk the Mods
- [ ] For launch, we can just link back to Scratch and link back to the project owner page

**Design changes:**
- [ ] Logo on the bottom, not too prominent, watermarked styling
- [ ] Flip th

[2018-11-27 15:41] kathymakes commented on #3761
BTW, here's one example of how we could do an alert. Can change the language to be more generic.

This would appear after a few (currently it's 3?) failed saves. The timer will keep counting down in the nav...

![alert_1](https://user-images.githubusercontent.com/8203939/49092785-c1e28500-f230-11e8-83c0-a89b9ed9ee5c.png)

[2018-11-27 16:31] kathymakes commented on #3545
@benjiwheeler Actually when I think about it, I wonder if we can avoid having any alerts/title bar text when a new project is created. (Referring to #1, Creating New).

I was remembering this conversation: https://github.com/LLK/scratch-gui/issues/3846
This UX feels clearer to me, and more self-explanatory (uses our existing patterns clearly without alerts.)

![open existing 1](https://user-images

[2018-11-27 17:06] kathymakes commented on #3822
@benjiwheeler It would be good to consider this together with the conversation about "network connectivity error" modal...  More info: https://github.com/LLK/scratch-gui/issues/3761

My gut reaction is we could reuse this same messaging? What do folks think?

Here's the image. It gives you an option to "try again" or "download":

![image](https://user-images.githubusercontent.com/8203939/49098386-

[2018-11-27 21:49] kyleplo opened #3886 "Translucent frame never hides"
### Expected Behavior

The translucent frame hides when project is running.

### Actual Behavior

It doesn't.

### Steps to Reproduce

Try it.

### Operating System and Browser

Windows 10 Chrome

[2018-11-27 21:51] #3269 closed

[2018-11-28 03:17] gengshenghong commented on #3404
is there any update on this? or any plan? :)

Thanks,
Shenghong

[2018-11-28 03:19] #3438 closed

[2018-11-28 04:48] benjiwheeler opened #3892 "Uploading project and then changing language loads new project"
### Expected Behavior

1. start with a new project in playground/beta.
2. make any change.
3. download it
4. upload it
5. change language

The project should not change, except to reflect the language change.

### Actual Behavior

...the project will show a blue "loading" screen and the project will reset to the default.

### Operating System and Browser

Mac OS, Chrome

[2018-11-28 12:57] rschamp opened #3893 "Remove color rotation behavior from the menu bar while saving"
It was fun while it lasted, but we have actual notifications of save progress now.

[2018-11-28 13:22] thisandagain commented on #3404
@gengshenghong No updates yet. We are still waiting on MIT approval.

[2018-11-28 13:39] #3753 closed

[2018-11-28 13:54] thisandagain commented on #3381
/cc @ktbee @kchadha

[2018-11-28 14:32] paulkaplan commented on #3886
Fixed!

[2018-11-28 14:32] #3886 closed

[2018-11-28 15:11] thisandagain commented on #3415
/cc @chrisgarrity @carljbowman @kathymakes

[2018-11-28 15:21] kchadha commented on #3381
@fsih, it looks like this is project is failing in svg-renderer on [this line](https://github.com/LLK/scratch-svg-renderer/blob/develop/src/svg-renderer.js#L187).

The `if (textElement.transform.baseVal.length === 0)` check that appears earlier fails because `.length` does not seem to exist (there's a `numberOfItems`...), so the LHS in that expression returns `undefined`.

Then when we get to the

[2018-11-28 15:37] thisandagain commented on #3517
Unfortunately not enough info to perform a repro. Closing for now.

[2018-11-28 15:37] #3517 closed

[2018-11-28 15:44] thisandagain commented on #3534
@ktbee Can you also prioritize this issue?

/cc @kchadha @fsih

[2018-11-28 15:46] thisandagain commented on #3534
[code]

[code]

[code]

[2018-11-28 15:53] fsih commented on #3534
I'm getting "Whoops! Our server is scratching its head" when I follow that link: https://scratch.mit.edu/projects/252810337/
is the project shared?

[2018-11-28 16:00] thisandagain commented on #3534
@fsih The project is in the trash, but you should be able to view it as a moderator / ST member.

[2018-11-28 16:05] thisandagain commented on #3564
/cc @ntlrsk @kosiecki17

[2018-11-28 16:09] fsih commented on #3534
It seems like DOMParser can't handle this particular SVG. I can't open it in the browser or Illustrator either.
[2.zip](https://github.com/LLK/scratch-gui/files/2625643/2.zip)
We should probably handle it in a way that doesn't crash the whole editor though...

[2018-11-28 16:12] thisandagain commented on #3572
/cc @chrisgarrity

[2018-11-28 16:12] fsih commented on #3534
It's a missing namespace issue. I can get the SVG to render by adding this to the beginning of the SVG file

[code]

[2018-11-28 16:13] thisandagain commented on #3577
@kosiecki17 Is this something you can look at? It appears that the text from the 2.0 costumes is somehow malformed.

[2018-11-28 16:23] thisandagain commented on #3578
@mzgoddard This is a great example of a project that is difficult to load on all devices (but particularly low powered devices) due to amount / size of assets.

[2018-11-28 16:34] #3611 closed

[2018-11-28 16:34] thisandagain commented on #3608
Moved to LLK/scratch-paint#777

[2018-11-28 16:43] kchadha commented on #3598
@DeleteThisAcount could you clarify what you mean by "an extremely cloud used project"? Do you have an example project where you see this issue?

[2018-11-28 16:50] kchadha commented on #3608
@thisandagain, I don't think this is a scratch-paint issue. The phrasing of this issue was a little bit confusing about which sprite is the problem sprite. When uploading the default cat sprite costume-1 svg as a sprite, it comes in really tiny on the stage, whereas it is the correct size in the paint editor.

It seems that this problem is now worse than before where the sprite is now coming in at

[2018-11-28 16:58] fsih commented on #3577
I just realized that this is (partially) because of https://github.com/LLK/scratch-vm/issues/1773
One of the things that Scratch 2 does wrong when exporting SVGs is it puts the text in the wrong place, and since these are coming from the costume library, the fix isn't getting applied.

Fixing the SVGs should fix the issue, if they don't go through Scratch 2's export process...

[2018-11-28 17:01] thisandagain commented on #3616
@BryceLTaylor @benjiwheeler @kchadha Can you confirm that this is resolved?

[2018-11-28 17:05] fsih commented on #3608
@BryceLTaylor can you test if you can repro? I think this might have been fixed by https://github.com/LLK/scratch-svg-renderer/pull/60

[2018-11-28 17:09] thisandagain commented on #3628
@daDaiMa Can you try cleaning your NPM cache?
https://docs.npmjs.com/cli/cache

[2018-11-28 17:13] kchadha commented on #3608
@fsih I can still repro on develop, though it's certainly not as bad as it was on beta (which is what I was testing in my previous comment):

![small-cat](https://user-images.githubusercontent.com/1786240/49169104-0fc9bc80-f307-11e8-8057-5af650ecb436.gif)

[2018-11-28 17:39] thisandagain commented on #3707
@BryceLTaylor Can you attempt to repro this on one of our older MacOS machines?

[2018-11-28 17:50] #3722 closed

[2018-11-28 17:58] thisandagain commented on #3747
Tracking in various other issues that look at Blockly performance and GCs.

[2018-11-28 17:58] #3747 closed

[2018-11-28 17:59] kathymakes commented on #3761
After talking to @carljbowman and @paulkaplan, decided to go with this UX + language:

### UX for save error

1. The system will keep trying to autosave, and go through this countdown process 3 times...
![1](https://user-images.githubusercontent.com/8203939/49171554-c8dec580-f30c-11e8-8694-95da9ac2b8aa.png)

2. After 3 failed attempts, fire this alert. We should still be checking periodically for

[2018-11-28 18:06] thisandagain commented on #3765
@abattle Please provide more information so we (and others from the community) can help answer your question.

[2018-11-28 18:06] #3765 closed

[2018-11-28 18:13] thisandagain commented on #3871
/cc @kchadha @paulkaplan @ktbee

[2018-11-28 18:14] thisandagain commented on #3871
Looks like this may be an issue with special characters in custom procedures.

[2018-11-28 18:30] thisandagain commented on #3827
@kosiecki17 Can you take a look at this while you are doing other work in the libraries?

[2018-11-28 18:32] thisandagain commented on #3862
Thanks @apple502j! The resources team is still working on loading all of the tutorial subtitles from Transifex.

/cc @kosiecki17 @chrisgarrity

[2018-11-28 18:41] thisandagain commented on #3803
/cc @mzgoddard

[2018-11-28 18:46] thisandagain commented on #3841
/cc @paulkaplan

[2018-11-28 18:53] kchadha commented on #3871
If this is a special character issue, then it is probably also related to

https://github.com/LLK/scratch-vm/issues/1077

and the two should be solved together.

[2018-11-28 19:24] rschamp commented on #3899
Requires https://github.com/LLK/scratch-api/issues/641

[2018-11-28 19:34] picklesrus commented on #3471
@ericrosenbaum  IIRC, It was pretty easy to repro. The only think I could think of is maybe test clicking that block option if you have not granted access to or specifically declined access to the microphone. I didn't do mess with permission during the bug hunt, but I don't know what state the computer was in when I tried.

[2018-11-28 19:49] ericrosenbaum commented on #3471
I tried again, on Windows Chrome, on a different computer. I blocked mic access, and still did not see the issue.

I guess we should just leave this open with "needs-repro" in case we see the problem again.

[2018-11-28 19:50] rschamp opened #3901 "Add tests for project changed events"
In the ProjectSaverHOC and ProjectFetcherHOC, test that the project changed state is updated to unchanged when we expect.

In the VMManagerHOC, test that the project changed state is updated to changed when we expect.

[2018-11-28 20:02] benjiwheeler opened #3902 "When creating a new project, start by changing url to projects/editor, before/instead of replacing vm contents"
When you create a new project, if there's an error in the create call to the backend, the user can be stuck in a weird state where the URL still shows the old project, but the stage shows the default project.

Seems like we should either change the URL using browser history before loading the default project into the VM, or maybe even redirect the browser to `/projects/editor`.

[2018-11-28 20:04] benjiwheeler commented on #3822
@kathymakes and I discussed this. If it's possible to distinguish between saving errors caused by connectivity, and errors that have other causes, it may still be good to have a distinct error alert design to use.

[2018-11-28 20:04] benjiwheeler commented on #3846
From discussion, @kathymakes and I agreed that using the blue loading screen is better than using popup alerts for this.

It also relates to https://github.com/LLK/scratch-gui/issues/3902

[2018-11-28 20:07] benjiwheeler commented on #3761
A note from discussion with @kathymakes -- we may want to make the #3 "Reconnecting..." alert appear for a set number of seconds, before returning to #2 "Project could not save" alert. This might require setting alerts to specifically only show one at a time (like inline menu bar alerts do)

[2018-11-28 20:12] #2389 closed

[2018-11-28 20:12] #2390 closed

[2018-11-28 20:55] #3893 closed

[2018-11-29 13:55] kosiecki17 commented on #3862
Looking into this! Thank you!

[2018-11-29 14:01] kosiecki17 commented on #3577
These files are looking funky when I download them and open them locally. I will fix them and re-upload them.
<img width="903" alt="screen shot 2018-11-29 at 8 59 09 am" src="https://user-images.githubusercontent.com/25378759/49226697-5a097700-f3b5-11e8-9e5a-9f5dc759ba25.png">

[2018-11-29 14:40] kathymakes commented on #3822
From what I understood, this message wants to cover cases unrelated to saving... such as trying to create, remix, or save a copy. This should ideally appear *right after* someone has tried to perform one of these actions (and we aren't able to process their request for some reason.)

This error doesn't really give someone a good way forward, so should be used as sparingly as possible. (Someone fro

[2018-11-29 15:08] benjiwheeler commented on #3545
Also, @kathymakes suggested changing saving success message from "Successfully saved" to "Project saved"

[2018-11-29 16:19] BryceLTaylor commented on #3086
@kchadha I can't reproduce the blocks rendering issue.  Also, we can save and load monitor positions now so I think we should close this.

[2018-11-29 16:21] #3086 closed

[2018-11-29 16:32] BryceLTaylor commented on #3292
I can definitely reproduce it following the steps listed above and opening that project.

I can also reproduce it by creating a very large svg in illustrator and uploading the costume.  Then when I drag the sprite around the stage it looks rather strange

![toolargesvg](https://user-images.githubusercontent.com/1088291/49236552-53d1c580-f3ca-11e8-920f-df2a8988c199.gif)

That was using this svg:
[t

[2018-11-29 17:06] BryceLTaylor opened #3906 "Creating a new sprite while code tab not selected causes blocks to not run in the workspace"
### Expected Behavior

Clicking a block in the workspace should cause it to run

### Actual Behavior

If you have the sound or costume tab open and you add a new sprite, the blocks no longer run from the workspace, but they do in the flyout.

You can add a sprite either by random, uploading, or from the library, but not from painting a new one, to get this effect

### Steps to Reproduce

Create a

[2018-11-29 18:30] rschamp commented on #3906
Fixed by https://github.com/LLK/scratch-gui/pull/3907

[2018-11-29 18:30] #3906 closed

[2018-11-29 18:33] towerofnix commented on #3194
I can't repro this in Firefox anymore. The actual resize handle is still pretty small, but it's definitely there. Its size is a separate issue (and applies to all browsers, not just Firefox).

[2018-11-29 18:33] #3194 closed

[2018-11-29 20:10] paulkaplan commented on #3899
This has been implemented!

[2018-11-29 20:10] #3899 closed

[2018-11-29 20:52] benjiwheeler opened #3909 "Move alerts filtering from within rendering to a memoized reducer selector"
See this comment for context: https://github.com/LLK/scratch-gui/pull/3867#discussion_r236107827

[2018-11-29 20:55] #3840 closed

[2018-11-29 21:30] kyleplo opened #3912 "MakeyMakey extension broken"
### Expected Behavior

The extension loads

### Actual Behavior

It never loads, and there is an error in the console:

    at https://llk.github.io/scratch-gui/develop/extension-worker.js:789:20
    at new Promise (<anonymous>)
    at WorkerDispatch._remoteTransferCall (https://llk.github.io/scratch-gui/develop/extension-worker.js:772:14)
    at WorkerDispatch.transferCall (https://llk.github.io/

[2018-11-29 21:35] ericrosenbaum commented on #3912
Thanks @kyleplo. @paulkaplan also noticed this- we should have it fixed shortly (just need to update the VM version)

[2018-11-29 22:06] ericrosenbaum commented on #3912
Fixed!

[2018-11-29 22:06] #3912 closed

[2018-11-29 23:03] #3659 closed

[2018-11-29 23:52] benjiwheeler commented on #3601
Finally confirmed that this works

[2018-11-29 23:52] #3601 closed

[2018-11-30 00:22] Alzter commented on #3876
I actually made a bit of a critique on Scratch 3.0's UI (including the costume editor) here:
[https://scratch.mit.edu/projects/261891177/](url)

I feel some elements of the design are rather unbalanced, padding being placed in unnecessary places instead of between objects to not make the design feel cramped. An example of this is how the costume editor has a cluster of buttons with nothing in-betw

[2018-11-30 01:07] Alzter opened #3914 "Diversify block colours"
I feel that a lot of the block colours look too similar. Events, Control, Variables and Custom all look too close together, and Motion and Sensing also look quite similar. So I made my own mock-up comparing 2.0, 3.0, and my own set of block colours that I think look better than them both.

![scratchblockscolours](https://user-images.githubusercontent.com/22513909/49261988-8ba73e80-f498-11e8-92aa-1

[2018-11-30 01:16] towerofnix commented on #3914
See also LLK/scratch-blocks#1032 and LLK/scratch-blocks#995.

[2018-11-30 01:58] Alzter opened #3915 "Fix scripts area border and change "clean up" function"
At the moment, there is no top or left border in the scripts area in Scratch 3.0, and it expands in all four directions. I much would rather it behaved more akin to Scratch 2.0, where dragging a script to the top or left border of the scripts area would push it away. I believe that setup was much easier for organization.

![image](https://user-images.githubusercontent.com/22513909/49263670-a0d39b8

[2018-11-30 02:37] Alzter commented on #3754
**[I made some critique about 3.0's GUI, including the costume editor.](https://scratch.mit.edu/projects/261891177/)**

[2018-11-30 03:03] Alzter commented on #576
**[I made a suggestion for the block colours.](https://github.com/LLK/scratch-gui/issues/3914)**

[2018-11-30 13:53] python-megapixel opened #3918 "Outputs from blocks need translation"
The attached screenshot shows the Scratch 3.0 GUI in German. The issue I have noticed is that in languages other than English, "true" and "false" remain in English. I assume that these should be translated:
![image](https://user-images.githubusercontent.com/34344190/49293202-41798980-f4a7-11e8-8b0a-038b93f6df58.png)

[2018-11-30 16:19] joker314 commented on #3918
Thanks! Duplicate of LLL/scratch-blocks#1685

[2018-11-30 17:29] fsih opened #3919 "Can't load projects on Edge in any way"
### Expected Behavior
Edge is supported

### Actual Behavior
Poor Edge

### Steps to Reproduce
- Try loading project by ID on scratch.ly or develop. I always get "Oops, something went wrong", even on project page.
- Try uploading any sb2 or sb3 and uploading it to scratch.ly or develop. I always get “Project failed to load”
- Possibly related, try remixing from the project page. Nothing happens.

[2018-11-30 19:20] kathymakes opened #3920 "Create, Remix, Copy - Phase 2 Discussion"
Recently @benjiwheeler and I were talking about the UX for these in-GUI actions:

- Creating a new project
- Remixing a new project
- Saving as a copy

This is related to https://github.com/LLK/scratch-gui/issues/3545. (Phase 1) We thought it could potentially be interesting to model how Google Docs "saves as copy," by opening the copy **in a new tab**. This could be a helpful way to clarify versi

[2018-11-30 20:59] ktbee commented on #3534
@fsih thank you for the digging! Do you min uploading a copy of the whole project as well? I don't think I'm able to get projects that have been added to the trash.

[2018-11-30 21:47] ktbee commented on #3534
Also this looks to be related to #2236

[2018-12-02 19:17] DeleteThisAcount commented on #3598
try any multiplayer game, because the variables are being set rapidly, it will activate the banner and it gets distracting and in the way:

### **_i haven't tested, i believe this may of been fixed by accident with the creation of the cloud limit_**

[2018-12-03 13:43] paulkaplan commented on #3919
I believe the cause of this is that `Promise.finally` is not available in Edge right now. We can polyfill it, we already have the package `core-js` included in the package.json, we just need to add this to the polyfill list: `import 'core-js/fn/promise/finally'`.

However I noticed the polyfills are only being included in the standalone (playground) build, not in the node module. That means we nee

[2018-12-03 13:47] paulkaplan opened #3924 "Duplicating a sprite then editing a costume updates both sprites"
### Expected Behavior

_Please describe what should happen_

Duplicating a sprite then editing a costume should not update both sprites.

### Actual Behavior

_Describe what actually happens_

![duplicate-demo](https://user-images.githubusercontent.com/654102/49377307-cf3bbb80-f6d7-11e8-968d-db2f610b85ce.gif)

### Steps to Reproduce

_Explain what someone needs to do in order to see what's describ

[2018-12-03 14:29] benjiwheeler commented on #3575
Resolved by https://github.com/LLK/scratch-gui/pull/3856

[2018-12-03 14:29] #3575 closed

[2018-12-03 14:38] paulkaplan opened #3926 "Include testing project loading in the browser smoke test"
We had an issue where Edge was not able to load projects, but could load the editor alone. We should augment the browser-based smoke tests (which right now only hit the editor) to also try hitting a URL with a project ID.

[2018-12-03 15:40] carljbowman commented on #3920
A few thoughts.

While I think this is provocative, I do think we should be make sure this feature is really needed as it has the potential of adding complexity. Scratch 2.0 does not have this feature and while Docs handles things this way, I wonder if it's right for our UX. There is also a simplicity of navigating one editor through state changes such as "New project" or "Save as copy...". Openin

[2018-12-03 16:17] towerofnix commented on #3579
@thisandagain did you accidentally close this? I don't think it's fixed.

[2018-12-03 16:57] thisandagain commented on #3579
Tracking in:
llk/scratch-vm#1704
llk/scratch-vm#1609
llk/scratch-vm#1450
llk/scratch-vm#1030

[2018-12-03 18:51] kchadha commented on #3924
🎉

[2018-12-03 18:52] #3919 closed, assigned to fsih

[2018-12-03 19:40] picklesrus commented on #3489
I'm 95% sure this is a bug with some map lookups we're doing in the vm and the translation server.  It was tricky to test when we originally landed the extension because you couldn't switch your scratch language yet and I overlooked testing the languages with 4 letter codes.

Sometimes we're dropping the -CN or TW. Also, the translate api uses capital letters after the dash in the language code an

[2018-12-03 20:53] #3369 closed

[2018-12-03 20:56] kchadha opened #3932 "Stop other scripts does not clear out ask bubble"
### Expected Behavior

Stop other scripts block should clear out an ask bubble (showing via the `ask and wait` block).

### Actual Behavior

@ericrosenbaum notes:

![image7](https://user-images.githubusercontent.com/1088291/47315467-a7eeca80-d612-11e8-803b-f5995b63d89c.gif)

[2018-12-03 20:59] kchadha opened #3933 "Watermark alignment and sprite tile alignment are not the same"
### Expected Behavior

The image rendered in the sprite selection water mark should be aligned the same way as the sprite tile.

### Actual Behavior

@ericrosenbaum notes:

![image6](https://user-images.githubusercontent.com/1088291/47315503-c5bc2f80-d612-11e8-9612-2560e16eaa44.gif)

### Operating System and Browser

Mac Chrome

[2018-12-03 21:37] kchadha opened #3934 "Slider monitors take focus after change, and prevent when key pressed block from running correctly"
### Actual Behavior

Title says it all.

Affects this project: https://llk.github.io/scratch-gui/develop/#118805754

### Steps to Reproduce

1. Load the project listed above
2. Click the green flag
3. Change one of the slider monitors
4. Paint something onto the nail by clicking on it
5. Press the "Clear" button on the stage
6. Press "C" on your keyboard; Observe that the info window telling you a

[2018-12-03 21:45] kchadha commented on #3934
In a bug hunt on 10/19/18, @kathymakes and @knandersen noted:

I am assuming that these are related to this issue.

[2018-12-03 21:47] #3451 closed

[2018-12-03 22:14] #3412 closed

[2018-12-03 22:18] #3206 closed

[2018-12-03 22:33] #3918 closed

[2018-12-03 22:44] thisandagain commented on #3932
/cc @ktbee

[2018-12-03 22:58] kchadha commented on #2944
@thisandagain I added the critical label back since @paulkaplan and I ran into this issue during on Friday and it led to really weird and confusing project state

[2018-12-03 23:09] picklesrus commented on #3589
Fixed by https://github.com/LLK/scratch-gui/pull/3688

[2018-12-03 23:09] #3589 closed

[2018-12-03 23:14] fsih commented on #3534
Here's the project.
Rename the file ext from .zip to .sb2
[יישומון ההליקופטר remix-2 (2).zip](https://github.com/LLK/scratch-gui/files/2641641/remix-2.2.zip)

By the way, there is existing code where we fix missing SVG namespaces in these 2 places. SvgRenderer is probably the better one.
https://github.com/LLK/scratch-svg-renderer/issues/50

[2018-12-04 03:02] chrisgarrity commented on #3465
@kathymakes as I was removing the fullscreen toggle I realized that there is an empty space in the menu bar upper right that could have the logo, instead of adding it after the project. It might be less disruptive to embeds as the embed code that the current website uses specifies a height.
![Screen Shot 2018-12-03 at 9.46.52 PM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/f25e997b-70

[2018-12-04 04:57] benjiwheeler commented on #3545
So I'm implementing:

- "Saving project…"
- "Remixing project…"
- "Copying project…"
- "Creating new…"

Question: should I use ellipses, or no ellipses?

[2018-12-04 10:47] martinohanlon opened #3936 "Item from list block missing "random" and "last" options."
In Scratch 2 you can get either a numbered item, last item, or random item from a list.

The last and random options dont exist in Scratch 3, meaning you have to use the "length of" and "random" blocks to achieve the same.

![scratch get item diff](https://user-images.githubusercontent.com/2329501/49436653-8a845300-f7b1-11e8-8a2e-0c0dc8f0286b.png)

This approach seems to add significant complexity

[2018-12-04 10:56] apple502j commented on #3936
Duplicate of LLK/scratch-blocks#1335

[2018-12-04 14:37] kosiecki17 commented on #3510
Yes. We've noticed that a lot of kids do not click through from the video to the deck of cards and have created a "call to action" image in Wistia that we want to link to the first card.

[2018-12-04 15:04] benjiwheeler opened #3939 "Creating project blue screen flickers"
https://github.com/LLK/scratch-gui/pull/3937 has a known issue:

### Expected Behavior

User clicks File->New
Blue screen appears and animates
Done!

### Actual Behavior

User clicks File->New
Blue screen appears and animates
Blue screen starts animation over because of unmounting/remounting
Done

[2018-12-04 15:07] benjiwheeler opened #3940 "Show clickable "Save Now" in title bar"
### Expected Behavior

When user makes changes, "Save Now" should appear in title bar.

User can click on "Save Now" and initiate a save.

### Actual Behavior

No such thing

[2018-12-04 15:09] benjiwheeler opened #3941 "Make alerts height bigger?"
Alerts height (and maybe other aspects of formatting) may need revision

![image](https://user-images.githubusercontent.com/3431616/49451161-93bef100-f7ac-11e8-8cd0-e112de3fd799.png)

[2018-12-04 15:12] thisandagain commented on #3510
@kosiecki17 Ok. We'll try to get this done, but it may slip into post-release.

[2018-12-04 15:20] #3936 closed

[2018-12-04 15:41] thisandagain commented on #3129
/cc @kosiecki17 Can you include this as part of your final push to the libraries prior to release?

[2018-12-04 15:43] chrisgarrity opened #3942 "Support www embed view"
### Expected Behavior

To support https://github.com/LLK/scratch-www/issues/2388, the gui needs a view that is styled for embedding.

[2018-12-04 16:18] kathymakes commented on #3941
Made some notes here:

<img width="661" alt="screen shot 2018-12-04 at 11 17 51 am" src="https://user-images.githubusercontent.com/8203939/49456047-4a739f00-f7b6-11e8-8765-227cc3a37370.png">

Happy to pair on this more :)

[2018-12-04 16:20] techwonder21 commented on #3254
I'm glad someone already filed this bug. The CS First HOC Activity "Gumball" relies on this feature heavily.

https://csfirst.withgoogle.com/c/cs-first/en/gumballs-coding-adventure/the-signal/introduction.html

@ChampikaF @rschamp @thisandagain

[2018-12-04 16:36] benjiwheeler commented on #3418
Resolved by https://github.com/LLK/scratch-gui/pull/3880

[2018-12-04 16:40] techwonder21 opened #3947 "Update Sign-in text when in the Scratch Editor"
### Expected Behavior

Sign-in text should be the same across both the Project Page and Scratch Editor
![projectpage](https://user-images.githubusercontent.com/3812168/49457121-4ba5cb80-f7b8-11e8-8266-21861be97f30.jpg)

### Actual Behavior

Sign-in text on the Scratch Editor is different than the Project Page
![scratcheditor](https://user-images.githubusercontent.com/3812168/49457131-51031600-f7b8

[2018-12-04 16:41] techwonder21 commented on #3947
@ChampikaF @rschamp @thisandagain

[2018-12-04 17:14] thisandagain commented on #3947
@benjiwheeler @chrisgarrity I feel like this is already being tracked, but couldn't find it. Can you please prioritize?

[2018-12-04 18:04] benjiwheeler commented on #3947
https://github.com/LLK/scratch-gui/issues/3601 exists; this should have been solved by https://github.com/LLK/scratch-gui/pull/3602

[2018-12-04 18:39] kosiecki17 commented on #3510
Thanks for following up on this.

[2018-12-04 18:43] #3947 closed

[2018-12-04 18:59] BryceLTaylor opened #3949 "Dragging a block into the workspace causes blocks pallet to move above the backpack"
### Expected Behavior

Dragging blocks should not cause the blocks pallet to draw over the backpack.

### Actual Behavior

Dragging a block, either out of the pallet or on the workspace, causes the blocks pallet, but not the workspace or the category menu, to grow to cover the backpack.

![growingblockspallet](https://user-images.githubusercontent.com/1088291/49465921-b8c35c00-f7cc-11e8-85d9-c7cd3

[2018-12-04 19:19] #3418 closed

[2018-12-04 19:47] rschamp opened #3950 "Update project saving to accommodate project server changes"
We will need to start overriding the URL to include query parameters instead of including create params as form data to allow the GUI to work with https://github.com/LLK/scratch-projects/pull/100

[2018-12-04 20:40] thisandagain commented on #2866
Tracking in https://github.com/LLK/scratch-paint/issues/394

[2018-12-04 20:40] #2866 closed

[2018-12-04 20:45] thisandagain commented on #2171
Resolved in https://github.com/LLK/scratch-gui/pull/3882

[2018-12-04 20:45] #2171 closed

[2018-12-04 22:00] #3839 closed

[2018-12-04 22:00] paulkaplan commented on #3839
Fixed!

[2018-12-04 22:04] paulkaplan commented on #3411
@benjiwheeler @kchadha since the variable/monitors parts of this are being tracked separately, and the pen layer clearing is has-patch, do you think any other part of this should be critical?

[2018-12-04 23:07] benjiwheeler commented on #3411
I think the monitors resetting is critical, and the extension blocks should be checked to make sure they at least still look normal and haven't turned into red hats

[2018-12-05 00:02] kchadha commented on #3598
cc / @paulkaplan

[2018-12-05 04:53] BrightLin commented on #3892
Did you resolve it?

[2018-12-05 15:46] python-megapixel commented on #3918
Whoops, sorry

[2018-12-05 17:30] #1850 closed

[2018-12-05 19:44] ericrosenbaum opened #3957 "Add EV3 and WeDo video tutorials that can load by URL only"
We'd like to add entries to the tutorial library that, for EV3 and WeDo, that:
- do not appear in the library itself (by using a 'hidden' property in the library json)
- include a single card containing an instruction video

[2018-12-05 20:26] chrisgarrity opened #3958 "Add embedded view to the playground"
Follow up to #3942

We should add a playground that initializes the gui with initEmbedded, and add integration tests to make sure it works.

[2018-12-05 20:42] DeleteThisAcount commented on #3822
mabye some kind of page should be created to have more details?

Something went wrong. Please try again. If this problem persists please read _insert page here_

[2018-12-05 20:57] #3942 closed

[2018-12-05 21:26] carljbowman opened #3959 "Revisit "Share the Love" feedback on sprite and backdrop tiles"
## Current
![2018-12-05 16 17 44](https://user-images.githubusercontent.com/3409578/49544660-6441de80-f8a9-11e8-8823-904c45fb5e03.gif)
It's not clear which sprite blocks being dropped o after the wiggle animation and the slight growth of the sprite tile is too subtle.

## Proposal
Remove animations and size change and focus on color.

**Highlighting viable drop targets**
20% transparent blue
![hig

[2018-12-06 01:55] benjiwheeler commented on #3892
@BrightLin Not yet.

[2018-12-06 04:42] kchadha commented on #3616
I can confirm that this has been resolved. I tried reproing in multiple ways, including remixing a 2.0 project as described above in 3.0 in both the project page view and going to the editor first and then remixing. I did the same where the original project was a 3.0 project and tried remixing that project from both the project page view as well as editor view. I never got a BSOD.

[2018-12-06 04:42] #3616 closed

[2018-12-06 05:12] kchadha opened #3962 "Project does not show any text on stage in Safari"
### Expected Behavior

This project should display text saying "Hacked Blocks" on the stage. E.g. the screenshot from Mac Chrome below

![image](https://user-images.githubusercontent.com/1786240/49562751-e272a500-f8ea-11e8-8e71-bbfe31733524.png)

### Actual Behavior

In Safari, no text appears on the stage:

![image](https://user-images.githubusercontent.com/1786240/49562784-ffa77380-f8ea-11e8-9da

[2018-12-06 09:56] lawsie opened #3963 "Replicating costume colours using eyedropper is lengthy"
### Expected Behavior

In the costume editor for a sprite, you should be able to use the eyedropper to select a colour from another sprite so that you can match it.

### Actual Behavior

In the costume editor for a sprite, you can only select colours from inside the current sprite's costume editor using the eyedropper.

### Steps to Reproduce

To replicate a colour from sprite B into sprite A you

[2018-12-06 13:35] chrisgarrity opened #3964 "Revise file menu for loading/saving to computer"
From discussion with Natalie...
Now that the gui will be running on the scratch site, the wording of the file commands dealing with local files should return to `Upload from your computer` and `Download to your computer`, when it is online. When the gui is in Desktop mode we should have `Open`, `Save`, and `Save as...` (as we do in 2.0).

The current `Load from your computer` and `Save to your com

[2018-12-06 15:24] benjiwheeler opened #3967 "projectChanged dirty state is set to true even when project has not changed"
### Expected Behavior

1. Make a change to a project you own in editor and save.
2. Click "See Community".
3. Click "See inside".
4. Should see nothing in title bar.

### Actual Behavior

Hm, seems like it's unnecessarily showing "Save Now"...

![dec-06-2018 09-05-50](https://user-images.githubusercontent.com/3431616/49593161-e29d8f80-f940-11e8-85aa-0631dc9c3bfe.gif)

[2018-12-06 15:47] colbygk opened #3968 "Need onGreenFlagClicked prop"
### Expected Behavior

Needed by LLK/scratch-www#1858

[2018-12-06 15:52] #3251 closed

[2018-12-06 16:08] chrisgarrity commented on #3892
@thisandagain working with @benjiwheeler we figured out that it was a project state that was missing from set_project_id. Patch is on the way.

[2018-12-06 16:15] kathymakes opened #3970 "Paint editor bug - Gradients persist in solid fill mode"
Notice how the fill swatch does not contain a gradient, but the fill preview does.
Fill preview should match the swatch.

![image](https://user-images.githubusercontent.com/8203939/49596172-b6d1d800-f947-11e8-8953-00656de1163c.png)

To repro:

1. Select the paint bucket tool
2. Change the fill mode to gradient
3. Change the 1st gradient color to any color
4. Change the 2nd gradient color to "no fi

[2018-12-06 16:25] kaaaaathy opened #3971 "Paint editor bug - "Ctrl-Z" also causes browser text fields to undo"
Shown below: I changed the sprite size in the sprite info panel from "5" to "100" and then edited the costume (paint canvas). When I used my keyboard to undo in paint editor, the sprite size value changes back to "5":

![bug](https://user-images.githubusercontent.com/8203939/49596501-745ccb00-f948-11e8-9965-3708ad6e04ef.gif)

(Ignore the background weirdness, that rendering glitch is because of my

[2018-12-06 16:36] thisandagain commented on #3892
@chrisgarrity @benjiwheeler That's great!

[2018-12-06 16:40] thisandagain commented on #3962
/cc @fsih @cwillisf

[2018-12-06 16:44] thisandagain commented on #3967
@rschamp Could you take a look at this one? This could cause some headaches at launch so I'm marking this as critical.

[2018-12-06 16:45] thisandagain commented on #3970
Moved to LLK/scratch-paint#783

[2018-12-06 16:45] #3970 closed

[2018-12-06 16:45] thisandagain commented on #3971
/cc @fsih

[2018-12-06 17:17] #3892 closed

[2018-12-06 17:59] #3968 closed

[2018-12-06 18:34] #3762 closed

[2018-12-06 18:34] #3761 closed

[2018-12-06 19:31] DeleteThisAcount opened #3976 "See exact middle of object when selected"
### Expected Behavior

Should show a circle in the exact center of selected object, like in scratch 2:

![](https://i.gyazo.com/6972b4b4ff857e8c13ef2973ead6d0d3.png)

### Actual Behavior

Does not:

![](https://i.gyazo.com/6c13c2deac447ae02299450cfdd4c203.png)

### Steps to Reproduce
Open paint editor
Select object
Notice missing circle

_this is a repost of llk/scratch-paint#607_

[2018-12-06 19:34] DeleteThisAcount commented on #3976
as an animator who used scratch, a lot. this is not really good. for example if i want to rotate my drawing using the motion blocks it will pivot completely off of where I want it to, if I don't have a way to see where my drawing is.

[2018-12-06 19:55] thisandagain opened #3978 "Change "See Community" to "See Project Page""
Based on feedback from the resources team we'd like to change the language of "See Community" to "See Project Page" (as in Scratch 2.0). This should be done before initial release as it impacts many resource developers.

**Current 3.0**
![image](https://user-images.githubusercontent.com/747641/49608524-d62c2d80-f966-11e8-9118-0d99a5176b72.png)

**Current 2.0**
![image](https://user-images.githubus

[2018-12-06 20:07] picklesrus commented on #3207
@paulkaplan you were right.

This is the result of a preventDefault on the stage. In particular, this one: https://github.com/LLK/scratch-gui/blob/develop/src/containers/stage.jsx#L255
Removing it certainly fixes this particular bug, but I can't say that I understand the consequences of doing so.  It was put there in https://github.com/LLK/scratch-gui/commit/63ad6983b3ef8a5b83693fd1d156b13142afcf7

[2018-12-06 20:31] hedgehog125 commented on #3976
Maybe there could also be a way of setting the centre of a sprite to the centre of an object or selection

[2018-12-06 20:35] towerofnix commented on #3976
Note that in Scratch 2.0, you can drag this dot (while holding shift or ctrl I believe) to actually adjust the individual shape's rotation center (not that of the whole costume). That was a very obscure feature that I doubt was frequently used, though.

[2018-12-06 21:39] #3978 closed

[2018-12-06 22:22] #3957 closed

[2018-12-07 00:57] benjiwheeler opened #3982 "Slow down the rearranging of bluetooth devices"
### Expected Behavior

When there are multiple bluetooth devices -- say, a dozen Microbits -- within range, a user might expect to scroll through the list, find the one they want, and click on it.

### Actual Behavior

Since the devices rearrange themselves rapidly to sort based on connection strength, it can be incredibly hard to click on the right one when there are more than a few in the list.

[2018-12-07 02:21] jayforsythe opened #3983 ""Rename variable" prompt should have current name as default value"
### Expected Behavior

When a user opens a prompt to rename a variable, the current name of the variable should be the default value in the text box. This would be useful for, for example, variables with long names where the user only wants to edit one part, or variable names with emojis where the user does not want to copy and paste every emoji they used.

### Actual Behavior

There is no default

[2018-12-07 04:53] BrightLin opened #3985 "FieldColourSlider: error when brightness from zero to other value"
### Expected Behavior

Block's color field slider can work well.

### Actual Behavior

Color field get unexpect color when brightness from 0 to other value.

### Steps to Reproduce

See the gif:
![slide color](https://user-images.githubusercontent.com/15828392/49628339-8d37b000-fa1e-11e8-9090-6acc122dc90a.gif)

### Operating System and Browser

Win10 x64, Google Chrome 70.0.3538.110

[2018-12-07 11:22] Kenny2github commented on #3976
@towerofnix 😮 I had no idea that existed! I just knew that dragging the dot (no shift or ctrl) provided a failsafe way to drag the whole selection instead of a member of a group in vector.

[2018-12-07 11:29] apple502j opened #3986 ""Save now" is shown to logged out users"
Why do I see "Save Now" without logging in?
![](https://i.gyazo.com/1e8bf1cc8df524cd55a167a468e8f333.gif)

[2018-12-07 11:32] apple502j opened #3987 "Saving... uses different font"
#3986 made me possible to find this bug.

![image](https://user-images.githubusercontent.com/33279053/49645398-1a025e00-fa5f-11e8-97bc-b38c12d9a1cc.png)
It uses a different font, but I can't see why.

[2018-12-07 14:17] #3545 closed

[2018-12-07 14:17] #3846 closed

[2018-12-07 14:53] #3684 closed

[2018-12-07 15:45] paulkaplan commented on #3986
Thanks! fixing this now

[2018-12-07 15:46] #3987 closed

[2018-12-07 16:45] benjiwheeler opened #3994 "Modals that accept typing input should not be hidden by soft keyboard"
### Expected Behavior

On a small tablet like a 9" Android tablet:
1. create a variable.
2. Tap on the name field.
3. The modal should move up when the soft keyboard appears, so you can still fully see it.

### Actual Behavior

The soft keyboard obscures the bottom half of the modal!

### Operating System and Browser

Android Chrome (tested on a Samsung 9")

[2018-12-07 16:58] benjiwheeler opened #3995 "Admins should see author credentials in editor, not title editing field"
### Expected Behavior

You're an admin, just steady admin-ing. You go to the editor on someone's project. You want to know about them. What's their username? What makes them tick? You look at the author credentials area in the menu bar.

### Actual Behavior

AUTHOR CREDENTIALS ARE NOT THERE and you feel sad. You see a title bar editing field instead. You want to title this "I miss you, author"

##

[2018-12-07 19:03] #3967 closed

[2018-12-07 20:23] #3986 closed

[2018-12-07 20:32] thisandagain commented on #3982
/cc @ericrosenbaum @evhan55

[2018-12-07 20:33] thisandagain commented on #3983
/cc @kchadha @picklesrus

[2018-12-07 20:33] thisandagain commented on #3985
@BryceLTaylor Can you repro this?

[2018-12-07 23:20] rschamp commented on #3363
This seems like an important one to have fixed. It is unclear to the user when something goes wrong while loading a project, especially in the player view. I think we want this to be visible, and at least not show a green flag over the project when there's no project to start.

[2018-12-08 13:50] kyleplo commented on #3985
I can repro this

[2018-12-08 14:03] joker314 commented on #3985
(Can reproduce on Firefox, Debian)

When duplicating the block, both blocks have a "saturation" value of 0, even though this setting was not adjusted. This explains why only greys were showing.

Moreover, if you cause this bug to happen, and then change the saturation value slightly, the colour goes back to normal.

So the "saturation" value changes unexpectedly to 0 when you set "brightness" to 0

[2018-12-09 11:50] Jingbeishui opened #4001 "When I convert stage canvas to png, sometimes the image is full with black"
I use` toDataUrl` to convert stage canvas to png, but sometimes the image is all black and with nothing else. Miraculously, there are times when the image displays the contents of the canvas normally. Does anyone know why?

Here is my code:
[code]

[2018-12-09 18:13] TheLogFather commented on #3932
In Scratch 2, "stop other scripts in sprite" does *not* remove a normal speech bubble from a "say [...] for N secs" (or "think [...] for N secs") block that's still executing. However, it does remove an ask bubble from a waiting ask block.

This feels to me like there's some inconsistency.
(So the question is whether you want Scratch 3 to work in the same way as Scratch 2 – i.e. 'stop other script

[2018-12-09 18:18] joker314 commented on #3985
Observations:
1. If you get into this buggy state, click away (so as to close the slider menu), and then re-open it, you notice that all the values have been zeroed, not just brightness.
2. If you duplicate the block, you get the same as observation 1.
3. If you nudge the sliders, you get that slider back to normal. For example, in the proof of concept, the colour appears grey due to the saturatio

[2018-12-09 22:45] benjiwheeler commented on #3411
@carljbowman @kathymakes What do you think about these aspects of UI: should they reset when user creates a new project?
1. Code tab should be visible
2. Tutorial card should go away
3. Small stage mode should be reset

[2018-12-10 10:31] TheLogFather commented on #3932
Another minor difference between Scratch 2 vs 3:

4) Asking while hidden makes the ask text appear as part of the ask prompt (this is the same for both 2 & 3). However, if the sprite is subsequently shown (i.e. by another script running in the same sprite), and it says something, then answering the ask removes the say bubble in Scratch 2 (even though it wasn't from the ask), but doesn't remove it

[2018-12-10 12:22] TheLogFather commented on #3932
Yet more minor differences (and a bit hard to explain well...)

5. Asks get 'queued' – so if you have two sprites/clones, or scripts-in-same-sprite, executing an ask at the same time (i.e. second one starts while first is still there), the second one will not start asking until the first one is done.
However, in Scratch 2, the second ask doesn't work out what it's meant to be doing (i.e. for its a

[2018-12-10 14:57] epicfaace opened #4006 "README is inconsistent"
In the README, it gives me the https url (https://github.com/LLK/scratch-gui.git) to install it from node modules but then gives the URL (git@github.com:LLK/scratch-gui.git) to clone the repo. For consistency's sake I think we should use the HTTPS URL for both.

![image](https://user-images.githubusercontent.com/1689183/49740376-df5c1980-fc48-11e8-9608-72fee28d64f6.png)

[2018-12-10 15:11] #3736 closed

[2018-12-10 15:22] benjiwheeler commented on #3411
@carljbowman commented:

[2018-12-10 15:40] #3608 closed

[2018-12-10 17:55] epicfaace commented on #3277
I've implemented option 2 in #4011 and the [zoom setting is able to be passed into the workspace config](https://github.com/LLK/scratch-gui/pull/4011/files#diff-2d67b4b152fdb4487af9345ff9c25487R97); however, it looks like scrollX and scrollY cannot be passed into the workspace config so we cannot set the scrollX and scrollY positions to the initial positions upon changing languages. Is there a way

[2018-12-10 18:23] benjiwheeler commented on #3411
Seems like extensions are still showing up in blocks toolbox after creating new

[2018-12-10 20:31] BryceLTaylor commented on #3985
I can.  I'm seeing it on Mac Chrome and Safari.

What @joker314 says is right about the saturation.  If the saturation becomes 0 the color becomes 0 (red) until you adjust it.  Similarly if the brightness ever becomes 0 the saturation becomes 0 (which in turn makes the color become 0) until you adjust it.

This causes the touching color boolean to be true on bright red, even if the color is set to

[2018-12-10 21:34] #3822 closed

[2018-12-10 21:34] #3842 closed

[2018-12-10 21:35] #3843 closed

[2018-12-10 22:38] benjiwheeler opened #4014 "File menu should close after (or while?) file uploads"
### Expected Behavior

You click File. You click "load from your computer". You pick a file. It uploads.

The menu should be closed now.

### Actual Behavior

The menu is open!

### FIx

I made a fix for this like:

![screen shot 2018-12-10 at 5 35 26 pm](https://user-images.githubusercontent.com/3431616/49766091-380bd080-fca2-11e8-8517-2c12031951f6.png)

...which seems like it should work.

But i

[2018-12-10 22:42] #2738 closed

[2018-12-10 23:06] rschamp commented on #4014
I saw this before too and I thought I wrote up the problem in an issue, but it was just this commit: https://github.com/LLK/scratch-gui/commit/7e3b53a11159e8239b3eb18b1cd5ad0cc70c73e9

[2018-12-10 23:09] thisandagain commented on #4014
Tracking the larger / global issue here: https://github.com/LLK/scratch-gui/issues/2525

[2018-12-10 23:09] #4014 closed

[2018-12-10 23:16] rschamp commented on #3950
@thisandagain I'm not sure why @paulkaplan assigned you to this... just in case you were thinking of doing something here, I am already working on this/about to have a PR.

[2018-12-11 01:38] towerofnix commented on #1573
This is not a bug in Chrome/Chromium:

![The asset list scrolled all the way to the bottom, with the final asset icon having enough padding below it that it is not obscured by the add asset button](https://user-images.githubusercontent.com/9948030/49772384-78c81180-fcc3-11e8-9ce4-ddf7dfc51d92.png)

But I can repro the issue in Firefox. (I haven't tried other browsers.)

It would seem that this `pa

[2018-12-11 02:08] BrightLin opened #4016 "Can not delete blocks on toolbox label"
### Expected Behavior

Delete block on toolbox & flyout

### Actual Behavior

The block layout on toolbox label.

### Steps to Reproduce

![can not delete](https://user-images.githubusercontent.com/15828392/49773544-836ac100-fd2c-11e8-8e7d-cb172fd507ea.gif)

### Operating System and Browser

Win10 x64, Google Chrome - 71.0.3578.80

[2018-12-11 09:33] apple502j commented on #2525
Is it related to the "Locale Setting" dropdown? (It used to auto-close, but after discovering a strange bug on Firefox, it got revered) #3626

[2018-12-11 15:11] benjiwheeler opened #4018 "before and after project creation, only autosave if project has changed"
### Expected Behavior

You save your current project, and do File->New.

You expect it to create the new project, and that's it.

### Actual Behavior

It saves the current project *again*, creates the new project, and saves *that* project as well.

### Solution

before and after project creation, only autosave if project has changed.

I confirmed that `project-saver-hoc`'s `this.props.projectChang

[2018-12-11 15:17] Jingbeishui commented on #4001
@summerscar Thank you for your help

[2018-12-11 17:17] paulkaplan commented on #2236
Going to close this and track it on https://github.com/LLK/scratch-svg-renderer/issues/61, it is the same issue, that one has more examples

[2018-12-11 19:51] paulkaplan commented on #3534
Going to close this in favor of tracking on https://github.com/LLK/scratch-svg-renderer/issues/61 since it is the same issue. This issue has-patch though, so should be fixed shortly.

[2018-12-11 19:52] #3534 closed

[2018-12-11 21:40] #3363 closed

[2018-12-11 23:30] epicfaace opened #4022 "Feature request: Offline Scratch 3.0"
Feature request: make an offline version of Scratch 3.0. This seems a relatively straightforward task using Electron; the only problem is that things like sounds, etc. may need to be stored with the app rather than being fetched from assets.scratch.mit.edu.

[2018-12-12 01:20] epicfaace commented on #3863
What do you mean by "variable status"?

[2018-12-12 01:46] joker314 commented on #3863
@towerofnix I believe the core of the issue is "double _right_ click"

[2018-12-12 02:00] towerofnix commented on #3863
@joker314 Ohhhh right, of course! I missed that, oops. There would need to be a separate function inside `onDoubleClick` which checks that the button clicked is left-click (or maybe [the `onNextMode`](https://github.com/LLK/scratch-gui/blob/61c02651b1d1e4684e919a1e2f0c00e99890c4e4/src/containers/monitor.jsx#L97) could just take an `event` value and, if present, check that itself).

Aside: This is

[2018-12-12 02:02] towerofnix commented on #4022
Funnily enough the Scratch Team is actually already working on this! Called "Scratch Desktop", it'll even be ready for when 3.0 is released. There's no public repository for it yet, nor proper info about it officially organized, but you can read https://github.com/LLK/scratch-www/issues/2299 and the images there to learn about it for now.

[2018-12-12 03:18] evhan55 commented on #1808
Hi @thisandagain, I came across this bug in my experimental-AR-extension work, and I traced the issue (I think) down to something in scratch-render in https://github.com/LLK/scratch-render/blob/develop/src/RenderWebGL.js#L1032.  If it's not too crazy to get started developing for Scratch Renderer, I could take a stab at trying a small fix.

[2018-12-12 13:47] thisandagain commented on #1808
@evhan55 Go for it!

[2018-12-12 15:12] BryceLTaylor commented on #3707
I just tested this on a mac from mid 2011 running 10.11.6 and chrome 67 and it gives the "Your Browser Does Not Support WebGL" message.  It may be an issue with newer ones.

[2018-12-12 15:58] BryceLTaylor commented on #3797
I'm unable to reproduce this.

[2018-12-12 15:58] #3797 closed

[2018-12-12 16:57] BryceLTaylor commented on #3401
I'm able to reproduce this only on the big Dell laptop we have.  The smaller Dell and the Surface don't do this.  The only steps seem to be adding the wedo 2 extension and trying to connect.  I did this on an otherwise blank project.  The computer was being kind of slow when it happened.

System specs:
Dell Latitude e5570
Intel core i5-6300U CPU @2.40Ghz
4 GB of ram
64 bit

Windows 10 pro v1803

[2018-12-12 17:05] paulkaplan commented on #412
This is going to be fixed with https://github.com/LLK/scratch-gui/issues/3207, so I'm going to close this

[2018-12-12 17:05] #412 closed

[2018-12-12 17:06] paulkaplan commented on #2207
This is going to be fixed with https://github.com/LLK/scratch-gui/issues/3207, so I'm going to close it

[2018-12-12 17:06] #2207 closed

[2018-12-12 17:09] paulkaplan commented on #1770
I'm gonna take mini off this one, I think it `needs-discussion` with someone who has more knowledge in this area to figure out exactly what we want. I don't think "per the aria spec" is specific enough for scratch, where we have some pretty complex interactions between keyboard controls/accessibility.

[2018-12-12 17:10] paulkaplan commented on #2189
Has been fixed

[2018-12-12 17:10] #2189 closed

[2018-12-12 18:06] kchadha opened #4027 "Variable context menu should not include itself in the list of variables to switch to"
Variable context menu for `foo` includes variable `foo` in the list of variables to switch to. It should skip `foo` and list all other variables of the same type.

[2018-12-12 18:15] BryceLTaylor opened #4028 "Makey Makey when key pressed is hard to trigger just once"
from @fsih: (MakeyMakey) When key pressed is hard to trigger just once, the instant I press the key it often triggers twice

We should discuss this with @ericrosenbaum

[2018-12-12 18:24] BryceLTaylor opened #4029 "Can get "Backdrop # of Sprite" in the flyout"
From @chrisgarrity: In the flyout: You should not be able to get backdrop# of a sprite in the sensing block
<img width="207" alt="screen shot 2018-12-12 at 1 22 37 pm" src="https://user-images.githubusercontent.com/1088291/49890010-036a5700-fe11-11e8-9912-ce6565cdd561.png">
* select stage, pull out the backdrop# of stage block
* switch to a sprite and change ‘stage’ to another sprite. backdrop# is

[2018-12-12 18:41] BryceLTaylor opened #4030 "ios safari after downloading a project fails you leave the page and lose work"
@kathymakes writes:
Because downloading doesn’t work on iOS devices, you get redirected to a safari error screen and you lose your work :( Ideally it should open a new tab -or- tell the user download doesn’t work -or- maybe do nothing

### Steps to Reproduce

on ipad create a new project
make a few changes
Choose File>download to your computer
Note: you are taken to an error page
Your project is n

[2018-12-12 18:49] paulkaplan commented on #1892
When sprite click now activates the same way on sprites and the stage, so I'm going to close this because they both activate on mouse down.

[2018-12-12 18:49] #1892 closed

[2018-12-12 18:50] paulkaplan commented on #1893
The behavior is different now, the "when clicked" now activates on mouse down, so this isn't relevant

[2018-12-12 18:50] #1893 closed

[2018-12-12 18:57] paulkaplan commented on #1872
This has been fixed!

[2018-12-12 18:57] #1872 closed

[2018-12-12 18:58] BryceLTaylor opened #4032 ""Saving" appears too briefly when you "Try Again" from "could not save" alert"
from @kchadha
Clicking “Try Again” in “Project could not save” alert makes “Saving…” notification appear briefly. This looks a little bit glitchy.. Maybe there should be a minimum time that the “Saving …” notification appears in the menu bar before disappearing?
![image12](https://user-images.githubusercontent.com/1088291/49891811-6f4ebe80-fe15-11e8-928e-28beeed74e44.gif)

###Steps to Reproduce
Si

[2018-12-12 19:00] paulkaplan commented on #1998
Looks like this was fixed

[2018-12-12 19:00] #1998 closed

[2018-12-12 19:04] paulkaplan commented on #1898
Can no longer repro, looks fixed

[2018-12-12 19:04] #1898 closed

[2018-12-12 19:07] paulkaplan commented on #2212
Fixed

[2018-12-12 19:07] #2212 closed

[2018-12-12 19:39] evhan55 commented on #3292
Possibly fixed here: https://github.com/LLK/scratch-render/pull/376

[2018-12-12 20:19] BryceLTaylor opened #4037 "When a remix fails it hangs and there's no see community button"
### Expected Behavior

Remixes in the editor should succeed and if they don't they should stop trying after a while and leave the "see community" button.

### Actual Behavior

When a remix fails it keeps showing you the alert that says it's trying to remix.  During this time the "See community" button is not present.

### Steps to Reproduce
Sign in on Scratch.ly
Navigate to the main page
Click "Ch

[2018-12-12 20:31] chrisgarrity opened #4038 "Add what's new video tutorial for launch banner"
There will be a what's new tutorial video for the Scratch 3.0 launch.
- [ ] the URL id should be `whatsnew`
- [ ] it should not show up in the library list.

[2018-12-12 20:52] BryceLTaylor opened #4040 "Lost Connectivity alert doesn't go away after downloading project"
@benjiwheeler says:
On Edge, when lost connectivity, and “Could not save project” comes up, can’t get rid of it by clicking Download; seems to be downloading, but not dismissing alert. Also, Try again button instantly returns back to same alert.

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-12-12 20:57] kathymakes commented on #3686
<img width="661" alt="alert re-spec" src="https://user-images.githubusercontent.com/8203939/49898288-9eb9f700-fe26-11e8-95b8-5e583ec1ab74.png">

[2018-12-12 21:06] BryceLTaylor opened #4043 "Alerts don't stay around for very long"
### Expected Behavior

The alerts appear for long enough to read them no matter what they are.

### Actual Behavior

It switches alerts and/or closes them quickly.

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-12-12 21:31] #4006 closed

[2018-12-12 21:33] BryceLTaylor opened #4045 "Try Again on alert button wraps"
@kchadha says:
Try again button in save error alert wraps.. (Mac Firefox)
![image10](https://user-images.githubusercontent.com/1088291/49900082-90220e80-fe2b-11e8-95a0-036e46267a7e.png)

### Steps to Reproduce

Sign in
Open the editor
Disconnect from the internet
Click "Save Now"
Note: The text "Try Again" wraps

### Operating System and Browser

Mac Firefox

[2018-12-12 21:38] BryceLTaylor opened #4046 "Create Account modal goes behind the tutorial"
### Expected Behavior

If you navigate to the editor while signed out and click "create account" the create account modal should appear above the tutorial.

### Actual Behavior

The Getting Started tutorial appears in front of the create account modal

### Steps to Reproduce

Sign out
Click Create on the homepage
Note: the editor opens with a tutorial video
Click Create Account
Note: The create ac

[2018-12-12 22:11] #3207 closed

[2018-12-12 22:16] BryceLTaylor opened #4047 "Can navigate away from a project with unsaved changes"
@thisandagain says:
Able to navigate away from the project page / editor with unsaved changes on Mac OS Firefox.

@kathymakes says:
I’m able to “create new” and “load from my computer” when I have made unsaved changes, and it navigates away without throwing a message. We should probably have a javascript modal or something here?

### Steps to Reproduce

1) Open project
2) Switch to editor
3) Remix

[2018-12-12 22:31] BryceLTaylor opened #4049 "Navbar Menus appear under alerts"
### Expected Behavior

Menus should appear above alerts

### Actual Behavior

The menus appear behind the alerts

### Steps to Reproduce

Sign in
Create a project
Turn off your internet connection
Make a change to the project
Click Save Now
Note: an alert appears
Click your username in the navbar
Note: the menu appears
Shrink the window so the menu and the alert overlap
Note: the menu is in front

[2018-12-12 22:37] benjiwheeler opened #4050 "Make sprites in library render their animations separately"
When you hover over a sprite in the sprite library, the sprite animates through its available costumes.

Unfortunately, that's implemented by a state change on the whole library, which means that all library items re-render constantly :(

Some of the changes @cwillisf has made for scratch-desktop make that, shall we say, very noticeable :smile:

We'd like them to animate without affecting the stat

[2018-12-13 01:48] #3598 closed

[2018-12-13 01:48] #2173 closed

[2018-12-13 02:08] #4027 closed

[2018-12-13 05:14] benjiwheeler commented on #4043
@bryceltaylor can you say more about this -- is it the 5 second auto-disappear you're referring to, or the intermediary steps (like "Creating...") that are replaced by success messages ("Project created.")? Or something else!

[2018-12-13 05:16] benjiwheeler commented on #3686
Reopening per @kathymakes's comment; will hopefully be closed by outstanding PR

[2018-12-13 08:38] tomrow opened #4057 "Brush paints the entire paint editor a transparent color"
### Expected Behavior

Brush size 1 should not paint the entirety of a bitmap image transparently blue and should produce a mark 1 pixel in size

### Actual Behavior

Brush size 1 layers a transparent colour over the entirety of an image, this is not a selection as it appears on sprites on the Stage too

### Steps to Reproduce

Convert the Scratch cat sprite to Bitmap
Change the hue value to 72
ch

[2018-12-13 08:46] tomrow commented on #4030
Possibly if we wanted to be really lazy we could just make the project save before attempting the download

[2018-12-13 16:23] benjiwheeler opened #4061 "Should logged in user with unsaved changes to someone else's project be warned on doing File->New?"
If you:
* arelogged in
* are seeing inside someone else's project
* have made changes
* do File->New

...should you see a confirm popup alert that confirms you really want to leave without saving your work?

2.0 does NOT show anything in this situation, it just loses your work.

Should 3.0 do the same? Or prompt you?

[2018-12-13 16:30] BryceLTaylor commented on #3773
I've been unable to reproduce this.  I would need more information about the conditions where this was seen before I dig any deeper.

[2018-12-13 16:41] DeleteThisAcount opened #4063 "issues with project id 269088736"
### Expected Behavior

_Please describe what should happen_

the game plays normally

### Actual Behavior

_Describe what actually happens_

many issues

the brigtness effect when hovering over the play button and menu items doesnt work as they do in scratch 2.

the text is much smaller

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior*

[2018-12-13 16:44] thisandagain commented on #4061
/cc @carljbowman

[2018-12-13 16:46] thisandagain commented on #4063
Thanks. In order for this type of issue to be actionable we need to reduce the issue down to specifically what is behaving differently. Ideally a smaller project could be created that focuses on one specific compatibility difference. I'm going to close this pending additional details and information.

[2018-12-13 16:46] #4063 closed

[2018-12-13 16:51] paulkaplan opened #4064 "Project cannot be renamed in the editor standalone build"
Beta:
![image](https://user-images.githubusercontent.com/654102/49953978-5d305700-fecd-11e8-91e0-9d142a535f35.png)

Develop
![image](https://user-images.githubusercontent.com/654102/49953982-60c3de00-fecd-11e8-8107-66ddc525bfb4.png)

I believe this was introduced by https://github.com/LLK/scratch-gui/pull/4035

[2018-12-13 16:51] paulkaplan commented on #4064
/cc @benjiwheeler

[2018-12-13 16:52] BryceLTaylor opened #4065 "Need more consistent behavior when unable to save/create projects"
@kathymakes says:
Perhaps something to think about:
When I can’t save a project, and then try to create new, it doesn’t let me leave the page, and it also doesn’t give me an error.

When I can’t save a project, and then try to upload a project, it gives me the “Could not create project.” Maybe the behaviors should be more consistent?

[2018-12-13 16:56] BryceLTaylor opened #4067 "Alerts with "X"s should not disappear without user action"
@kathymakes  writes:
Cloud vars warning disappears on a timer. The alerts with “X”s and actions should probably not disappear without user action?

### Steps to Reproduce

Create a new project
Add a cloud variable to the project
Note: an alert appears.  It has an X.
Wait for a little while
Note: the alert disappears

### Operating System and Browser

Mac Chrome

[2018-12-13 17:02] thisandagain commented on #4065
/cc @carljbowman

[2018-12-13 17:16] tomrow commented on #4057
I can reproduce a similar issue on a newer build of chrome; clicking _and not dragging_ on the bitmap image will cause the whole image in the paint editor to decrease opacity somewhat, and clicking enough times will cause the image in the paint editor to disappear completely except for what marks were produced by the brush tool.

[2018-12-13 17:29] ericrosenbaum opened #4069 "Tutorial library back button may be confusing if you arrive from the ideas page"
The ideas page on www can take you directly to the editor with the tutorials library open (using a `?tutorial=all` url). Once you're there, the library has a "back" button, which takes you, perhaps unexpectedly, into the editor, instead of back to the ideas page.

[2018-12-13 17:35] tomrow commented on #4057
![2018-12-13_17-24-06](https://user-images.githubusercontent.com/10169982/49956574-6e915780-fefd-11e8-9c03-b939fe053139.gif)

[2018-12-13 17:39] #3742 closed

[2018-12-13 17:41] thisandagain commented on #4067
Hmm. I'm not sure if I agree. Having the "X" (close button) is to help users who are used to seeing these types of errors move past them quickly.

[2018-12-13 17:42] #3686 closed

[2018-12-13 17:42] thisandagain commented on #4069
/cc @carljbowman

[2018-12-13 18:37] ericrosenbaum opened #4072 "Handle required project for a tutorial in a better way"
Currently the "Animate an Adventure Game" tutorial requires content available in a specific project.

Current we use a hack to check the URL ID, and if you are not already on the project, load it in a new tab with the project and tutorial open:

https://github.com/LLK/scratch-gui/commit/5314426203bdb2162b6310f2f4012a9762c37074

For now we will just fix the URL so that it works in production.

Note

[2018-12-13 18:39] thisandagain commented on #4072
/cc @cwillisf We'll need to hide this tutorial in Scratch Desktop.

[2018-12-13 18:47] BryceLTaylor opened #4073 "The number in a cloud variable monitor is vertically misaligned"
From @carljbowman
The vertical alignment of the number in monitors is offset. The number appears too high
![image6](https://user-images.githubusercontent.com/1088291/49960374-fb2c1d80-fedd-11e8-85ce-e2d5546ac5e9.png)

### Steps to Reproduce

Create a new project
Add a cloud variable
Note: the number inside the monitor is aligned with the top of the box for the number and there is too much space be

[2018-12-13 19:12] #3489 closed

[2018-12-13 19:59] #2154 closed

[2018-12-13 20:00] #3983 closed

[2018-12-13 20:02] #3073 closed

[2018-12-13 20:43] kchadha opened #4079 "Block gets stuck when dragging over category menu"
### Expected Behavior

Blocks should get deleted when dragged to the left of the workspace over the toolbox or the category menu.

### Actual Behavior

Block gets stuck if your cursor is over a category on the category menu while dragging.

![block-gets-stuck](https://user-images.githubusercontent.com/1786240/49966187-50236000-feed-11e8-8ba3-5f322090281a.gif)

### Steps to Reproduce

1. Drag a blo

[2018-12-13 20:45] BryceLTaylor opened #4080 "project is pixelated when entering project page from small screen editor"
@fsih writes:
After switching to small stage and then going to project page, the stage looks super pixely
![image7](https://user-images.githubusercontent.com/1088291/49966455-f8d1bf80-feed-11e8-986c-a95d9ded2164.png)

### Steps to Reproduce

Sign In
Create a project
Add a few sprites
Enter small screen mode
Click "See Community"
Note: the project looks pixelated on the project page

### Operating

[2018-12-13 20:49] #1771 closed

[2018-12-13 20:59] #2072 closed

[2018-12-14 08:51] tomrow commented on #4057
/cc BryceLTaylor
I've uploaded a GIF of the  and I _think_ that the colour that the brush leaves behind is the cyan/magenta transparency colour (perhaps my machine is set to reduced colour mode?)as I tested it on yet another PC and the colour changed.

edit: The colour also changes depending on what version of Scratch 3 it is, /develop turns magenta while beta.scratch.mit.edu turns bright red.
![s

[2018-12-14 14:35] Jingbeishui commented on #4001
@summerscar I use requestSnapshot () to push the callback function to the array, and then I use draw () to execute the callback function. But the photo I got is all white and with nothing else.Do I make a mistake again?😭

[2018-12-14 17:00] paulkaplan commented on #4064
Should I mark this as critical? it means you can't rename projects in the offline editor

[2018-12-14 17:03] thisandagain commented on #4064
@paulkaplan Yup. Marked.

[2018-12-14 17:03] thisandagain commented on #4050
/cc @cwillisf

[2018-12-14 21:35] #4064 closed

[2018-12-14 21:45] #3744 closed

[2018-12-14 21:49] ericrosenbaum commented on #3087
Looks like this has been fixed, but I'm not sure how. @chrisgarrity could you please confirm?

[2018-12-15 00:26] julescubtree opened #4093 "draggable sprites (in .sb3 file) are not draggable when loaded into gui"
### Expected Behavior

_Please describe what should happen_

When loading an .sb3 file, the draggability of sprites should be preserved.

### Actual Behavior

If sprites are draggable (in the fullscreen/player view) in the .sb3 project file, they are not draggable in the gui after the file is loaded.

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Ac

[2018-12-15 02:02] summerscar commented on #4001
https://github.com/LLK/scratch-gui/blob/ffa2e878241daa05f564f22f0e9128dd4ae4e63a/src/lib/project-saver-hoc.jsx#L273

[2018-12-15 02:07] summerscar commented on #4001
https://github.com/LLK/scratch-gui/blob/ffa2e878241daa05f564f22f0e9128dd4ae4e63a/src/lib/project-saver-hoc.jsx#L273
上面是官方的做法 @Jingbeishui ，在这个requestSnapshot pr提出之前，我是这样子做的，toDataURL先调用下draw方法。不过还是优先使用官方的做法吧
[code]

[2018-12-15 08:33] apple502j opened #4094 "Bug on downloading on Chromebook"
https://scratch.mit.edu/discuss/post/3347737/

[2018-12-16 07:37] TheBestE commented on #3759
They can just let the script area scroll with the text cursor. Or at least not make it stretch so much that the entire webpage gets a horizontal scrollbar.

[2018-12-16 09:46] apple502j opened #4095 "AVG Anti-Virus is against 3.0 Beta"
https://scratch.mit.edu/discuss/post/3348886/
For some reason AVG and Scratch 3.0 don't go well.

[2018-12-16 13:04] kyleplo opened #4096 "When connection is aborted, it just loads forever"
### Expected Behavior

When aborting the connection (pressing the browser stop loading button), an error should appear

### Actual Behavior

It just loads forever, and there is a console error

### Steps to Reproduce

Load the GUI, and quickly abort with the browser stop loading button.

### Operating System and Browser

Windows 10 Chrome 70 (although I think this is an issue everywhere)

[2018-12-17 04:18] ntlrsk commented on #3218
The variable block menus in Scratch 3.0 are still more complicated to understand and use than in Scratch 2.0.
Recommendation to match variable menus in 2.0.
Specifically for reporter blocks use: "rename variable / delete variable"
For other variable blocks- only list the names of the variables.

[2018-12-17 11:16] jialiren opened #4098 "When a list's name is modified, the list monitor does not show the modified name"
### Expected Behavior

After the list name is modified, the stage synchronizes the modified name

### Actual Behavior

When the list name is modified, the stage cannot synchronize the modified name

### Steps to Reproduce

### Operating System and Browser

chrome

[2018-12-17 13:38] thisandagain commented on #4098
@jialiren This isn't quite enough info for us to be able to reproduce or understand the behavior you are seeing. Please provide a comprehensive list of steps for us to reproduce the issue.

[2018-12-17 14:41] chrisgarrity opened #5445 "Default text in sensing and operator blocks always loads in English"
### Expected Behavior

When the editor loads in a different language (e.g. due to browser language setting), the default text on the `ask` and text operator blocks should be translated.

### Actual Behavior

The default text is in English. Here's an example with the editor loading in Spanish:
![screen shot 2018-12-17 at 9 33 31 am](https://user-images.githubusercontent.com/399209/50093625-39c41f80

[2018-12-17 14:44] benjiwheeler commented on #4050
Note for posterity: we may wish to refactor `sounds-library` similarly (which would let us remove more levels of passing handleMouse{Enter|Leave}, but it doesn't maintain state so we don't have the same React rendering problem we had with sprites-library.

[2018-12-17 15:33] BryceLTaylor opened #4100 "Switching between editor and project page highlights last selected sprite"
### Expected Behavior

Switching between the editor and the project page (See Project Page) or from the project page to the editor (See Inside) should not show the bounding box around the selected sprite.

### Actual Behavior

It does.

### Steps to Reproduce

Sign In
Navigate to a project you own
See inside so you enter the editor
Click a sprite from the sprite list
Note: a boarder appears on the

[2018-12-17 15:53] benjiwheeler opened #4101 "One of the sprite "Abby"'s costumes renders wrong"
This costume renders incorrectly:
https://cdn.assets.scratch.mit.edu/internalapi/asset/2193cf08f74b8354f7c4fac37a06ea24.svg/get/

@fsih thinks the view box on the svg is set wrong.

cc @kosiecki17

[2018-12-17 16:20] benjiwheeler commented on #2720
Also note that after opening thermometer, you must tap twice to do any of the sub-options, like add random sprite or upload sprite.

[2018-12-17 16:31] #3129 closed

[2018-12-17 16:51] ktbee commented on #2860
@gnarf and I took a deeper look at @BryceLTaylor's example #239879101, and it seems like this could be an issue with how the vector sprite is rendered versus the bitmap sprite. In both Scratch 3 and 2, the size of the sprite changes as you switch between bitmap and vector. However, the difference seems to be a little bigger in Scratch 3. I found this by using Mac's [Screen Zoom feature](https://ww

[2018-12-17 17:03] thisandagain commented on #2860
Thanks for the update @ktbee and @gnarf!

/cc @cwillisf @fsih @kchadha

[2018-12-17 17:06] fsih commented on #2860
@ktbee In 3.0 we convert vectors to bitmap by drawing the SVG element with the shape-rendering property set to crispEdges (which isn't supported in all browsers, so sometimes it comes out blurry anyway) to an ImageElement, then draw that onto a canvas with the x and y rounded to the nearest pixel (so that the pixels are drawn crisp instead of blurred when drawn to canvas). So this is a process we

[2018-12-17 17:09] fsih commented on #2860
I think in the renderer, the result from the paint editor is then downsized to 1/2 width and 1/2 height, and we set some additional setting in webGL to make the pixels look sharp after doing that, which could change the look more. I think cwillisf or Z would know more about that.

[2018-12-17 18:12] thisandagain opened #4103 "Dark outlines appear around the edges of some sprites"
Some sprites / costumes appear to render with a small black outline around them.

### 2.0
![image](https://user-images.githubusercontent.com/747641/50105990-66d2fb00-01fc-11e9-85d5-86807b036319.png)

### 3.0 (Develop)
![image](https://user-images.githubusercontent.com/747641/50105943-3a1ee380-01fc-11e9-947b-923b18a1a228.png)

** NOTE: This project is currently not shared, please check with me if y

[2018-12-17 18:12] thisandagain commented on #4103
Assigning to @BryceLTaylor to create a small repro case.

[2018-12-17 18:13] fsih commented on #4103
Might be https://github.com/LLK/scratch-render/issues/237

[2018-12-17 18:15] thisandagain commented on #4103
@fsih I thought we had an issue for this already! Thanks!

[2018-12-17 18:22] benjiwheeler opened #4104 "File->Save to your computer does nothing on iOS Chrome"
On iPad mini running current Chrome, File->Save to your computer has no effect at all, from what I can see.

[2018-12-17 19:18] benjiwheeler opened #4106 "translate file->new confirm alert"
It should be translated into other languages; instead, it seems to always be English. Maybe translations just haven't been updated?

Was introduced in: https://github.com/LLK/scratch-gui/pull/3974/files

LLK Brazil team reported that they couldn't find the string on Transifex, and I can't either

cc: @chrisgarrity

[2018-12-17 19:22] benjiwheeler opened #4107 "Clarify hardware extension Scratch Link modal language"
Some reports (e.g., from LLK Brazil team) that "Make sure you have Scratch Link installed and running" is confusing. Some users haven't heard of Scratch Link, and say it's not clear we're talking about a separate program that must be downloaded.

Maybe we could link to the MicroBit page (or EV3, etc.)

[2018-12-17 19:38] benjiwheeler opened #4108 "Sound editor buttons misalinged in Brazilian Portuguese"
In the Sound editor, in Brazilian Portuguese, the slower button and faster button are misaligned because of line wrapping; and, the text has no padding/margin:

![image](https://user-images.githubusercontent.com/3431616/50110849-478e9a80-0209-11e9-8974-b54ce1219ffa.png)

[2018-12-17 19:56] kosiecki17 opened #4109 "Sprites displaying incorrectly in editor (dev)"
While viewing sprites in dev: previews in the library are correct, but when the sprite loads in the stage, it is missing pieces and has other pieces that are displaying incorrectly. Costumes appear normal. When you move a piece of the sprite in the paint editor, they update and display correctly on the stage. All of the additional costumes are displaying correctly.

So far I have only found 2 spri

[2018-12-17 20:16] fsih commented on #4109
Paul wrote a script to compare svgs before and after treatment with SVGRenderer which is super helpful, thanks Paul! [costumes-before-after-v2-svg-renderer.html.zip](https://github.com/LLK/scratch-gui/files/2687678/costumes-before-after-v2-svg-renderer.html.zip)

Here are the broken results I found. I think I'm seeing 3 things

1. Missing pieces issue
2. Fills turning black issue
3. Strokes becomi

[2018-12-17 20:25] BryceLTaylor opened #4110 "Should we warn users for leaving a project page with a running project"
@kathymakes writes:
When I am using a project with cloud variables from the project page - and then I try to leave the page - it throws a browser modal: “The page is asking to confirm you that you want to leave, data you entered may not be saved.” Is this intentional?

### Steps to Reproduce

Navigate to the project page of a project that uses cloud variables such as https://scratch.ly/projects/13

[2018-12-17 20:37] kosiecki17 commented on #4109
Those tufts on the bat's ears do not have strokes in the SVG files.
They _look_ like strokes in the paint editor, but are shapes there as well.
I thought they were rounded strokes until I looked closer.

[2018-12-17 20:37] BryceLTaylor commented on #4110
It seems to happen on any project page, with or without a cloud variable.  As long as you run the project, you get the notice when navigating away from the project page.

@fsih wrote:
On my censored project page ,I edited my description and then clicked the scratch logo, and it asked me if I was sure I wanted to leave because there were unsaved changes, which was weird. I think that’s only suppose

[2018-12-17 20:48] fsih commented on #4109
Oh no, the ones with missing pieces use masks allll over the place X|
I think we decided we weren't going to support masks, but we can't really do that if they're in our library

[2018-12-17 20:53] paulkaplan commented on #549
Fixed!
![image](https://user-images.githubusercontent.com/654102/50114921-e3250880-0213-11e9-9b73-52ec2f8a8439.png)

[2018-12-17 20:53] #549 closed

[2018-12-17 21:00] #3425 closed

[2018-12-17 21:49] ericrosenbaum commented on #4098
It looks like @jialiren is saying that, if you change the name of a list, the name displayed on the list monitor does not change. This is in fact a bug.

It works correctly for variables: if you change the name of a variable, the variable monitor updates. It just doesn't work for lists.

Steps to repro:
- Make a list. List monitor appears.
- Right-click the list reporter in the blocks menu to rena

[2018-12-17 23:14] fsih commented on #4109
Status:
For issue 1, @kosiecki17 is working on removing masks from the bat costumes and andie-a
For issue 2, https://github.com/LLK/scratch-svg-renderer/pull/68 is up
For issue 3, we figured out that the ear tufts are supposed to be thin

[2018-12-18 01:31] thisandagain commented on #4107
Please provide context (screenshots, further description, etc).

[2018-12-18 01:32] thisandagain commented on #4108
/cc @chrisgarrity

[2018-12-18 01:47] jialiren commented on #4098
Yes, forgive me for not making it clear, @ericrosenbaum  is right.

[2018-12-18 04:14] towerofnix commented on #3007
This is fixed now and should be closed.

[2018-12-18 04:16] towerofnix commented on #3198
I can't repro this on Firefox or Chromium anymore, maybe it was fixed at some point?

[2018-12-18 04:23] towerofnix opened #4116 "Add "Hide" option to monitor context menus"
### Expected Behavior

In the context (right-click) menus of monitors (e.g. variables, reporter blocks like "answer", lists) there should be an option called "hide", which hides the monitor.

### Actual Behavior

There is no "hide" option! There isn't even a context menu at all on lists.

### Steps to Reproduce

Show a monitor (e.g. by showing a variable), then right-click on it.

### Operating Sy

[2018-12-18 04:28] towerofnix opened #4117 "Dragging a reporter block onto the stage should make a monitor where you drop it"
This is a feature request!

When you drop a reporter block onto the stage, if it has a visibility toggle in the block palette (aka if you can show or hide it), a monitor for that reporter should be created wherever you dropped it.

It would be extra cool if there was a silhouette of the yet-to-be-created monitor as you drag the block over the stage, to reflect that you can drop it and make a monit

[2018-12-18 04:36] towerofnix opened #4118 "Dragging a monitor onto the workspace should create a block"
OK, this is another feature request. It's way more ambitious than its sibling-feature #4117... but coming up with way-too-crazy ideas is a good thing! :)

What if dragging a monitor *from* the stage, *onto* the workspace (the blocks area), made a block show up where you dropped it? I think this would be a neat way to quickly take a variable or block you're actively using and keeping track of, y'kn

[2018-12-18 05:01] #3007 closed

[2018-12-18 13:34] carljbowman commented on #3519
Handled by https://github.com/LLK/scratch-gui/pull/3977

[2018-12-18 13:34] #3519 closed

[2018-12-18 14:54] benjiwheeler opened #4119 "When user uploads a project, give them choice between overwriting current project, and creating new project?"
### Expected Behavior

Some users who upload a project expect it to create a new project.
Other users expect it to overwrite the current project.

### Actual Behavior

Currently, it creates a new project. But that makes some workflows by users impossible; if they work on a project offline, that project can never be used to update the content of an existing project they have comments, likes, and fa

[2018-12-18 14:54] BryceLTaylor opened #4120 "Upload from your computer does not save the current project"
### Expected Behavior

If you have made changes to your project and you go to File>upload from your computer it should save your current changes and then make a new project with the data from the uploaded project

### Actual Behavior

Currently it does not save the old project before uploading the new one.

### Steps to Reproduce

Create a new project
Add a backdrop
Note: The upper right corner sh

[2018-12-18 14:58] colbygk opened #4121 "Do not upload existing assets on remix"
### Expected Behavior

A remixed project should not attempt to save assets that already exist.

### Actual Behavior

All assets are "resaved" which does not upload new ones, but each query does take time to complete.

### Steps to Reproduce

Load large project, remix, watch behavior in network panel.

### Operating System and Browser

All

[2018-12-18 15:09] BryceLTaylor opened #4123 "File>Upload from your computer gives the wrong name to both projects"
### Expected Behavior

If you have a project open and you choose File>Upload it should result in the old project having the old project name and the new, uploaded project having the name of the uploaded project.

### Actual Behavior

The old project gets the name of the uploaded project and the uploaded project gets the name "Untitled - ##"

### Steps to Reproduce

(you may need to make and downlo

[2018-12-18 15:10] BryceLTaylor commented on #4120
This project is related to https://github.com/LLK/scratch-gui/issues/4123

[2018-12-18 15:46] kosiecki17 commented on #4109
I've updated all of the costumes for the bat. The ears were a separate issue. I did not find any clues as to why the left arm and leg would not be displaying.
I've also updated Andie's first costume.

I found no clipping masks in any of these files while viewing them in illustrator. I also opened them in a text reader and searched the SVG for the words "clipping" and "mask." If there are other way

[2018-12-18 15:54] kchadha opened #4126 "Remove log statements indicating that a message was sent to or received from the cloud data server"
Title says it all. These log statements were being used for debugging during cloud var development and are no longer needed.

[2018-12-18 16:02] paulkaplan opened #4127 "Project costume looks different in 3.0"
Project ID 244605948
- click green flag, then click the right arrow once
- see the costume is all white in 2.0, but has blue bottom in 3.0

![image](https://user-images.githubusercontent.com/654102/50166122-5da56500-02b4-11e9-8798-9d3dbaacd877.png)

compatibility view: https://llk.github.io/scratch-gui/develop/compatibility-testing.html#244605948

[2018-12-18 16:03] thisandagain commented on #4127
/cc @ktbee @kchadha @cwillisf @fsih

[2018-12-18 16:20] picklesrus commented on #2861
Fixed by https://github.com/LLK/scratch-vm/pull/1853

[2018-12-18 16:20] #2861 closed

[2018-12-18 16:40] fsih commented on #4109
I added commit https://github.com/LLK/scratch-gui/commit/3980e373783e2c997206485daedf2d1f0c49a4ea to the sprite-library-updates branch to update the costumes with issues with parts missing.

[2018-12-18 16:40] #4109 closed

[2018-12-18 20:02] ericrosenbaum opened #4137 "Asset library regressions"
Following the "super mega library update" https://github.com/LLK/scratch-gui/pull/4133, we'll use this issue to track regressions.

This is comparing the state of the sprite, costume, backdrop and sound libraries in the current form to what they contained before that PR.

**Sprite Library**
- [x] Penguin is missing from "animals" category (missing tags)
- [x] Polar bear is missing from "animals" c

[2018-12-18 20:06] kchadha commented on #3773
I also cannot reproduce.

[2018-12-18 20:06] #3773 closed

[2018-12-18 20:18] #4126 closed

[2018-12-18 21:16] kchadha commented on #3556
@thisandagain, I can't tell if the first item on this list is still an issue...

copy-pasted from above:

![image15](https://user-images.githubusercontent.com/1088291/47671695-89468180-db86-11e8-879c-c74f15134138.png)

[2018-12-18 21:18] kchadha opened #4138 "Radio buttons sometimes rendered as ovals on Edge"
Variable modal options sometimes show up as ovals instead of circles on Edge:

@fsih notes:

![image14](https://user-images.githubusercontent.com/1088291/47671729-a0856f00-db86-11e8-96e5-f390a0e5ef4d.png)

[2018-12-18 21:23] #4120 closed

[2018-12-18 21:32] paulkaplan commented on #4123
@BryceLTaylor fix for this was just merged into develop, should be good to test on staging soon.

[2018-12-18 22:04] thisandagain commented on #3556
@kchadha It is fixed! 🎉

[2018-12-18 22:40] #3556 closed

[2018-12-18 22:42] kchadha commented on #3735
Fixed in LLK/scratch-gui#3890

[2018-12-18 22:42] #3735 closed

[2018-12-19 02:19] ecc521 commented on #3380
If you use a Service Worker to cache lib.min.js you can save around 4.1 MB. Has potential to improve load times by ~4 seconds or so.

[2018-12-19 02:42] benjiwheeler commented on #4123
Reopening this because #4120 solved only half of the problem:
* the existing/previous project is no longer renamed (most important part! yay!)
* the newly uploaded project is still given a generic name ("Untitled-6")

The core issue is a bit tricky...

Basically the `project-state` goes through the states:
1. loading upload ->
2. showing without id ->
3. creating new

It's at that creating new ste

[2018-12-19 03:29] benjiwheeler opened #4140 "Record modal doesn't think it has microphone access, when it really does"
### Expected Behavior

1. Open recording modal.
2. See "We need your permission to use your microphone"
3. grant permission in your browser
4. you expect the recording modal to switch into active recording UI!

### Actual Behavior

Modal just sits there, not accessing microphone, even though it can! :(

In order to record, you must close the modal, then reopen it.

![record](https://user-images.gi

[2018-12-19 08:09] AliasT opened #4141 "Why relative positioning rules for question submit icon here ?"
[question.css:70](https://github.com/LLK/scratch-gui/blob/develop/src/components/question/question.css#L69)

`

[2018-12-19 08:52] AliasT commented on #4141
OMG, finally i find it uses browser's default padding ?

[2018-12-19 08:52] #4141 closed

[2018-12-19 10:15] AliasT commented on #4141
#4142

[2018-12-19 11:46] ShaoZeMing opened #4143 "npm install error cratch-audio@0.1.0-prerelease.20181023202904"
### Expected Behavior
- 我git clone scratch-gui  项目，并按要求执行了 npm install
### Actual Behavior

[code]

这几个基本上都报错。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。

### Operating System and Browser

localhost:scratch-croe shaozeming$ npm -v
6.4.1
localhost:scratch-croe shaozeming$ node -v
v10.8.0

mac  10.13.6

[2018-12-19 13:07] griffpatch commented on #2054
This is still a missing feature that I use a lot... can't imagine doing without the import and export of lists to/from file.

[2018-12-19 14:01] #1317 closed

[2018-12-19 14:09] benjiwheeler opened #4145 "File->upload does not use title from project file (in server backed mode)"
This is a holdover from https://github.com/LLK/scratch-gui/issues/4123 , which was partially resolved by https://github.com/LLK/scratch-gui/pull/4134 .

### Expected Behavior

1. You're logged in, editing your own project
2. You do file->upload
3. You see your new project, with a new url! great!
4. You expect the title to match the filename of your local file

### Actual Behavior

Project title is

[2018-12-19 14:10] benjiwheeler commented on #4123
Tracking remaining part of issue in https://github.com/LLK/scratch-gui/issues/4145

[2018-12-19 14:10] #4123 closed

[2018-12-19 14:17] #4072 closed

[2018-12-19 14:50] chrisgarrity commented on #4106
Fixed in Transifex

[2018-12-19 14:50] #4106 closed

[2018-12-19 15:06] kosiecki17 commented on #3577
The workaround was to expand the letters. They are no longer editable as text, but they are displaying correctly in the sprite library and paint editor.

[2018-12-19 15:06] #3577 closed

[2018-12-19 16:00] paulkaplan commented on #4145
Edited the title, but wanted to note that I believe this only impacts the server backed mode, and does not cause a regression with the Desktop / standalone mode

[2018-12-19 16:35] benjiwheeler commented on #4145
Thanks for clarifying @paulkaplan, I agree

[2018-12-19 16:47] benjiwheeler commented on #4050
@rschamp moved the PR for this ( https://github.com/LLK/scratch-gui/pull/4099 } to the Jan 2019 milestone, to avoid risk before launch

[2018-12-19 17:25] #3831 closed, assigned to benjiwheeler

[2018-12-19 19:57] picklesrus commented on #4079
Fixed by https://github.com/LLK/scratch-blocks/pull/1831

[2018-12-19 19:57] #4079 closed

[2018-12-19 20:15] thisandagain commented on #4140
/cc @ericrosenbaum @paulkaplan

[2018-12-19 20:16] thisandagain commented on #4143
It seems that your NPM cache may be outdated. What happens when you attempt:
[code]

[2018-12-19 20:39] BryceLTaylor opened #4155 "No warning when going to My Stuff with unchanged changes"
If you edit a project without saving and then navigate away with any link in the header that takes you to another page it should give you a warning to save.

If you are signed out it does give you the warning.

The links you can click to see this are:
  The Scratch logo
  My Stuff
  username> profile
  username> my stuff
  username> account settings
  username> sign out

### Steps to Reproduce

Si

[2018-12-19 20:39] thisandagain commented on #4155
@paulkaplan Can you take this one?

[2018-12-19 21:10] paulkaplan commented on #4155
@BryceLTaylor can we go through this together. I cannot repro on my own

[2018-12-19 21:14] ktbee commented on #2860
Just wanted to update with some of the weirdness/inconsistent behavior we've been seeing:

As of yesterday, I noticed that @BryceLTaylor's example blocks project (#239879101) was fixed on https://llk.github.io/scratch-gui/develop! For some reason! He took a look and tried to find the cause of the fix using `git bisect`, but seemed like it was "never" broken. Perhaps some browser updates improved S

[2018-12-19 21:19] BryceLTaylor commented on #4155
The project you are on must be an existing project that you own that you open in the editor.  It does not work with a new project just created.

[2018-12-19 21:38] ktbee commented on #2860
Actually taking a look at this in chart form now, it looks like Scratch 3 is consistent with itself across screen types and Scratch 2 is not ... so I'm going to dig into how the flash code is working for handling these sprites. I don't think we intentionally handle scaling images for hidpi screens in Scratch 2, but perhaps Flash has some funky handling going on...

[2018-12-19 22:34] benjiwheeler opened #4159 "Second set of sprites (and stage) get created"
To repro:

1. on staging, load the project page of a large project like Bouncy Heroes or Geometry Dash
2. before it fully loads, click See inside
3. the loading screen will take a long time
4. A few seconds or so after it loads... the sprites seem to duplicate themselves (the stage duplicates itself too!)

Here's me doing this with bouncy heroes, [https://scratch.ly/projects/1300000810](https://sc

[2018-12-20 01:15] benjiwheeler commented on #4159
Update after investigating:

So, in the project state sequence that happens when we load projects, there’s actually a key step where two different loading tasks happen simultaneously and asynchronously:

1. project is fetched from server, and
2. fonts are loaded.

the font loading isn’t actually a part of the project state reducer at all; it’s just kicked off by the GUI on construction.

where it