[2018-07-16 15:45] BryceLTaylor commented on #2642
On Chrome, there is also some inconsistency in the line widths, but they always seem to draw something.

[2018-07-16 15:50] kyleplo commented on #2641
Steps of hiding when screen is too small.
1. Hide icon on "See community" and "Tutorials"
2. Shrink project title field
3. Hide user profile picture
4. Show icon on "See community" and "Tutorials" and hide text
5. Show user profile picture and hide username
6. Change Scratch logo to Scratch S

![image](http://kyleplo.com/media/pictures/all-steps.gif)

[2018-07-16 16:06] ericrosenbaum opened #2643 "Add help buttons to device connection modals"
The device connection modals need help buttons (or links) that take you to the extension landing page:

- Help button at the top left of the connection modal
- Help button on the bottom of the error step.
- Text link in the scanning step timeout message.

[2018-07-16 17:54] Kenny2github commented on #2641
Perhaps the first best step is to allow the project title field's size to be flexible? i.e. make the "share", "see community", "my stuff", and username fields float to the right, the "Scratch", language, "file", "edit", "tutorials", and project title fields to float to the left, and unfix the project title field's length.

[2018-07-16 18:45] BryceLTaylor opened #2644 "Deleting Sprite/costume/sound causes browser tabs to appear permenantly"
### Expected Behavior

After confirming the deletion of a sprite/costume/sound the window should return to the same state it was in where you can't see the tabs/url bar.

### Actual Behavior

After confirming that you've deleted a sprite, costume, or sound the tabs and url bar appear at the top of the screen and won't go away until you reload the page.  This causes the New Sprite and New Backdrop

[2018-07-16 18:46] BryceLTaylor commented on #2628
* [x] On touch (on android) long press to duplicate a stack, then the blocks tab is frozen (can recover by e.g. switching sprites) @ericrosenbaum https://github.com/LLK/scratch-blocks/issues/1647
* [x] On Android, it loads in browser full-screen mode, but after I delete a sprite or costume etc, it exits full-screen mode but does not resize the editor, so there’s a blank space at the bottom (might

[2018-07-16 19:21] BryceLTaylor opened #2645 "Duplicating a stack and sharing the love immediately doesn't copy code"
### Expected Behavior

If you right click on a stack of blocks and pick duplicate, then click to drop it on another sprite in the sprite list it should copy the code to the other sprite.

### Actual Behavior

The code does not appear on the other sprite.  Also, the icon for the other sprite in the sprite list sticks to the mouse pointer until you click.

### Steps to Reproduce

Create a new projec

[2018-07-16 19:22] BryceLTaylor commented on #2628
* [ ] sharing a duplicated block with a variable to a new sprite grabs the sprite icon and doesn't copy the code. @BryceLTaylor also Oliver https://github.com/LLK/scratch-gui/issues/2645

[2018-07-16 19:47] ericrosenbaum opened #2647 "Add EV3 pin instructions to device connection "connecting" step"
For the EV3 extension, the first time connecting it's necessary to enter a passkey or pin code, during the "connecting" step. We should change the text on that step to:

Connecting. Make sure the pin on your EV3 is set to 1234.

[2018-07-17 17:19] hedgehog125 commented on #1549
@kyleplo Good point. There should probably be at least some kind of message so you know you need to use the offline 2.0 editor in order to use it.

[2018-07-17 17:51] ericrosenbaum opened #2652 "Safari device connection modal device list displays incorrectly"
The device tile is rendering incorrectly, in such a way that the "connect" button is invisible.

The tile background is also the wrong size, without rounded corners, and the RSSI indicator is hidden too.

<img width="515" alt="screen shot 2018-07-17 at 1 39 54 pm" src="https://user-images.githubusercontent.com/567844/42836100-32b52958-89c8-11e8-8fae-6388825cb90f.png">

Safari 11.0.2 Mac OS 10.13.2

[2018-07-17 19:44] #2535 closed

[2018-07-17 22:00] chrisgarrity opened #2654 "Safari doesn't render transparent gradients well"
### Expected Behavior

_Please describe what should happen_
This project https://preview.scratch.mit.edu/#222183421 should look like:
![screen shot 2018-07-17 at 5 57 00 pm](https://user-images.githubusercontent.com/399209/42847701-de080e02-89ea-11e8-80e2-ae71eca72e9f.png)

### Actual Behavior

_Describe what actually happens_
On Safari:
![screen shot 2018-07-17 at 5 55 30 pm](https://user-images.

[2018-07-17 23:12] chrisgarrity opened #2656 "Toolbox placeholder values are being recycled when language switches"
### Expected Behavior

_Please describe what should happen_
When the language switches all the default text values (e.g. "Hello", "Hmm...") should switch to the new language in the toolbox. In the workspace it's assumed that they've set the value.

### Actual Behavior

_Describe what actually happens_
The default value is one language behind.

### Steps to Reproduce

_Explain what someone needs to

[2018-07-18 12:16] chrisgarrity commented on #2627
* [x] Problem: Default text in “ask ____ and wait” block is one language behind
To reproduce: change the language twice. Browse to the “ask ____ and wait” block. It’ll be one language behind. Browsers: Chrome and Firefox.  OS: Mac @benjiwheeler
Created https://github.com/LLK/scratch-gui/issues/2656

[2018-07-18 12:16] #2627 closed

[2018-07-18 12:41] chrisgarrity commented on #2429
This is not as bad as originally thought. My browser has overridden the minimum font size (I've tried to set it back to default, but it remembers the setting somewhere). In a browser without minimum font size overridden they look like:
![Screen Shot 2018-07-18 at 8.34.52 AM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/4c539d9d-330a-4454-9ab3-208221e7c6c3/Screen+Shot+2018-07-18+at+8.34

[2018-07-18 13:03] #2629 closed

[2018-07-18 13:09] chrisgarrity opened #2658 "Replace language select with scrolling menu"
### Expected Behavior

_Please describe what should happen_
Clicking the language selector should show a menu/list of languages for the user to select from. It should scroll to show all the languages.

### Actual Behavior

_Describe what actually happens_
The language selector opens a menu that contains an HTML select box that contains the list of languages.

[2018-07-18 14:39] #2621 closed

[2018-07-18 14:50] thisandagain commented on #2654
Moved to LLK/scratch-render#315

[2018-07-18 14:50] #2654 closed

[2018-07-18 14:52] chrisgarrity opened #2664 "Remove 'coming soon' tooltip wrapper from language selector"
Currently the language selector is wrapped by a 'coming soon' tooltip that is always enabled.

Now that the language selector will be enabled for everyone permanently it shouldn't be wrapped in the coming soon component.

[2018-07-18 14:54] thisandagain commented on #2635
It's bubble gum. :-O

[2018-07-18 14:54] #2635 closed

[2018-07-18 15:01] thisandagain commented on #2633
Tracking in https://github.com/LLK/scratch-gui/issues/939

[2018-07-18 15:01] #2633 closed

[2018-07-18 15:01] thisandagain commented on #939
/cc @kchadha

[2018-07-18 15:12] thisandagain commented on #2590
Tracking in https://github.com/LLK/scratch-render/issues/284

[2018-07-18 15:13] #2590 closed

[2018-07-18 17:51] kchadha commented on #2094
No longer causing a crash as of LLK/scratch-blocks#1651.

[2018-07-18 17:51] #2094 closed

[2018-07-18 17:52] kchadha commented on #2180
No longer causing a crash as of LLK/scratch-blocks#1651.

[2018-07-18 17:52] #2180 closed

[2018-07-18 18:22] #2530 closed

[2018-07-18 18:35] chrisgarrity commented on #2546
Fixed in https://github.com/LLK/scratch-blocks/pull/1652

[2018-07-18 19:18] #2600 closed

[2018-07-18 19:20] chrisgarrity commented on #2656
There have been several PRs that fix things related to updating the toolbox area. One of them appears to have fixed this issue. I can't reproduce it any more. It would be good for that to be verified.

[2018-07-18 19:26] kchadha opened #2672 "The delete icon of a costume tile displays on top of the open color picker menu"
### Expected Behavior

Open menus should be on top of parts of other parts of the UI that don't change.

### Actual Behavior

The delete icon on a costume tile displays on top of the color picker menu if the two elements overlap.

![image](https://user-images.githubusercontent.com/1786240/42903104-b99b5722-8a9e-11e8-82f7-260318491b05.png)

[2018-07-18 19:36] #1794 closed

[2018-07-18 19:50] #2626 closed

[2018-07-19 12:38] thisandagain commented on #2636
Resolved via LLK/scratch-vm#1354

[2018-07-19 12:42] thisandagain commented on #2652
@paulkaplan Could you help @ericrosenbaum with this one?

[2018-07-19 13:09] paulkaplan commented on #2656
@chrisgarrity @BryceLTaylor i can still repro this on develop

[2018-07-19 13:23] ericrosenbaum commented on #2636
@thisandagain I'm re-opening. LLK/scratch-vm#1354 did not actually address this issue. @evhan55 was not able to reproduce the issue, but the steps above were reliable for me.

[2018-07-19 14:55] #2652 closed

[2018-07-19 15:41] #2523 closed

[2018-07-19 19:51] techwonder21 opened #2685 "Yellow outline around code blocks not showing for "when I receive" blocks"
### Expected Behavior
The yellow outline should appear around both the "broadcast and wait" blocks and the "when I receive" block stacks as well.
https://scratch.mit.edu/projects/94328306/#editor

### Actual Behavior
The yellow outline only appears for the "broadcast and wait" blocks
https://preview.scratch.mit.edu/#94328306

### Steps to Reproduce
Open the project below and notice the missing yel

[2018-07-19 19:52] #2515 closed

[2018-07-19 20:39] techwonder21 commented on #2685
Feel free to reference this bug:
https://github.com/LLK/scratch-gui/issues/2529
@ChampikaF

[2018-07-19 20:39] techwonder21 commented on #2529
Related bug: https://github.com/LLK/scratch-gui/issues/2685
@ChampikaF

[2018-07-20 07:35] fatpandaria commented on #1549
So if I want to extend support for picoBoard in Scratch,what should I start with?In Scratch2,the support was made possible by loading the ScratchExtension on the window,what should I do with the extension in the scratch3 VM?Anyone has idea?Thanks.

[2018-07-20 08:50] wufeng87 opened #2687 "I want to build a standalone sb3 player."
Since I found this project could export sb3 file and load sb3 file and play it in the web browser, I want to know if I could serve sb3 file on my own website?
If I could, then I need to dig into the source code.
Sorry to post here, since I could not post on https://scratch.mit.edu/discuss.
Best regards.

[2018-07-20 10:37] kyleplo commented on #2687
Try `https://llk.github.io/scratch-gui/develop/player#PROJECT-ID`

[2018-07-20 10:47] kyleplo opened #2688 "The stage can talk!"
### Expected Behavior

When you share to love a say block to the stage, it doesn't work.

### Actual Behavior

When you share to love a say block to the stage, it works! A speech bubble appears in the middle of the stage.

### Steps to Reproduce

Using share the love, move a say block to the stage and run it.

### Operating System and Browser

Windows 10 Chrome 67.0.3396.99

[2018-07-20 11:31] DivyeshPuri opened #2689 "I want to make every new block say something on console"
I want to make something that every new block made via _make a block_  will do write something in a console and however, I am not able to find how to detect the new block made by the user.

[2018-07-20 11:46] wufeng87 commented on #2687
Where could I get the #PROJECT-ID? Not found any docs about this branch(gh-pages)~ How could I build the player.html and player.js ... I need to learn more~~ Thanks.

[2018-07-20 11:51] wufeng87 commented on #2687
wow. I found the player.html is in the build directory. : )

[2018-07-20 12:51] chrisgarrity opened #2690 "Should upload tooltip be consistent for sprite, costume and backdrop?"
Question that came in via translator:
The tool tips for uploading a costume or backdrop are "Upload costume" and "Upload backdrop", but the tool tip to upload a sprite is just "Upload".

Should it be "Upload Sprite" for consistency?

[2018-07-20 13:32] kyleplo commented on #2687
I don't know much about it either, but project ids come from the Scratch website. The id is the number in the URL. For example, in _scratch.mit.edu/projects/**236165720**/_,  **236165720** is the id.

[2018-07-20 13:34] kyleplo commented on #2687
Also, currently loading projects by project id is broken, according to #2580. For now, use `https://rschamp.github.io/scratch-gui/bugfix/player-loader/player.html#PROJECT-ID`

[2018-07-20 14:17] thisandagain commented on #1549
@fatpandaria Great question. We'll be publishing a new repo called `scratch-link` soon that is used for hardware communication and you should be able to extend that to add support for devices like the PicoBoard. Stay tuned. 😄

[2018-07-20 14:50] Kenny2github commented on #2690
Yes.

[2018-07-20 14:54] thisandagain opened #2692 "Cannot edit blocks that require the "full" soft keyboard on Android Chrome"
### Expected Behavior
- Clicking on any block should open either the numeric or "full" soft keyboard on Android Chrome

### Actual Behavior
- Blocks which require the "full" soft keyboard, briefly display the keyboard and then immediately dismiss it

### Steps to Reproduce
- Click on the value input on the "set [variable] to (value)" block

### Operating System and Browser
Android 6 | Chrome Lates

[2018-07-20 14:58] Kenny2github commented on #2644
I get the feeling that if the GUI didn't use builtin JavaScript prompts for this kind of thing then the tabs wouldn't appear. A modal would look and function better than the default JS dialog box.

[2018-07-21 10:50] kyleplo commented on #2672
Duplicate of #2394

[2018-07-21 14:10] DivyeshPuri opened #2695 "Want to make Video sensing blocks as default blocks"
### Expected Behavior

Since I am using video sensing blocks I want to make that block in my default blocks coming when Scratch starts, It will save me the trouble of going over video sensing extension again and again.

### Actual Behavior

I can't find a way to make it in default block.

[2018-07-22 01:44] wufeng87 commented on #2687
@kyleplo Wow. project 236165720 is a 2.0 project, and we could load 2.0 project in scratch 3.0, you did the 2 to 3 transformation in the backend, am I right?

[2018-07-22 02:51] towerofnix commented on #2687
@wufeng87 2.0 to 3.0 conversion is done automatically by the Scratch 3.0 editor (really the VM), so most 2.0 projects should work in 3.0 without any extra effort from the project creator.

[2018-07-23 08:18] apple502j opened #2696 "How-To Library: 2 are not translated"
### Expected Behavior
All is translated

### Actual Behavior
"Make It Spin" & "Use Arrow Keys" aren't.

### Steps to Reproduce
1. see these codes:
https://github.com/LLK/scratch-gui/blob/develop/src/lib/libraries/decks/index.jsx#L543
https://github.com/LLK/scratch-gui/blob/develop/src/lib/libraries/decks/index.jsx#L596
2. FormattedMessage isn't used

### Operating System and Browser
any (me: Windo

[2018-07-23 12:17] chrisgarrity opened #2697 "Delete confirmation pop up is not translatable"
### Expected Behavior

_Please describe what should happen_
When you delete a sprite the pop-up asking for confirmation should be translated into the scratchers language.

### Actual Behavior

_Describe what actually happens_
The alert is always in English - it's not wrapped in a localization call.
https://github.com/LLK/scratch-gui/blob/89dc5c0781100091650966babf5364ff07c63e9b/src/containers/spri

[2018-07-23 12:25] chrisgarrity opened #2698 "Deleted costume is not deleted from the stage."
### Expected Behavior

_Please describe what should happen_
Reported by a translator: If a costume is deleted from a sprite while that costume is visible on the stage, the stage should update to the next existing costume.

### Actual Behavior

_Describe what actually happens_
Here are the images sent by the translator. Sprite1 has two costumes - the first one has been modified. It also looks like

[2018-07-23 12:44] #2594 closed

[2018-07-23 13:06] #2687 closed

[2018-07-23 13:07] thisandagain commented on #2688
It's a little unclear if this is a bug. I think we are going to keep this for now.

[2018-07-23 13:07] #2688 closed

[2018-07-23 13:09] thisandagain commented on #2689
You can listen for the `change` event from the block workspace. E.g. https://github.com/LLK/scratch-vm/blob/develop/src/engine/blocks.js#L286

[2018-07-23 13:10] #2689 closed

[2018-07-23 13:10] thisandagain commented on #2690
Agreed. We should probably change this to be "Upload Sprite".

[2018-07-23 13:15] thisandagain commented on #2695
You'll want to look at the way blocks vs. extensions are initialized in the Scratch Virtual Machine:
https://github.com/LLK/scratch-vm

[2018-07-23 13:16] #2695 closed

[2018-07-23 14:04] paulkaplan commented on #2643
Done!

[2018-07-23 14:04] #2643 closed

[2018-07-23 14:49] technoboy10 opened #2700 "Extension help link cannot be clicked in Firefox"
### Expected Behavior
The "Help" link in the extension connection modal should be clickable in all browsers.

### Actual Behavior
In Firefox, the "Help" link cannot be clicked.
![Extension help link repro](https://user-images.githubusercontent.com/3019167/43084068-f0bc9782-8e65-11e8-96b4-beb2685d782a.gif)

### Steps to Reproduce
Open Scratch 3.0 in Firefox, click the add extension button, add a ha

[2018-07-23 14:49] kyleplo commented on #2658
See https://kyleplo.github.io/c/demos/language-select

[2018-07-23 16:18] #2690 closed

[2018-07-23 21:16] #1588 closed

[2018-07-23 22:34] apple502j opened #2709 "Using sound editor makes the screen move a bit"
### Expected Behavior
The position won't change.

### Actual Behavior
![](https://i.gyazo.com/b0a0a4141daea48d5c72884020c4ed8f.gif)
It moves a bit.

### Steps to Reproduce

1. Open sound editor
2. Play a sound
### Operating System and Browser
Windows 7 HomePremium 64bit SP1
Firefox 61.0.1

[2018-07-23 22:42] apple502j opened #2710 "Remove "-b" from Odesong-b"
### Expected Behavior
"-b" should be used when 2 have the same name
### Actual Behavior
Odesong-a doesn't exist

### Steps to Reproduce
1. open sound library
2. search for "odesong"

### Operating System and Browser
any (me:Windows 7 HomePremium 64bit SP1 Firefox 61.0.1)

[2018-07-24 03:33] samswag opened #2711 "Scratch 3.0 not having sound support for webkit 2.20.3 Linux"
Usually the Scratch 3.0 prompt the user for permission to accept audio playback or audio recording using Chrome, Firefox and even a webkit based browsers like Safari. I was doing some testing, as I am currently working on a Linux (Sugar Desktop) version of the Scratch v3. I ran into some audio problems while working on the Sugar Desktop [Browse](https://github.com/sugarlabs/browse-activity) and al

[2018-07-24 04:02] towerofnix commented on #2710
Note odesong-a, alongside odesong-c, was used in [Ode to Code - Make Your Own Dance](https://scratch.mit.edu/projects/76322168/), but doesn't exist in the sound library (in either 2.0 or 3.0).

[2018-07-24 12:43] #2700 closed

[2018-07-24 12:45] #2473 closed

[2018-07-24 12:58] #2491 closed

[2018-07-24 15:10] paulkaplan commented on #939
Fixed in the VM

[2018-07-24 15:11] #939 closed

[2018-07-24 16:10] BryceLTaylor commented on #2698
I can not reproduce this at all on Chrome (Mac & Windows), Firefox (Mac & Windows), Safari (Mac), or Edge (Windows).

Steps to NOT reproduce:
Create a new project
Change language to Dutch
Add a `Set Mosaic Effect` block to the workspace enter 10 into the text field
Run the block
Open the costume tab
Add some circles to the first cat costume
Delete the first cat costume
Note: The stage updates corr

[2018-07-24 16:10] #2698 closed

[2018-07-24 16:50] #2231 closed

[2018-07-24 17:44] fsih opened #2716 "Brokenness in nav bar in にほんご language"
### Expected Behavior
Text in navigation bar is in navigation bar

### Actual Behavior
Text is vertical
![image](https://user-images.githubusercontent.com/2855464/43155883-95605a40-8f46-11e8-890a-ecd65ddd945f.png)

### Steps to Reproduce

1. Switch language to にほんご
2. Text begins to escape the navigation bar when Chrome is at 1222px across

### Operating System and Browser
Windows 10 Chrome

[2018-07-24 17:54] #1870 closed

[2018-07-24 18:17] Kenny2github commented on #2716
I cannot reproduce this on develop, Windows 10.0.17134.165, Chrome 67.0.3396.99
![image](https://user-images.githubusercontent.com/28599280/43157866-7a55bcb2-8f7e-11e8-97ae-4f857b10e0af.png)

[2018-07-24 18:36] kchadha opened #2717 "UI does nothing if trying to upload a costume or sound of an unsupported type."
### Expected Behavior

UI should be informative if an error occurs.

### Actual Behavior

Nothing happens if the user tries to add a costume or sound of an unsupported type.

[2018-07-24 18:37] #2565 closed

[2018-07-24 18:55] paulkaplan opened #2719 "Tutorial titles should wrap under thumbnails"
![image](https://user-images.githubusercontent.com/654102/43159858-8a5de8aa-8f51-11e8-9c6a-23f130dd9bb8.png)

Reported by @chrisgarrity

[2018-07-24 18:56] paulkaplan opened #2720 "Adding a Sprite or Backdrop takes 3 taps to open the library on iPad"
This is likely due to how Safari handles hovers as touch events. reported by @carljbowman

Tap one brings up the thermometer, the second one shows the tooltip and then you need to press it again for the library to open

[2018-07-24 19:00] paulkaplan opened #2721 "Speech bubble can show cut off"
@kchadha, @fsih and I have all seen instances where a "say" bubble can be cut off. I saw it in the test "all the blocks" project, but haven't been able to repro it. Does anyone know how to reproduce this consistently?

[2018-07-24 19:00] #2624 closed

[2018-07-24 19:08] #2566 closed

[2018-07-24 19:10] ericrosenbaum commented on #2482
I'm not able to reproduce this on mac chrome or mac firefox- maybe it's specific to windows firefox?

[2018-07-24 20:30] thisandagain commented on #2482
Thanks for trying @ericrosenbaum! @BryceLTaylor mind attempting a repro on our Windows machines?

[2018-07-24 20:34] BryceLTaylor commented on #2656
This appears to be fixed on develop and preview.

[2018-07-24 20:34] #2656 closed

[2018-07-24 20:43] BryceLTaylor commented on #2482
I can NOT reproduce this on Windows Firefox.  @fsih can you still see this issue.  Or, to be a bit more pedantic, hear it?

[2018-07-24 20:45] paulkaplan commented on #445
No longer occurs

[2018-07-24 20:45] #445 closed

[2018-07-24 20:47] #705 closed

[2018-07-24 20:47] paulkaplan commented on #647
Looks like these are now fixed

[2018-07-24 20:47] #647 closed

[2018-07-24 20:48] paulkaplan commented on #511
Implemented!

[2018-07-24 20:48] #511 closed

[2018-07-24 20:48] paulkaplan commented on #555
Fixed

[2018-07-24 20:48] #555 closed

[2018-07-24 20:49] fsih commented on #2482
Yup it does not happen to me anymore

[2018-07-24 20:49] #2482 closed

[2018-07-24 20:53] paulkaplan commented on #890
I think this can be closed because of the work on recycled blocks

[2018-07-24 20:53] #890 closed

[2018-07-24 20:54] paulkaplan commented on #843
Implemented!

[2018-07-24 20:54] #843 closed

[2018-07-24 20:54] paulkaplan commented on #840
Implemented

[2018-07-24 20:54] #840 closed

[2018-07-24 20:55] paulkaplan commented on #1149
Custom blocks now have a different color from extension blocks.

[2018-07-24 20:55] #1149 closed

[2018-07-24 20:56] paulkaplan commented on #1061
Closing due to lack of repro

[2018-07-24 20:56] #1061 closed

[2018-07-24 20:56] paulkaplan commented on #1107
Closing due to lack of repro

[2018-07-24 20:56] #1107 closed

[2018-07-24 20:57] paulkaplan commented on #1055
Closing due to lack of repro

[2018-07-24 20:57] #1055 closed

[2018-07-24 20:57] paulkaplan commented on #1020
Fixed!

[2018-07-24 20:57] #1020 closed

[2018-07-24 20:58] paulkaplan commented on #971
Closing due to lack of activity

[2018-07-24 20:58] #971 closed

[2018-07-24 20:58] #966 closed

[2018-07-24 22:48] apple502j commented on #2716
Cannot repro on develop, Windows 7 HomePremium 64bit SP1, Firefox 61.0.1

[2018-07-24 22:48] Narulacodes commented on #2490
I'll take this, what do i have to do?

[2018-07-25 01:11] cyx2015s opened #2725 "Can't create block with %b %n or %s"
### Expected Behavior
 I can
### Actual Behavior

I can't, and after closing the creating menu, the block palette looks weird

### Steps to Reproduce
create block with %b %n or %s

### Operating System and Browser
Chrome 66, Win 10

[2018-07-25 01:11] cyx2015s opened #2726 "Can't create custom block with %"
### Expected Behavior
 I can
### Actual Behavior

I can't, and after closing the creating menu, the block palette looks weird

### Steps to Reproduce
create block with %
### Operating System and Browser
Chrome 66, Win 8

[2018-07-25 01:14] cyx2015s commented on #2725
Can anyone delete it?

[2018-07-25 09:20] tomrow commented on #2711
Please use a supported browser such as Chrome or Firefox

[2018-07-25 10:15] samswag commented on #2711
Yes, I can easily do that. But, i am trying to build a linux(Sugar OS) version of the Scratch 3.0 by embedding the source code of the Scratch with an open source browsers as those mentioned above. As least the most realistic and easiest way to do it, is by making the Scratch 3.0 to support those native browsers. I guess, the goal of the Scratch community with the 3.0 is to make Scratch far more ac

[2018-07-25 12:47] chrisgarrity commented on #2533
@BryceLTaylor I think this was handled with the other toolbox fixes for refreshing after switching language. I'm closing for now, we can re-open if it gets reported again.

[2018-07-25 12:47] #2533 closed

[2018-07-25 12:59] paulkaplan commented on #1216
Seems to have been fixed

[2018-07-25 12:59] #1216 closed

[2018-07-25 13:03] paulkaplan commented on #1329
Fixed

[2018-07-25 13:03] #1329 closed

[2018-07-25 13:06] paulkaplan commented on #1538
@fsih is this still happening? I can't repro on mac/chrome

[2018-07-25 13:08] paulkaplan commented on #1503
Fixed!

[2018-07-25 13:08] #1503 closed

[2018-07-25 13:09] paulkaplan commented on #1489
Fixed! Categories now are padded at the bottom.

[2018-07-25 13:09] paulkaplan commented on #1476
Fixed. Monitors now scale with the stage.

[2018-07-25 13:09] #1476 closed

[2018-07-25 13:12] paulkaplan commented on #1604
Issue seems to have been fixed

[2018-07-25 13:12] #1604 closed

[2018-07-25 13:13] paulkaplan commented on #1571
This has been fixed

[2018-07-25 13:13] #1571 closed

[2018-07-25 13:17] paulkaplan commented on #1812
I believe this has been solved. Monitors are now imported from scratch 2 projects, and they are removed when switching projects

[2018-07-25 13:17] #1812 closed

[2018-07-25 13:18] paulkaplan commented on #1762
I'm going to close this due to lack of activity/information. Feel free to reopen if you have more details, including device/OS

[2018-07-25 13:18] #1762 closed

[2018-07-25 13:20] paulkaplan commented on #1902
@BryceLTaylor @fsih there have been many changes recently on bitmap importing, could someone check if this is still an issue?

[2018-07-25 13:26] #2125 closed, assigned to paulkaplan

[2018-07-25 13:30] paulkaplan commented on #2726
@cyx2015s can you include screenshots and more specific steps to reproduce. For steps, it really helps us if they are in a list that anyone can follow, including any code changes that you made, which page was loaded, which part of the page you saw the issue, and a screenshot if it makes sense.

[2018-07-25 13:31] #2725 closed

[2018-07-25 13:36] paulkaplan commented on #2697
If anyone wants to implement this, it requires a few things. You can use a component like the `playback-step.jsx` for reference
1. Import the formatMessage, injectIntl, intlShape, defineMessages from react-intl [example](https://github.com/LLK/scratch-gui/blob/develop/src/components/record-modal/playback-step.jsx#L7)
2. define the message using defineMessage [example](https://github.com/LLK/scratc

[2018-07-25 13:39] #2645 closed

[2018-07-25 15:11] fsih commented on #1538
Nope!

[2018-07-25 15:11] #1538 closed

[2018-07-25 16:00] paulkaplan commented on #2477
Strangely I can only repro this if there are multiple overlapping comments...

[2018-07-25 16:22] cryanis commented on #1316
@liukonghe 请问执行renderer.draw()是不是需要引入 scratch-render

[2018-07-25 17:17] jcaalzago commented on #1549
Where do you communicate the creation of the repo _scratch-link_ . I'm interesting in the compatibility of Scratch 3.0 with Lego Wedo 1.0 (and maybe Arduino).

[2018-07-25 17:19] BryceLTaylor commented on #1902
Looks fixed to me!

[2018-07-25 17:19] #1902 closed

[2018-07-25 17:44] paulkaplan commented on #2711
Does webkitgtk support getUserMedia and webAudio? If not, I don't think we can help.

[2018-07-25 17:47] paulkaplan commented on #2502
@technoboy10 can you try to repro this on develop? I think it has been fixed, but could you confirm?

[2018-07-25 17:55] #2050 closed

[2018-07-25 18:15] technoboy10 commented on #2502
@paulkaplan Can't repro anymore, seems like it's working as expected now!

[2018-07-25 18:15] #2502 closed

[2018-07-25 18:15] #2445 closed

[2018-07-25 18:42] WorldLanguages commented on #2726
![image](https://user-images.githubusercontent.com/17484114/43220695-0c2cfb30-9021-11e8-9b0f-b68b54f76222.png)
![image](https://user-images.githubusercontent.com/17484114/43220724-2127f10c-9021-11e8-8cb7-67441ab99395.png)
![image](https://user-images.githubusercontent.com/17484114/43220736-2a326e30-9021-11e8-9a3d-4f0e771b6162.png)
![image](https://user-images.githubusercontent.com/17484114/4322077

[2018-07-25 19:18] paulkaplan opened #2731 "Remove huge text-encoder dependency"
The text-encoder dependency is nearly 600kb, but is used to encode only the default SVG assets for the default project. If we could have that encoding happen via a webpack plugin, we wouldn't have to load the text-encoder dependency.

![image](https://user-images.githubusercontent.com/654102/43222399-02705bee-901e-11e8-9f76-0963fa632f5f.png)

[2018-07-25 19:30] paulkaplan commented on #2731
Oh wait it is also used by VM and storage :(

[2018-07-25 19:56] rschamp commented on #2731
We need this for all our SVG assets I believe, I don't think there's a way around this. One of the benefits of building all the scratch-* dependencies together when we build the GUI is that they can all share the same `text-encoder` dependency, saving us ~1200kB.

[2018-07-25 19:56] #2731 closed

[2018-07-25 20:54] apple502j commented on #2726
Duplicate of https://github.com/LLK/scratch-blocks/issues/1368

[2018-07-26 07:38] wufeng87 commented on #2716
So does Chinese, but it is OK for showing Chinese vertically. : )

[2018-07-26 08:53] Kenny2github commented on #2716
@wufeng87 what operating system are you using? 您在用什么操作系统？

[2018-07-26 20:29] benjiwheeler opened #2734 "“When ___ key pressed” menu: make keystrokes select the corresponding character"
User feature request: when choosing from “When ___ key pressed” menu, the user can hit the desired key and the selected item will jump to that character.

(Currently, hitting keystrokes with this menu open has no effect.)

[2018-07-26 20:30] fsih opened #2735 "Slider monitors look significantly different in different browsers"
### Expected Behavior
Slider monitors should probably look consistent for consistent experience

### Actual Behavior
Slider monitors look very different in different browsers, and are also fairly different in size.
![image](https://user-images.githubusercontent.com/2855464/43286770-059d878c-90f1-11e8-8ce7-d72473bad500.png)

### Steps to Reproduce
Make a slider monitor in Chrome/Edge/Firefox on Win

[2018-07-26 21:56] Kenny2github commented on #2735
That's why you make your own slider, instead of relying on any built-in one :)

[2018-07-26 23:42] towerofnix commented on #1174
"The Scratch Saga - Part 2.0", by WazzoTV, crashes my computer in 3.0: https://scratch.mit.edu/projects/230402884/

I'd already previously loaded, in the same tab, Astro947RMX's related "Behind The Scenes", which also contains many assets: https://scratch.mit.edu/projects/237125515/

I loaded WazzoTV's project by changing the `#` in the URL. As mentioned previously, reusing the GUI twice might hav

[2018-07-27 06:12] LisaKathi opened #2736 "Corrupt sb3 file after migrating from sb2"
### Expected Behavior

The following workflow should work:

1. Download existing *.sb2* file
1. Upload it into Scratch 3
1. Game executes correctly
1. Download *.sb3* file
1. Upload *.sb3* file
1. Game still works correctly

### Actual Behavior

Downloaded *.sb3* file cannot be uploaded to Scratch 3. File is currupt, error in browser console:

[code]

### Steps to Reproduce

1. Download example ga

[2018-07-27 06:21] rstropek commented on #2736
Similar problem with Scratch game [https://scratch.mit.edu/projects/97137611/](https://scratch.mit.edu/projects/97137611/). After migrating the file to *.sb3* (same workflow as described above), the file is corrupt because of multiple `"warp": "null"` entries. Had to change them to `"warp": "true"` to be able to load the *.sb3* file.

[2018-07-27 09:05] tomrow commented on #2641
Perhaps the project title could be changed through a Save As option in the File drop-down. Also the folder icon could be moved to the user drop-down.

[2018-07-27 19:49] boazsender opened #2737 "Suggestion: add when-green-flag to default project"
### Expected Behavior
As a new scratcher, I always forget to add a when-green-flag. It would be cool if the default project started with this block on the stage.

[2018-07-27 20:20] benjiwheeler opened #2738 "In graphics editor, should mouse cursor change when over resize handles?"
On a Mac (at least)
using Chrome or Firefox (at least)
in graphics editor, either bitmap mode or vector mode
select a region with the select tool (bitmap) or click on an object (vector)
move mouse over a resize handle
mouse cursor does not change to the sort of arrows icon I'm used to from other editors, it just remains a standard pointer.

Should it change?

Mac OS 10.13.5, Chrome 67.0.3396.99 an

[2018-07-27 20:52] ericrosenbaum commented on #2217
We did this! in https://github.com/LLK/scratch-gui/pull/2578

[2018-07-27 20:52] #2217 closed

[2018-07-28 11:49] kyleplo commented on #2737
Yeah, I like this idea! Many of my early projects had no green flag block, some, you had to manually drag each sprite into its starting position to use the project again!

[2018-07-28 11:55] kyleplo commented on #1872
This seems to already work for me on Windows Chrome.

[2018-07-28 14:13] benjiwheeler opened #2740 "New blocks that allow user to change width and height in sprites?"
Could there be blocks in the Looks section that change a sprite's width or height, without scaling the entire sprite?

(Another feature request that some attendees of the 2018 Scratch Conference asked for. I'm sure this has been discussed in the past... it struck me as a request that is in that useful-but-not-confusing sweet spot :) )

[2018-07-28 14:24] benjiwheeler opened #2741 "Less cute version of Scratch UI and default sprite for older students?"
Several teachers commented on Scratch's cuteness making it difficult to convince older students (middle school and high school) to get into Scratch.

Wonder Workshop encountered a similar problem with the Dash robot, and created and created [Cue](https://www.makewonder.com/cue_the_cleverbot), a version of Dash that has superficial changes -- a more "cool" (ie, dark and muted) color scheme, less cu

[2018-07-28 15:34] Kenny2github commented on #2740
Duplicate of LLK/scratch-vm#982 which supersedes LLK/scratch-vm#249

[2018-07-28 23:37] Cqoicebordel commented on #2370
Vivaldi and Opera (at least) are both based on Chromium, and are both (mostly) up to date. Neither of them are forks of Chromium. They use the up to date version of Chromium as engine, and they "just" develop the UI over it.
There is no reasons why those browsers are blocked.
Even the commit blocking Vivaldi doesn't give an explanation (cb8f14568f4448abe4f91e6490aedf5dc8715caa)

To correct it, I t

[2018-07-29 03:51] apple502j commented on #2697
Working on it, but export default is only allowed once...

[2018-07-30 08:33] xiaomak opened #2742 "ios 9 shows blue screen"
### Expected Behavior

ios 9 shows blue screen

### Actual Behavior

access https://preview.scratch.mit.edu is ok

![image](https://user-images.githubusercontent.com/1825679/43386432-2d0dac48-9416-11e8-8bf6-f40972ffb403.png)

but access https://preview.scratch.mit.edu/#1 ios 9 shows blue screen

![image](https://user-images.githubusercontent.com/1825679/43386336-ea16d0fe-9415-11e8-8b75-4b78c1bba00

[2018-07-30 11:02] kyleplo commented on #2742
The blue screen is actually the "oops! something went wrong!" screen, just cut off.

[2018-07-30 11:53] xiaomak commented on #2742
@kyleplo How do I solve?

[2018-07-30 13:21] paulkaplan commented on #2697
You can change the bottom of the file to something like
[code]

[2018-07-30 13:35] paulkaplan commented on #2742
iOS 9 is not fully supported, [the FAQ](https://scratch.mit.edu/3faq) says iOS/Safari 11+, this is because many needed features, such as WebAudio and access to webcam/microphone were not available in Safari 9.

[2018-07-30 15:41] #2526 closed

[2018-07-30 15:41] #2719 closed

[2018-07-30 17:36] benjiwheeler opened #2743 "Host tutorials using a service besides Youtube, or host them ourselves?"
Using Youtube videos in our in-app tutorials is tricky because many schools block Youtube.

Do we plan to host the videos ourselves or on some other service?

We may need to nail down a good video player.

[2018-07-31 03:13] Narulacodes commented on #2490
cc / @thisandagain
cc / @carljbowman
cc/ @chrisgarrity

[2018-07-31 12:29] #2742 closed

[2018-07-31 12:31] thisandagain commented on #2743
We are considering forking the video player source code developed for one of my other projects and may either use that or work with another 3rd party provider that we are in the process of interviewing / negotiating an agreement with.

[2018-07-31 12:36] thisandagain commented on #2740
Tracking in https://github.com/LLK/scratch-vm/issues/982

[2018-07-31 12:36] #2740 closed

[2018-07-31 12:38] thisandagain opened #2744 "List monitors don't wrap to the next line"
### Expected Behavior

Long items should wrap to the next line:
![image](https://user-images.githubusercontent.com/31634240/43318730-eb819ddc-916f-11e8-856f-5a6a1c0f0bb1.png)

### Actual Behavior

They don't:
![image](https://user-images.githubusercontent.com/31634240/43318742-fa6528be-916f-11e8-8fd1-08e40659bd41.png)

### Steps to Reproduce

Create a list with a long item.
### Operating System an

[2018-07-31 12:39] thisandagain commented on #2736
/cc @kchadha

[2018-07-31 12:46] chrisgarrity commented on #2501
@thisandagain CS First needs this for recording videos.... I don't think it can be backlogged.

[2018-07-31 12:56] thisandagain commented on #2501
@paulkaplan Can you help support @chrisgarrity on this one?

[2018-07-31 13:11] paulkaplan commented on #2490
Should just be a css change to the drag-layer.css file to make sure the image tile is always square, even when the image itself isn't.

[2018-07-31 14:06] thisandagain commented on #2726
Tracking in https://github.com/LLK/scratch-blocks/issues/1368

[2018-07-31 14:06] #2726 closed

[2018-07-31 14:28] kchadha commented on #2672
Tracking in #2394.

[2018-07-31 14:28] #2672 closed

[2018-07-31 16:05] cwillisf commented on #1536
I remixed the test project and added bitmap costumes: 237872714
Also, I made this project but couldn't get it to break: 216897964

[2018-07-31 17:48] ericrosenbaum opened #2747 "Device disconnection alert modal"
When a hardware device such as a microbit or EV3 becomes disconnected from Scratch (e.g. because it was turned off), we should notify the user. The blocks menu's status indicator changes states, but it may be invisible for many reasons. We'd like to have a "global" notification modal that pops over the UI.

[2018-07-31 17:56] carljbowman opened #2748 "Rotation Styles and Direction Dial Control"
### Overview

We received a lot of feedback during ISTE and the Scratch Conference that folks would like to bring back an easy way to set rotation styles. Having to set the rotation style in a block feels too obscure. Powerful concepts like flipping a character in a story have now been made harder.

This felt like an opportunity to improve the UX and provide a more tinkerable means of understandin

[2018-07-31 18:25] thisandagain commented on #2721
@BryceLTaylor Do mind attempting to create a repro for this?

[2018-07-31 18:26] thisandagain commented on #2716
@BryceLTaylor Could you attempt a repro?

[2018-07-31 18:28] #559 closed

[2018-07-31 18:28] paulkaplan commented on #559
Implemented!

[2018-07-31 18:28] carljbowman commented on #2747
@thisandagain - Happy to get started on this whenever. Def looking forward to circling back on this.

[2018-07-31 20:15] Narulacodes commented on #2490
What Is The Code to Put/change, and Where is the code loacted

[2018-07-31 20:29] BryceLTaylor commented on #2721
Yes, I reproduced it on Safari.

![screen shot 2018-07-31 at 4 25 09 pm](https://user-images.githubusercontent.com/1088291/43485270-c338106e-94de-11e8-9cf4-275b03c5fbf4.png)

Repro steps:
Load this project: https://llk.github.io/scratch-gui/develop/#228228816
Click the green flag
Let it play through until it tries to say the costume number
Note: the speech bubble is cut off

[2018-07-31 20:30] BryceLTaylor commented on #2721
Here is the relevant part of the code:
![screen shot 2018-07-31 at 4 29 48 pm](https://user-images.githubusercontent.com/1088291/43485371-09f5276c-94df-11e8-8b02-75e2db62037d.png)

[2018-07-31 20:43] BryceLTaylor commented on #2721
I also just reproduced it on Firefox, where it's even weirder.  The first time I ran it it didn't say the costume number at all.  When i ran it again it DID say it but it was cut off.

First time run:
![alltheblocksfirefox3](https://user-images.githubusercontent.com/1088291/43485998-b8dad262-94e0-11e8-91b5-0e2a8380dbd5.gif)
Second time run:
![alltheblocksfirefox2](https://user-images.githubusercon

[2018-07-31 20:48] BryceLTaylor commented on #2721
And actually, on Chrome it just NEVER says that say block:
![alltheblockschrome1](https://user-images.githubusercontent.com/1088291/43486324-8e5963b8-94e1-11e8-89fb-8ccf6651ba12.gif)

[2018-08-01 06:58] #2696 closed

[2018-08-01 07:05] apple502j commented on #2743
Why don't you just use `<video>` tag and host by yourself?

[2018-08-01 07:14] apple502j commented on #2489
Cannot repro on Windows 7 HomePremium 64bit SP1 Firefox 61.0.1

[2018-08-01 07:27] apple502j opened #2751 "Close some issues"
#2205 is still open.

[2018-08-01 07:28] apple502j commented on #2751
#2190

[2018-08-01 07:28] apple502j commented on #2751
#2099

[2018-08-01 12:05] towerofnix commented on #2743
Right, I'm curious what the reasoning is for using anything but the `<video>` tag. It's certainly long supported by every browser 3.0 targets, and is certain to feel more natural than any custom UI, since browser developers typically make the controls look relatively similar to how the rest of their OS does (see Safari for example).

Going to the trouble of negotiating with a third-party company t

[2018-08-01 12:07] towerofnix commented on #2489
Cannot repro on Debian Firefox 62.0b13.
Cannot repro on Debian Chromium 67.0.3396.87.

[2018-08-01 12:36] #2099 closed

[2018-08-01 12:36] #2190 closed

[2018-08-01 12:36] #2205 closed

[2018-08-01 12:36] paulkaplan commented on #2751
Thanks!

[2018-08-01 12:36] #2751 closed

[2018-08-01 12:39] kyleplo commented on #2748
What about a lock icon for "don't rotate"?

[2018-08-01 12:49] carljbowman commented on #2748
We discussed a lock icon. That was the original icon suggested for "don't rotate", but folks felt that that the lock implied that the rotation and _direction_ would become locked, instead of what is happening: rotation of the sprite becomes locked, but the sprite can still travel in any direction.

[2018-08-01 12:51] paulkaplan commented on #2721
@BryceLTaylor would it be possible to trim down the repro project to just the relevant blocks/sprites? It is pretty hard to tell what is going on based on that project.

[2018-08-01 12:53] paulkaplan opened #2753 "Builds on LLK branches (e.g. develop & master) take 25 minutes to run"
Builds on develop/master take 25 minutes to run, but they only take about 7 minutes for PR branches, so something funky is going on. @rschamp it seems like it has be related to the branch pruning stuff?

[2018-08-01 13:56] towerofnix opened #2754 "Paint editor should scale to fill available space"
### Expected Behavior

The paint editor should fill up as much space as is available in the Costumes/Backdrops pane.

### Actual Behavior

It is fixed to being 480 pixels wide and 380 pixels tall unless you zoom in your browser.

### Steps to Reproduce

Open the paint editor (click the Costumes tab).

---

This is a very common feature request in the 3.0 beta forums, usually along the lines of "th

[2018-08-01 15:05] kchadha opened #2755 "Drag cursor (and delete cursor) disappears from block after starting drag"
### Expected Behavior

Drag cursor should remain on block while dragging.
Delete cursor should appear on block when dragging over the toolbox.

### Actual Behavior

Neither of the two happen. This regression was introduced by #2584.

#### Behavior before regression:

![block_cursor](https://user-images.githubusercontent.com/1786240/43530046-9dd54c5a-957a-11e8-8bec-c13bac82ac01.gif)

#### Current B

[2018-08-01 16:10] chrisgarrity commented on #2658
@kyleplo, could you submit a PR for that change. In the long run, it would be nice to have a fancy styled scrolling menu, but simply opening the select instead of having to open two menus would be an improvement.

[2018-08-01 17:00] Kenny2github commented on #2489
Cannot repro on Windows 10.0.17134.165 Chrome 67.0.3396.99.

[2018-08-01 17:01] Kenny2github commented on #2489
I just realized we're all saying we can't repro it, when the original case was on Safari. Could anyone else with Mac Safari try to reproduce this?

[2018-08-01 17:39] BryceLTaylor commented on #2721
These blocks here are the culprit:
![screen shot 2018-08-01 at 1 38 13 pm](https://user-images.githubusercontent.com/1088291/43538491-32aa8358-9590-11e8-9c55-f738285cfef7.png)

Say (Costume Number) basically doesn't work on chrome.  If you run that the cat doesn't say anything.

[2018-08-01 17:41] BryceLTaylor commented on #2721
Hold on, it's working now.  Let me look into it.

[2018-08-01 17:55] chrisgarrity opened #2756 "RTL - Modal Component"
### Expected Behavior

Libraries and modals that use the Modal component should work in RTL languages (e.g. Hebrew, Arabic)

Splitting out from #1579

[2018-08-01 17:56] chrisgarrity opened #2757 "RTL - menu bar"
### Expected Behavior

All menubar elements should work in RTL languages.

Splitting out from #1579

[2018-08-01 17:58] chrisgarrity opened #2758 "RTL - Tutorial Cards"
### Expected Behavior

Tutorial cards should work in RTL languages.

Splitting out from #1579

[2018-08-01 17:59] chrisgarrity opened #2759 "RTL - Modals"
### Expected Behavior

All the modals that use `ReactModal` directly (not the Modal component) should work in RTL:
- [ ] browser modal
- [ ] import modal
- [ ] preview modal
- [ ] webgl modal

Splitting out from #1579

[2018-08-01 19:04] fsih commented on #2568
@ericrosenbaum can you check if your bug #3 above still reproes? I'm not sure I understand the repro steps

[2018-08-01 19:11] fsih opened #2762 "Fonts don’t look the same in sprite/costume thumbnails"
Fonts don’t look the same in sprite/costume thumbnails @kchadha
Mac Safari

The issue here is we are setting an image.src to an SVG, and in order for fonts to render correctly, they need to be inlined. See https://github.com/LLK/scratch-svg-renderer/blob/develop/src/font-inliner.js

Inlining fonts is slow and inefficient, and I think it might be better if we just rendered the SVGs in the thumbnail

[2018-08-01 19:12] fsih opened #2763 "On iPad mini, switching to the Costumes tab causes the stage/sprite info to get shifted"
On iPad mini, switching to the Costumes tab causes the stage/sprite info to get shifted 10 pixels to the right. Code and Sound tabs do not cause this shift. @carljbowman

[2018-08-01 19:18] #2623 closed

[2018-08-01 20:08] wtrocki commented on #1704
Would love this to work the same way makecode works (add package > github url)
https://makecode.microbit.org/

[2018-08-01 20:33] kyleplo commented on #2658
@chrisgarrity I'll try, but it looks to me like it is a lot harder than it sounds. I'm worried that relative positioning will change in different browsers, and `<label>` doesn't do what we want. I'll give it a try.

[2018-08-02 08:45] apple502j commented on #1825
Support. (feedback: https://scratch.mit.edu/discuss/post/3199437/

[2018-08-02 10:46] hedgehog125 commented on #2489
I can repo in Mac OS X High Sierra. I've also noticed that I can drag the image which causes some weird behaviour.
![scratch3 safari drag bug 1](https://user-images.githubusercontent.com/16543008/43579367-beb74372-9649-11e8-8e68-7cdb68a936fa.gif)
![scratch3 safari drag bug 2](https://user-images.githubusercontent.com/16543008/43579370-c2bfdc5e-9649-11e8-90c5-14ee1979ea38.gif)

[2018-08-02 10:54] kyleplo commented on #2658
@chrisgarrity Actually, I think I found a way to extend the `menu` component to make a scrolling menu.

[2018-08-02 11:40] nekketsuuu commented on #2398
I also encountered the same issue on https://beta.scratch.mit.edu/ on Aug 2, 2018.

## How to reproduce

1. Create a new project, create one variable, and show the variable.

    ![Variable "test" is shown on the screen](https://user-images.githubusercontent.com/4374702/43581012-4f9303de-9692-11e8-81cc-03d1e14e898f.PNG)

2. Download the project.
3. Upload the project on a new tab. Then the variabl

[2018-08-02 12:49] nekketsuuu opened #2766 "Can't open a comment when it contains many CJK characters"
### Expected Behavior

I can open a comment when clicking the button on the left side of the comment.

### Actual Behavior

If a comment message contains some amount of CJK characters, the characters cover the open button. So I cannot open the comment.

![I can't open a comment whose message is "あいうえお" x 10.](https://user-images.githubusercontent.com/4374702/43584007-223e39bc-969c-11e8-9974-a2aa08

[2018-08-02 13:17] Kenny2github commented on #2489
@hedgehog125 this is a Safari-specific issue, then. Thanks for the repro! @carljbowman could you add the "safari" label?

[2018-08-02 13:18] Kenny2github commented on #2489
@hedgehog125 this is definitely a Safari-specific issue then, as the issue labels and description say. Thanks for the repro!

[2018-08-02 16:56] paulkaplan opened #2770 "Make direction picker popover work well with onscreen keyboards"
The new direction picker should work the same way that the direction picker on blocks works with respect to onscreen keyboards, specifically: on devices where focusing an input brings up the onscreen keyboard, we should make it so that clicking on the direction input doesn't immediately focus the input, but first show the direction popover. If the direction input is touched again, it should bring

[2018-08-02 17:15] #1966 closed

[2018-08-02 19:56] ericrosenbaum commented on #2539
@paulkaplan did it!

[2018-08-02 19:56] #2539 closed

[2018-08-02 21:01] #2748 closed

[2018-08-02 22:59] apple502j commented on #2766
Can repro on Windows 7 HomePremium SP1 64bit/Firefox 61.0.1 with the Japanese longest name `じゅげむ　じゅげむ　ごこうのすりきれ　かいじゃりすいぎょの　すいぎょうまつ　うんらいまつ　ふうらいまつ　くうねるところにすむところ　やぶらこうじのぶらこうじ　ぱいぽ　ぱいぽ　ぱいぽのしゅーりんがん　しゅーりんがんのぐーりんだい　ぐーりんだいのぽんぽこぴーの　ぽんぽこなーの　ちょうきゅうめいのちょうすけ`

[2018-08-03 08:26] apple502j commented on #2697
@paulkaplan thanks!

[2018-08-03 08:32] apple502j opened #2774 "NPM Warning: Tapable.apply"
### Expected Behavior
No npm warning
(NOTE: dependencies may be wrong, but I don't know what causes this)
### Actual Behavior
[code]
### Steps to Reproduce
1. git this repo
2. npm install
3. npm start

### Operating System and Browser
Windows 7 HomePremium 64bit SP1
Firefox 61.0.1

[2018-08-03 10:47] kyleplo opened #2776 "List monitor indexes are not aligned"
### Expected Behavior

All list item indexes are aligned:
![image](https://user-images.githubusercontent.com/31634240/43639049-eb56dcf4-96e8-11e8-86cc-8acbff634bd0.png)

### Actual Behavior

They are not:
![image](https://user-images.githubusercontent.com/31634240/43639071-fc00de24-96e8-11e8-9aeb-9367f1e07a69.png)

### Steps to Reproduce

Compare list items 9 and 10 on project 230003247.

### Oper

[2018-08-03 11:29] kyleplo commented on #2735
Also found one that styles the range input: https://codepen.io/chriscoyier/pen/FtnAa

And created my own that uses scrollbars: https://kyleplo.github.io/c/demos/scrollslider

[2018-08-03 13:49] paulkaplan commented on #2766
/cc @kchadha

[2018-08-03 14:07] fsih commented on #2735
@paulkaplan @carljbowman any preference on what library to use?

[2018-08-03 14:19] rschamp opened #2779 "NPM deploy step failing since mid-June"
NPM publish is failing with this error:
[code]

[2018-08-03 14:33] amazinigmech2418 opened #2780 "Costumes don't transfer correctly"
### Expected Behavior

All costumes should look the same as in 2.0.

### Actual Behavior

Costumes end up stretching, growing in certain parts, and rounded squares become normal squares.

### Steps to Reproduce

Open any project with the marker font and/or rounded squares.

### Operating System and Browser

Windows 10 on Chrome

[2018-08-03 14:39] rschamp commented on #2735
We should have a good spec for how the slider should look in every browser, especially with the `help wanted` label on this issue.

I think we also may prefer rendering to SVG so it will be easier to move the sliders into scratch-render if we decide to do that later down the line.

Considerations for a good library to use:
- well maintained
  - not a ton of unaddressed GitHub issues
  - recent pul

[2018-08-03 14:46] kyleplo commented on #2735
I know you want to use a library, but I forked (https://codepen.io/chriscoyier/pen/FtnAa)[this pen] and made (https://codepen.io/kyleplo/pen/zLaNdd)[this one], which looks more like Scratch

[2018-08-03 15:19] kyleplo opened #2781 "Typo in closed caption for "Add a backdrop" tutorial"
### Expected Behavior

There is no typo

### Actual Behavior

There is a typo around 33 seconds:
![image](https://user-images.githubusercontent.com/31634240/43650951-18c6e082-970f-11e8-9761-d9594847e890.png)

### Steps to Reproduce

Look at 33 seconds of the "Add a backdrop" video

### Operating System and Browser

All

[2018-08-03 15:20] kyleplo commented on #2780
On what project(s)?

[2018-08-03 17:02] #2452 closed

[2018-08-03 18:08] BryceLTaylor opened #2787 "Issues from Smoke Test 8/3/18"
* [ ] “You totally can Drag Kiran” text is cut off in the “all the blocks” project on Chromebook Chrome | Andrew, Bryce, Connor
![image7](https://user-images.githubusercontent.com/1088291/43662304-707739ca-9733-11e8-8cf5-f91e8b4fd273.png)
* [ ] Color Picker Sliders in paint editor (bitmap) can select the entire stage + sprite pane and surrounding area | Karishma
![image9](https://user-images.githu

[2018-08-03 18:10] techwonder21 commented on #2685
Is there an estimated timeline on when this bug will be fixed within the Backlog?

[2018-08-03 18:11] BryceLTaylor opened #2788 "Issues from Smoke Test 8/3/18"
* [ ] The arrow pointer (connecting popup and the direction number in sprite area) is below a border in the direction popover | Connor
![screen shot 2018-08-03 at 1 21 29 pm](https://user-images.githubusercontent.com/1088291/43662428-e9ceea52-9733-11e8-9b80-dd28b556ed0c.png)
* [ ] Microsoft Edge on Windows (run in vm on a mac) seems to still have the “can’t reach the last sound in a list” problem,

[2018-08-03 18:21] techwonder21 opened #2789 "Say bubble overlapping other sprites"
### Expected Behavior
Say bubbles should not show on top of another sprite
https://scratch.mit.edu/projects/238080690/#editor

### Actual Behavior
Say bubbles overlaps other sprites
https://beta.scratch.mit.edu/#238080690
![oqej4f7souv](https://user-images.githubusercontent.com/3812168/43658893-2add7ed4-9728-11e8-8a24-6ae9e2e9efa1.png)

### Steps to Reproduce
Open 2.0 project in 3.0
Click the gree

[2018-08-03 18:21] techwonder21 commented on #2789
@ChampikaF

[2018-08-03 18:31] wtrocki opened #2790 "Translations suggestions"
### Expected Behavior

Using Scratch for teaching in Polish language.
Overall translation quality is very good.
Basing on kids feedback I think that 2 translations could be improved:

####  Clone

![screen shot 2018-08-03 at 7 17 56 pm](https://user-images.githubusercontent.com/981838/43658965-60989354-9752-11e8-9551-87e6f638e8ed.png)

This block was translated directly from "When I start as clone

[2018-08-03 18:34] techwonder21 opened #2791 "Stamp block on mouse pointer down glitchy"
### Expected Behavior
Smoother interaction in 2.0
https://scratch.mit.edu/projects/24452141/#editor

### Actual Behavior
Glitchy interaction in 3.0
https://beta.scratch.mit.edu/#24452141

### Steps to Reproduce
Open 2.0 project in 3.0
Click the green flag
Notice that the 3.0 version is more glitchy

### Operating System and Browser
macOS High Sierra
Chrome 68

[2018-08-03 18:36] wtrocki commented on #2790
ping @chrisgarrity

[2018-08-03 18:36] techwonder21 commented on #2791
@ChampikaF

[2018-08-03 19:33] BryceLTaylor opened #2792 "Issues from Smoke Test 8/3/18"
* [ ] Firefox: There is not additional space at the end of the costume and sounds list, so it’s still hard to select the last tile element. | Carl
* [ ] Selecting “Turbo Mode” from the “Edit” menu should result in the edit menu being closed | Andrew
* [ ] Monitors are all in a corner (maybe that’s just how they are but *shrug*) | Connor
* [ ] Size in the sprite info area stays in undo stack seemin

[2018-08-03 19:35] BryceLTaylor opened #2793 "Issues from Smoke Test 8/3/18"
The 2 tutorials at the end of each tutorial send you in a loop, rather than diving deep. Seems like many of the recommended ones are the same. | Bryce/team
-- | --
* [ ] After on-screen keyboard opened and closed due to using “ask” block, scratch editor is shifted to the left, with a blank bar on the right side, and the blocks menu hidden | Eric R
* [ ] After using on-screen keyboard with “ask” bl

[2018-08-03 19:39] wtrocki commented on #2790
Closing in favour https://github.com/LLK/scratch-l10n/issues/36

[2018-08-03 19:39] #2790 closed

[2018-08-03 19:57] #1579 closed

[2018-08-04 00:54] apple502j commented on #2119
Still have the problem.
Looks like it requires "google-closure-compiler\build\test_input.js" which doesn't exist.
Official Google GitHub didn't have it.
Closure Library GitHub didn't have either.
Downloadable Closure Compiler was a Java program.

All I could say is: "What on earth happened!?"

[2018-08-04 01:01] apple502j commented on #2119
I gitted google closure library and compiler at scratch-blocks directory (fail)
changed the directory name to "google-closure-library" (fail)

I found that the wrong code was not from Blockly, after checking with WinMerge

[2018-08-04 01:02] apple502j commented on #2119
@thisandagain I'm sure this is unfixable without re-making build.py from Blockly's one.

[2018-08-04 02:40] as-com commented on #1174
I was going to file an issue for this exact project... and you beat me to it! :P

[2018-08-04 14:50] as-com commented on #1174
I upped the memory of this VM to 80 GB, and I finally got the project to run!
![screen shot 2018-08-04 at 10 39 05 am](https://user-images.githubusercontent.com/3819625/43677639-39aa7f88-97d3-11e8-88db-229ed9c68270.png)

Scratch's new system requirements:
- Six core CPU at 2 GHz
- 32 GB of DDR4 memory (the DDR3 memory in this server seemed to be a bottleneck)
- Dedicated graphics card (software re

[2018-08-04 23:30] setoyama60jp commented on #2716
![2018-08-05 8 22 23](https://user-images.githubusercontent.com/1531784/43681226-e22b664e-9888-11e8-95c2-51254b59361a.png)
This happened when narrowing down the width of the browser window.
(I  checked Chrome 67.0.3396.99 on macOS High Sierra 10.13.6)
And did not happen when setting `white-space : nowrap;` to the `span` tag.
[code]

[2018-08-05 06:36] DivyeshPuri opened #2795 "How to execute a program in runtime.js everytime a block is added on workspace or gets removed"

[2018-08-05 19:02] amazinigmech2418 commented on #1174
@as-com One problem. Not everyone has Firefox. Also, the other system requirements aren't very good... Devices like chromebooks would completely fail to load anything. I know quite a few Scratchers who can only use chromebooks for coding. This needs to be fixed.

[2018-08-05 19:04] towerofnix commented on #1174
@amazinigmech2418 To be clear, this is only a requirement for projects which use an absolutely huge number of assets. Which is certainly some - even beyond comp09's out-of-the-ordinary animations, the two others I noted also were huge memory hogs.

[2018-08-05 19:07] amazinigmech2418 commented on #1174
@towerofnix Still. A lot of large projects would be completely impossible for some Scratchers to run. There are other cases very similar to this.

[2018-08-05 20:20] AmazingMech2418 opened #2796 "Using monitor slider prevents keypress events"
### Expected Behavior

If you use the slider to edit a variable, keys should still update the key [] pressed blocks.

### Actual Behavior

It doesn't work and ignores the key press.

### Steps to Reproduce

Go to https://llk.github.io/scratch-gui/develop/#238287060, change the variable value with the slider, and press space. The project doesn't even load on Edge. It says it crashed due to a long s

[2018-08-05 21:11] Kenny2github commented on #2716
@setoyama60jp Thanks for the repro! And thanks for the suggested solution, as well. Yeah, this seems similar to a ScratchWikiSkin issue I had a while back (which was fixed by [this pull](https://github.com/InternationalScratchWiki/ScratchWikiSkin2/pull/9#issuecomment-375510028), which can provide some more detail).

I also managed to repro this myself just now:
![image](https://user-images.githubu

[2018-08-05 22:46] as-com commented on #1174
The main problem here is that Scratch 3.0's memory consumption has ballooned by a non-trivial amount for projects that have a large number of costumes. There was a recent (?) featured project that contained about a thousand SVGs (hand-drawn stop motion), so I know I'm not the only one producing projects of this type. The "Bad Apple" project that is the subject of this issue ran fine with "just" a

[2018-08-06 06:45] setoyama60jp commented on #2716
@Kenny2github Thank you.
https://github.com/LLK/scratch-gui/blob/9e31cd2e8abae88cf3b9bd50041b436e45d9ca64/src/components/menu-bar/menu-bar.css#L60-L70

So maybe we should add `white-space: nowrap;` to the class above.
I'll test and send PR later (a week or later.)

[2018-08-06 13:17] technoboy10 commented on #1500
This issue was resolved in #2309.

[2018-08-06 13:17] #1500 closed

[2018-08-06 14:07] fsih commented on #2716
@chrisgarrity how do you feel about making this help-wanted?

[2018-08-06 16:03] chrisgarrity opened #2798 "Recording step (sound editor) is missing localization"
### Expected Behavior

Text in the recording step modal should be translated (and translatable)

### Actual Behavior

Hard-coded English strings are not able to be translated. For example, Italian is fully translated, the prompt and record button are not translated.

![screen shot 2018-08-06 at 12 02 07 pm](https://user-images.githubusercontent.com/399209/43727654-97c7a70a-9970-11e8-8ee3-360882bb1

[2018-08-06 19:08] paulkaplan commented on #2796
Thanks for reporting this. It has the same root cause as https://github.com/LLK/scratch-gui/issues/2457, but on a different part of the app. I'll flag this for further discussion on the team, we are caught between keyboard accessibility on form elements vs. the way scratch works, and need to make some hard decisions 😢

[2018-08-06 19:09] chrisgarrity opened #2800 "RTL layout bugs."
### Expected Behavior

Styles that are asymmetric on the gui should mirror when in Hebrew or any RTL language.

### Actual Behavior
![screen shot 2018-08-06 at 3 01 04 pm](https://user-images.githubusercontent.com/399209/43736128-8930405c-998a-11e8-9231-cb529a7d7ba3.png)

### Steps to Reproduce

Switch into Hebrew

[2018-08-06 19:12] paulkaplan commented on #2791
Could you be more specific about what is glitchy? I tried it in the side-by-side compatibility viewer and couldn't see a difference?

https://llk.github.io/scratch-gui/develop/compatibility-testing.html#24452141

![spray-can](https://user-images.githubusercontent.com/654102/43736298-19e87092-998b-11e8-80ac-377ff6bff58d.gif)

[2018-08-06 19:17] paulkaplan commented on #2789
Just updated the title to be a bit more specific, it is correct for say bubbles to generally appear above other sprites, this is a case where a 2.0 project required the bubble showing on the right and the slightly larger 3.0 bubbles flip it to the other side.

[2018-08-06 19:19] BryceLTaylor opened #2801 "Flappy Bird crashes paint editor"
### Expected Behavior

If you open this project: https://llk.github.io/scratch-gui/develop/#18262469
Select Sprite4 and open the paint editor you should be able to see the paint editor.

### Actual Behavior

![screen shot 2018-08-06 at 3 10 38 pm](https://user-images.githubusercontent.com/1088291/43736245-ec752b3c-998a-11e8-8f7d-bd1ac3e6fe87.png)

### Steps to Reproduce

Open the project above
Sel

[2018-08-06 19:25] paulkaplan commented on #2801
Duplicate of https://github.com/LLK/paper.js/issues/13

[2018-08-06 19:25] #2801 closed

[2018-08-06 20:03] paulkaplan commented on #2789
Patch for this is in https://github.com/LLK/scratch-vm/pull/1427, thanks for reporting it!

[2018-08-06 21:00] Robomandude opened #2803 "Certain sounds continue after their clones are deleted"
### Expected Behavior

In scratch 2.0 if you delete a clone while it is busy executing a [play note for beats block], or a [play sound until finished] block, the sound cuts off.
This is useful for when you don't know in advance how long to play a note or if you don't want to play the entire sound.

It should be noted that [play sound] (now known as [start sound]) plays to completion regardless eve

[2018-08-06 21:12] Robomandude commented on #2803
Oh a good use for this edge case behavior is demonstrated here: https://llk.github.io/scratch-gui/develop/compatibility-testing.html#237931636

[2018-08-07 01:19] apple502j opened #2805 "List is placed out of stage in Fullscreen"
### Expected Behavior
List monitor should be in the stage

### Actual Behavior
![](https://screenshotscdn.firefoxusercontent.com/images/a35e3976-68e5-486b-a0d0-644211ebd2e8.png)
List is out of stage

### Steps to Reproduce
Open https://llk.github.io/scratch-gui/develop/#170126832
and https://scratch.mit.edu/projects/170126832/
Go to fullscreen

### Operating System and Browser
Windows 7 HomePremiu

[2018-08-07 07:59] apple502j commented on #1391
Can I help?

[2018-08-07 09:36] cyx2015s commented on #2800
![a1](https://user-images.githubusercontent.com/31377746/43767690-574478e0-9a68-11e8-8c65-3afab3bc2634.PNG)
![a2](https://user-images.githubusercontent.com/31377746/43767694-57a51330-9a68-11e8-846a-b6ba17edb7be.png)
![b1](https://user-images.githubusercontent.com/31377746/43767702-591d6226-9a68-11e8-98c2-9277bd51a71c.PNG)
![c1](https://user-images.githubusercontent.com/31377746/43767704-597ef720-9

[2018-08-07 10:36] Kenny2github commented on #2800
Corners not rounded: change `border-radius: 0 xpx xpx 0` to `border-radius: xpx 0 0 xpx` when switched.
Border missing from blocks palette: change `border-right: ...` to `border-left: ...` when switched.
Language menu misaligned: ...I don't really know.
Dropdown buttons in paint editor are rounded wrong: same fix as stage corners.

[2018-08-07 12:42] chrisgarrity commented on #2800
@Kenny2github @cyx2015s thanks for these additional layout problems - just one note, all the paint editor bugs are getting tracked in a separate issue: https://github.com/LLK/scratch-paint/issues/574

[2018-08-07 13:01] kyleplo commented on #2251
@chexbox I like that change because it forces new users to learn that the space isn't automatic.

[2018-08-07 13:05] kyleplo commented on #2251
@picklesrus In Japanese, "blorp" translates to "broken"

[2018-08-07 15:39] fsih commented on #2251
That's a valid translation of broken in Japanese. A lot of Japanese words are basically English :p

[2018-08-07 17:30] TheLogFather commented on #2803
This is likely a dup of https://github.com/LLK/scratch-vm/issues/1410 (though that mentions only sounds – the principle is the same, in that it's to do with Scratch 2 stopping sounds/notes playing in scripts that get terminated, and which Scratch 3 no longer does).

[2018-08-07 19:59] chrisgarrity opened #2810 "Custom procedure modal centering doesn't work in RTL"
The code to keep the block centered doesn't work at all in RTL languages.
![screen shot 2018-08-07 at 3 57 36 pm](https://user-images.githubusercontent.com/399209/43799176-be495ff0-9a5a-11e8-82c9-894e535afbb8.png)

The solution may be to just right justify for RTL and not try to center.

[2018-08-07 21:36] benjiwheeler opened #2811 "When user saves project, show save is in process"
Somewhat a duplicate of https://github.com/LLK/scratch-gui/issues/3035

When we implement saving in Beta, and user saves, we should give the user some indication that the save is in process.

Some possibilities: we could use some kind of popup modal/dialog, info in the nav bar, some kind of spinner/progress bar, and/or "Saving..." text.

[2018-08-07 23:34] joker314 commented on #2776
The `List` from `react-virtualized` is not a table, but a bunch of `div`s. We have two options:

- Make it table-like (by making the table horizontally, not vertically; or, by using `display: table;`, etc.) [with CSS]
- Each time an item is added, calculate the width of the widest index -- and set all indices to that width [with JS]

[2018-08-08 03:49] cyx2015s opened #2812 "After hiding the variable, it's state will change to normal"
### Expected Behavior

It should keep as what it is before it hiding.
normal - normal
large - large
slide - slide

### Actual Behavior

It will change to normal

### Steps to Reproduce

Create a variable.
Show it.
Change it to slide mode or large readout.
Hide it.
Show it.

### Operating System and Browser

Chrome 66 Win 8

[2018-08-08 06:25] aabuchba opened #2813 "Abkhazian localization"
Hello!
The A
![2018-08-05_13h44_29](https://user-images.githubusercontent.com/29856201/43819813-f467f06e-9aec-11e8-9f72-45857417d7a0.png)
bkhaz language.
In Scratch 3.0 Beta are not displayed
letters with codes
U+0524 -Ԥ and U+0525 -ԥ
Instead, the □ sign is displayed in
the inscriptions on the blocks.
See the screenshot!
Please help us to correct the errors.

[2018-08-08 13:20] benjiwheeler opened #2814 "Introduce prop to indicate whether to show intro to 3.0 modal"
When switching from Community/Project page to editor, Intro Modal should be dropped. After making this change, www should be changed to use this feature.

[2018-08-08 13:42] benjiwheeler opened #2815 "Add title prop, onUpdateTitle, UI for changing title"

[2018-08-08 13:56] benjiwheeler opened #2816 "Enable Logged in State display"
If user logged in, present in redux's state.session, update menu bar to display details of that user.

Should have menu drop down when clicked, with same options as www currently has:

![screen shot 2018-08-08 at 9 54 53 am](https://user-images.githubusercontent.com/3431616/43841419-220bca14-9af1-11e8-824e-5c154e9cc595.png)

if nothing in state.session, should display as it does right now (scratch

[2018-08-08 14:56] kchadha opened #2817 "Ask/Answer Prompt Layout in RTL"
### Expected Behavior

Ask/Answer prompt that appears on the stage when the ask block is executed should have it's submit button on the left when in RTL.

### Actual Behavior

![image](https://user-images.githubusercontent.com/1786240/43845314-b467f68c-9af9-11e8-9f20-d6d321d7fd90.png)

[2018-08-08 15:15] #2756 closed

[2018-08-08 16:23] kyleplo opened #2818 "Link scratch logo to homepage"
### Expected Behavior

Clicking the logo goes home.
### Actual Behavior

It doesn't.

### Steps to Reproduce

Click the Scratch logo.
### Operating System and Browser

All

[2018-08-08 17:11] carljbowman opened #2819 "Update sprite info area when stage is selected"
### Current
When the stage is selected the Sprite info area looks like it can still be interacted with. There are also some weird default strings being displayed in the inputs.

<img width="582" alt="screen shot 2018-08-08 at 1 06 22 pm" src="https://user-images.githubusercontent.com/3409578/43852779-23d18648-9b0c-11e8-872c-c4f55d441e97.png">

### Update
It would be great to drop the default strin

[2018-08-08 19:32] BryceLTaylor opened #2820 "This Sprite Clicked through a ghosted sprite behaves differently in 3.0"
In this project on Scratch 2.0: https://scratch.mit.edu/projects/236788917/#editor
You can click one sprite through a 100% ghost effected second sprite.  This seems to be used to hide the splash screen rather than with the hide block.

In 3.0 you can't do this, so the project appears to be completely unresponsive.  You can fix this by hiding the splash screen sprite or moving the "bar" sprites to

[2018-08-08 20:52] technoboy10 opened #2823 "Webpack dev server no longer serves scratch-gui on /"
### Expected Behavior
After running `npm start`, going to localhost:8601 should show a hot-reloading copy of scratch-gui

### Actual Behavior
After running `npm start`, going to localhost:8601 returns `Cannot GET /`, and the hot-reloading copy of scratch-gui only appears after going to localhost:8601/build/index.html (_not_ localhost:8601/build).

This is possibly a side effect of the changes in #

[2018-08-09 13:53] carljbowman opened #2826 "Sprite / BG Watermark on blocks workspace"
## Overview
We would like to add back the watermark of the selected sprite or backdrop. This was a feature in 2.0 that helped to clarify which sprite or backdrop was selected.

## Notes
#### Sizing and Positioning
The watermark should have max size of 48px by 48px (or 3rem by 3rem) and be position relative to the top-right corner.  This element should also be right-aligned to the zoom controls. Mo

[2018-08-09 14:19] techwonder21 commented on #2791
Sure thing. Note: The CS First team is casting and editing 3.0 videos on the beta website.  Even though the glitch issue is hard to reproduce we think it appears on beta.scratch.mit.edu (rather than https://llk.github.io/scratch-gui/develop/).

When you click and drag sometimes the spray can picks up and jumps to a new spot rather than spraying a continuous line. In 2.0 and the /develop branch thi

[2018-08-09 15:00] #2373 closed

[2018-08-09 15:36] ntlrsk opened #2832 "adding copy and paste for Google translate extension"
The educators doing work with bilingual and translingual education in NYC are very excited about the Google translate extension and had a couple suggestions based on how they've seen students using Google translate and Scratch.

They said that it would be very helpful to have an option on the block right-click menu to Copy and Paste text for the **translate** block (and **say** and **think** block

[2018-08-09 17:09] eqot commented on #2477
There is a root cause in [scratch-blocks](https://github.com/LLK/scratch-blocks) and I have fixed this issue locally.
So, could you move this issue to [scratch-blocks](https://github.com/LLK/scratch-blocks), please? I will send a PR for it.

To repro this issue easily, you can tweak ```stroke-width``` of the SVG line from 1 into 10 or more by using Chrome DevTools.

[2018-08-09 17:37] #2823 closed

[2018-08-09 17:46] fsih commented on #1984
Here is my old code for dragging code out of blocks and into gui:
https://github.com/fsih/scratch-blocks/commit/29a6322b9b640b5e46c3862b8b01c9affac59a3c
https://github.com/fsih/scratch-gui/commit/e6754f1c21747b23814bf5f471f19c1547e6ce4a

[2018-08-09 20:41] #2540 closed

[2018-08-09 21:54] #2814 closed

[2018-08-10 10:08] xxhong opened #2837 "where is the build folder?"
ℹ ｢wds｣: Content not from webpack is served from /Users/xxhong/Documents/xxhong/scratch/scratch30_code/scratch-gui/build

Whether added to the ignore directory？

[2018-08-10 10:14] xxhong commented on #2837
When I run   npm start

[2018-08-10 12:17] chrisgarrity opened #2838 "Fix custom procedure block positioning for RTL languages"
The current code for positioning custom procedure blocks in RTL languages is trying to work around the fact that the initial position of the block in RTL depends on the width (even though the position is always reported as 0,0). It also doesn't match at all what happens in the custom-procedure playground in scratch-blocks.

So first we need to decide what should really be happening in scratch bloc

[2018-08-10 12:29] #2810 closed

[2018-08-10 14:01] apple502j commented on #2837
Did you run `npm install`?

[2018-08-10 15:37] carljbowman commented on #2800
Another place where we use absolute positioning: 'Coming Soon...' tag on extension tiles

<img width="332" alt="screen shot 2018-08-10 at 11 36 50 am" src="https://user-images.githubusercontent.com/3409578/43967150-c3509a0c-9c91-11e8-8a9f-08fcadd84bc1.png">

[2018-08-10 16:40] kosiecki17 opened #2844 "Change the name of sound: Connect and Disconnect"
The resources team noticed that the names of the sounds _Connect_ and _Disconnect_ could potentially cause confusion, because we use the same terminology for connecting hardware.

We'd like them to be changed to _Start_ and _Finish_.

Thank you.

[2018-08-11 16:08] as-com commented on #1174
Status update: my new MacBook Pro (meeting the above system requirements) just arrived, and it runs this project flawlessly!

<img width="1680" alt="screen shot 2018-08-11 at 12 04 11 pm" src="https://user-images.githubusercontent.com/3819625/43993642-cb760776-9d5e-11e8-8fc6-2a1f9ffac371.png">

Scratch-ing is about to become very, very expensive...

[2018-08-11 17:24] SimaKyr opened #2847 "Poor quality of vector images"
### Expected Behavior

Good anti-aliasing

### Actual Behavior

Incorrect anti-aliasing

### Steps to Reproduce

1.Open Scratch 3.0
2.Click on full screen

![x](https://user-images.githubusercontent.com/28606130/43994373-8e3fda1c-9da4-11e8-8682-8419c601f39f.png)

### Operating System and Browser

Windows 10, Chrome v.68.0.3440.106

[2018-08-11 17:42] SimaKyr opened #2848 "Bug:opportunity to scroll"
### Expected Behavior

here is an opportunity when you transfer the sprite to the left

### Actual Behavior

should not be able to scroll

### Steps to Reproduce
![3](https://user-images.githubusercontent.com/28606130/43994520-11982656-9da7-11e8-9d80-b75f03966fe1.png)

try to move the sprite to the right

### Operating System and Browser

Windows 10, Chrome v.68.0.3440.106

[2018-08-11 19:37] towerofnix commented on #2848
Thanks for the report! This is, if I'm correct, a duplicate issue of #1791. If that describes the same problem, it would be best to close this issue. Keeping track of each issue in its own unique topic helps keep everything organized.

[2018-08-12 09:43] #2848 closed

[2018-08-12 10:13] SimaKyr opened #2849 "Add GET block"
You could add the ability to make GET, POST, PUT requests at least 10 seconds (or 1440 requests per day)

[2018-08-12 13:46] kyleplo commented on #2849
There's no way they are going to add this.

[2018-08-12 16:01] joker314 commented on #2849
This could be used

- As a vector for CSRF against Scratch
- As a way of spamming sites (e.g. DOS)
- As a way of displaying unpredictable content (which could bypass bad-word filters)

There are plenty of benefits, of course, but they need to be balanced against some of the flaws. 🙂

[2018-08-12 16:09] hedgehog125 commented on #1174
How long does it take for an image to be loaded? It might make sense to only decode it and render it when it's needed if a project has significant assets? It would also have to unload some of the assets when they haven't been used for a while. Although, it might take too long. :/ How does Scratch 2.0 deal with this problem?

[2018-08-12 21:03] kyleplo opened #2850 "Scratch Link disappears after a few minutes"
### Expected Behavior

After running the installer, Scratch Link works.

### Actual Behavior

After clicking "Finish" on installer, nothing happens.

### Steps to Reproduce

Download and run the installer

### Operating System and Browser

Windows 10.1709 (64-bit) Chrome 68.0.3440.106

[2018-08-12 21:07] WorldLanguages commented on #2832
You could use the HTML5 clipboard API to create a new block (maybe, in a new extension): "copy [text]". If the browser doesn't support it, you can just do `prompt("Press Ctrl+C", text);` as a workaround.

[2018-08-12 21:09] WorldLanguages commented on #2812
Can reproduce.

[2018-08-12 21:37] ScratchDiogoh opened #2851 "mouse pointer is not detected in the script area"
### Expected Behavior

_mouse must report "true" in the area of scripts_

### Actual Behavior

_the mouse sensor block reports "false"_
### Steps to Reproduce

_open the GUI, drag the block "mouse down" and then click on it_

### Operating System and Browser

_Windows 10 and Chrome 68_

[2018-08-13 03:52] greenkeeper[bot] opened #2852 "An in-range update of autoprefixer is breaking the build 🚨"
## Version **9.1.1** of **autoprefixer** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/LLK/scratch-gui/compare/develop...LLK:greenkeeper%2Fautoprefixer-9.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/postcss/autoprefi

[2018-08-13 06:25] Kenny2github commented on #2851
Your test case is invalid, but the issue is valid. When you click a reporter, it only reports its value when the mouse is *released*, so naturally when you let go of the mouse so that the "mouse down" block reports its value, the mouse is not down and it therefore reports false.

However, using this script:
![image](https://user-images.githubusercontent.com/28599280/44015399-55d28c78-9f03-11e8-85b

[2018-08-13 07:12] apple502j commented on #2850
Did you run it via Start Menu?

[2018-08-13 09:54] roishillo opened #2853 "Gathering Usage Data on Scratch 3.0"
### Expected Behavior

As learning company, we would like to gather usage data about the learners activity in Scratch.
The usage data can help us learn better how our students interact with scratch and help us to improve their learning experience.
We can use the usage data to enrich our student profile and provide him the right remedy  for his most urgent learning challenges.
Usually we are using

[2018-08-13 10:53] Kenny2github commented on #2850
Yeah, did you actually try to run it after installing it? It's not every installation wizard that includes an option to run after installation.

[2018-08-13 13:47] SimaKyr commented on #2849
But why if add limit?

[2018-08-13 15:32] joker314 commented on #2849
@SimaKyr That, unfortunately, would only resolve the second issue.

[2018-08-13 16:16] kyleplo commented on #2850
@apple502j It's not in the start menu

[2018-08-13 18:36] kchadha opened #2858 "Uploading a sprite without any sounds while the sound tab is visible crashes sound editor"
### Expected Behavior

Editor tabs should not crash.

### Steps to Reproduce

1. Open a new project in 3.0
2. Click on the sounds tab
3. Use the 'add sprite' action menu, file upload button to upload a sprite that does not have any sounds (The bananas sprite in the 2.0 library does not have any sounds, so is a good example of this -- export that sprite from 2.0 and upload it into this 3.0 project)

[2018-08-13 23:49] apple502j commented on #2850
@kyleplo C:\Program Files (x86)\Scratch Link\ScratchLink.exe
Does it exist?

[2018-08-13 23:52] SAODTHEKING opened #2860 "Vector graphics have enlarged collision boxes"
### Expected Behavior

Like scratch 2.0 vector graphics, two sprites return touch output when they are touching.

### Actual Behavior

Scratch 3.0 vector graphics return touch output while there is a noticeable distance between the two sprites

increasing sprite size, increases the collision box effect. just like as if it was squared to the size of the sprite (collision box = sprite size^2) or som

[2018-08-14 03:14] cyx2015s opened #2861 "Weird behavior when clicking a stacked translate blocks."
### Expected Behavior
It pops a text and stop.
### Actual Behavior
![translatebug](https://user-images.githubusercontent.com/31377746/44069726-b8ce0ea6-9fb2-11e8-8ced-0d5ec87255b9.gif)
### Steps to Reproduce
Stack blocks like this
![tb2](https://user-images.githubusercontent.com/31377746/44069779-fde61c9a-9fb2-11e8-9480-96468c4e8739.PNG)
### Operating System and Browser
Win 8, Google Chrome 68

[2018-08-14 03:51] cyx2015s opened #2862 "language block returns “中文(简体)” when using the "にほんご" language"
### Expected Behavior
it returns "にほんご"

### Actual Behavior
it returns “中文(简体)” (My computer is Chinese so I'm not sure what will it return on other languages' computer.)
Also, the language in the drop down menu is also Chinese.
### Steps to Reproduce
1.change the language to  "にほんご"
2. use the google translate extension and click "げんご"
### Operating System and Browser
Win 8, Google Chrome 68

[2018-08-14 04:01] cyx2015s commented on #2862
Some other languages have the same behavior:Azeri, Espanol Latinoamericano, Maori, Portugues Brasileiro, 繁体中文
Languages that the "language" block returns a short code:the first language, Norsk bokmal, Norsk nynorsk,

[2018-08-14 07:52] Kenny2github commented on #2849
@SimaKyr Especially the third problem is the most dangerous. Scratch doesn't allow some things to be shown to people; a block like this could show the forbidden things randomly, and make it a lot harder for the Scratch Team to deal with.

[2018-08-14 08:02] Kenny2github commented on #2861
Can reproduce on develop with Chrome 68 Windows 10.
Note: Steps to reproduce in issue description did NOT work, only the configuration in the "Actual behavior" section showed this problem.

### Actual Steps to Reproduce
1. Stack blocks like so:
![image](https://user-images.githubusercontent.com/28599280/44079214-0de6a7fe-9fdb-11e8-8636-0c26c15b8de7.png)
2. Click on any block in the stack.

Importa

[2018-08-14 10:58] apple502j commented on #2862
In Japanese computer it returned "日本語"
also in Traditional

I think "custom languages" are buggy.

[2018-08-14 12:46] kyleplo commented on #2850
@apple502j Yes, but when I run the exe, it appears for a minute or two like this:
![image](https://user-images.githubusercontent.com/31634240/44092448-73ca9996-9f9e-11e8-877f-97cd92583bbb.png)
Then it disappears. Clicking on it does nothing.

[2018-08-14 13:32] joker314 opened #2863 "Ctrl + Green Flag should mute the project"
### Expected Behavior

In Scratch 2.0, `ctrl`-clicking the green flag (in a similar way to how `shift`-clicking enabled turbo mode) would disable audio (until the green flag is clicked without `ctrl`)

This means if you're in a public place, you don't fill the room with unwanted noise.

Also, two feature requests about this:
- In 2.0, enabling turbo mode in muted mode would disable muted mode -- t

[2018-08-14 14:41] ericrosenbaum commented on #2850
Sorry you're having trouble @kyleplo. It sounds like there are multiple issues here:

- Scratch Link does not automatically launch after installation. We are in the process of getting Scratch Link into the Mac and Windows app stores, which we hope will improve this (at least by providing a way to immediately launch the app from the app store).
- Once you launched Scratch Link manually, it disappea

[2018-08-14 14:49] ScratchDiogoh commented on #2863
Hi, I think it's not **exactly** a bug, but thanks for reporting the problem!
I think this shortcut `ctrl + green flag` is not yet enabled

[2018-08-14 14:59] rschamp commented on #2863
Thanks @joker314 — this is a dupe of #1028

[2018-08-14 14:59] #2863 closed

[2018-08-14 15:00] rschamp commented on #2754
Moved to LLK/scratch-paint#601

[2018-08-14 15:00] #2754 closed

[2018-08-14 15:02] #2087 closed

[2018-08-14 15:34] joker314 commented on #1028
How about a "More" icon (for example, represented with an ellipses), which, upon selection, would expand into @kyleplo'd proposed menu. `shift` and `ctrl` clicking should probably still work.

This makes it not-secret, compact, and mobile-friendly.

[2018-08-14 16:13] #2697 closed

[2018-08-14 16:49] rschamp commented on #2766
Moved to LLK/scratch-blocks#1680

[2018-08-14 16:49] #2766 closed

[2018-08-14 17:11] luofei614 commented on #1629
why canvas.toDataURL()  not work ,   it will  get  a  black  picture @paulkaplan

[2018-08-14 17:14] luofei614 opened #2865 "Is there a way to save the current stage as a png/jpeg file"
Is there a way to save the current stage as a png/jpeg file

[2018-08-14 17:27] ScratchDiogoh commented on #2865
{offtopic}I think someone should close this, this is not a problem :-1: {/offtopic}

[2018-08-14 17:44] joker314 commented on #2865
Good question @luofei614! I see you asked a question in #1629, shall we keep discussion there? It's okay that the other issue is closed, project maintainers will still get notified of your question.

[2018-08-14 18:02] #2541 closed

[2018-08-14 23:05] #2865 closed

[2018-08-15 03:20] BryceLTaylor opened #2866 "Vector shapes with rounded corners imported with sharp corners"
Some vector sprites have shapes with rounded edges in 2.0 that are possibly imported from other software.  In 3.0 they will be imported with straight edges.

Examples:
The play button and white background pattern on the title screen in here:
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#203392290

<img width="998" alt="screen shot 2018-08-14 at 11 08 27 pm" src="https://user

[2018-08-15 04:20] #2132 closed, assigned to benjiwheeler

[2018-08-15 09:20] javascriptzpt opened #2867 "I want to use these blocks to generate python code. I can't find an interface to generate code. What should I do?"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-08-15 11:05] ScratchDiogoh commented on #2867
convert them to java script, and then to python :blush:

[2018-08-15 11:11] javascriptzpt commented on #2867
But，i dont know how to convert them to javascript，Could you tell me more about it，millions of thanks

@ScratchDiogoh

[2018-08-15 11:13] matheod opened #2868 "Allow teacher to hide some block / choose which block to show"
Would help a lot teacher if there was a way to hide some block or to choose which block to show.

That way, when you start teaching scratch to students, you can avoid confusing them with a lots of block.

There don't even need to be a GUI, it could be a parameter in the url.

[2018-08-15 11:31] ScratchDiogoh commented on #2867
@javascriptzpt  I only know a few blocks for javascript, but you can refer to this guide:
https://en.wikipedia.org/wiki/JavaScript_syntax

[2018-08-15 14:48] chrisgarrity commented on #2800
Mirror small/large stage icons:
![screen shot 2018-08-15 at 10 46 50 am](https://user-images.githubusercontent.com/399209/44154420-b4e81e46-a078-11e8-9b42-5461d2250ae3.png)

Don't mirror sound and paintbrush:
![screen shot 2018-08-15 at 10 46 58 am](https://user-images.githubusercontent.com/399209/44154463-c854e482-a078-11e8-87e2-b9865d211a73.png)

[2018-08-15 15:01] greenkeeper[bot] opened #2871 "An in-range update of enzyme is breaking the build 🚨"
## Version **3.4.1** of the **enzyme** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/LLK/scratch-gui/compare/develop...LLK:greenkeeper%2Fmonorepo.enzyme-3.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blank href=https://github

[2018-08-15 15:13] rschamp commented on #2236
https://llk.github.io/scratch-gui/develop/#28272848 no longer crashes the editor on load, but the errors still appear in the console.

[2018-08-15 16:39] SAODTHEKING commented on #2866
not only that! alot of them have weird collision boxes.
try this project in 2.0 then 3.0
https://scratch.mit.edu/projects/198901436/
you will see u cant move in 3.0 thats because the collision boxes of the level are larger than normal

[2018-08-15 16:54] carljbowman opened #2874 "Point "Give Feedback" button at new forum post"
### Overview
We've created a new topic of commonly asked questions inspired by thefrenchpeople’s. We hope this helps give context and address commonly asked questions about the Scratch 3.0 Beta. To help people entering the forum for the first time we'd like to change the “Give Feedback” button to point to this new topic rather than a decontextualized collection of topics.

### New Topic
Here is th

[2018-08-15 18:08] joker314 commented on #2865
Maybe I was wrong. It's harder to track closed issues. Feel free to re-open it unless a developer tells me I'm mistaken?

Sorry for the confusion!

[2018-08-15 19:59] techwonder21 opened #2877 "Define block does not autopopulate values for 3.0 projects"
### Expected Behavior
All 2.0 projects that have define blocks when placed in 3.0 should not crash because of the issue below
https://scratch.mit.edu/projects/28272848/#editor
https://beta.scratch.mit.edu/#28272848
![screen shot 2018-08-15 at 3 58 08 pm](https://user-images.githubusercontent.com/3812168/44170005-0e4fed80-a0a4-11e8-9cf8-a812fb8e1c94.png)

### Actual Behavior
There should be a worka

[2018-08-16 01:25] javascriptzpt commented on #2867
who can help me?

[2018-08-16 01:28] javascriptzpt commented on #2837
you should npm run build. when you run start ,you will not find the build folder.

[2018-08-16 02:35] wwj718 commented on #2867
@javascriptzpt You can refer to [Generating Code](https://developers.google.com/blockly/guides/create-custom-blocks/generating-code)
Please take a look at [my demo](https://github.com/wwj718/blockly_dev/blob/master/src/scratch-blocks_hello_world/readme.md)

[2018-08-16 02:49] javascriptzpt commented on #2867
@wwj718 我看到你的工程里“scratch-blocks_hello_world”这个项目，但我没找到生成代码的部分在哪里呀。

[2018-08-16 03:02] wwj718 commented on #2867
@javascriptzpt 生成代码的关键是[自定定义generator](https://github.com/wwj718/blockly_dev/blob/master/src/scratch-blocks_hello_world/readme.md#%E8%87%AA%E5%AE%9A%E5%AE%9A%E4%B9%89generator)

这部分和blockly文档没有差异，可以先读一些blockly的文档

[2018-08-16 04:58] iburning opened #2878 "npm install return error"
### Expected Behavior

npm install

### Actual Behavior

Error: [scratch-svg-renderer@0.2.0-prerelease.20180712223402] Can't find package scratch-svg-renderer's version: 0.2.0-prerelease.20180712223402

### Steps to Reproduce

git clone git@github.com:LLK/scratch-gui.git
cd scratch-gui
npm install

### Operating System and Browser

npm -v
5.6.0

[2018-08-16 07:44] liuzy0404 commented on #2878
Don't use taobao npm, use official npm with vpn proxy.

[2018-08-16 14:44] ScratchDiogoh opened #2880 ""restore" was not translated"
### Expected Behavior
"restore" should be translated
### Actual Behavior
the word remains intact (untranslated)
### Steps to Reproduce
go to another language and click "edit" in the specific language
### Operating System and Browser
possibly all

[2018-08-16 17:30] #2757 closed

[2018-08-16 17:44] BryceLTaylor opened #2882 "Issues found in 8/10/18 Smoke Test"
* [ ] Edge continues to freeze instantly when you load all the blocks project. Console says WEBAUDIO17050: An unknown decoding error occured. @fsih
* [ ] Regression project: Loudness is -1 (microsoft surface) - never asked for microphone permission? (microphone: allow is on) @chrisgarrity
* [ ] Scrolling the list of blocks is extremely laggy (Edge) @fsih
* [ ] Scrolling the list of blocks is extre

[2018-08-16 17:45] BryceLTaylor opened #2883 "Issues found in 8/10/18 Smoke Test"
* [ ] The dinosaur does _not_ make it to the back @technoboy10
* [ ] Weird stuff going on w/nexus tablet in full screen mode, loading screen did not cover the full gui layout @kchadha
* [ ] Soft keyboard on Nexus tablet covers a lot of the variable modal @kchadha
* [ ] Custom procedures modal on Nexus tablet -- adding a parameter or a label pops up the soft keyboard for a second and then it immedi

[2018-08-16 17:47] chrisgarrity commented on #2664
Getting handled in https://github.com/LLK/scratch-gui/pull/2879

[2018-08-16 17:53] BryceLTaylor opened #2884 "Issues found in 8/10/18 Smoke Test"
* [ ] Monitors overlap in the test project @carljbowman
![image33](https://user-images.githubusercontent.com/1088291/44225941-c2ad4a80-a15c-11e8-8938-e8e9434f9e01.png)
* [ ] Ask and wait UI is broken. The check mark looks odd across devices and browsers… on Safari… @carljbowman
* [ ] (on Mac Chrome) When making a new block, if i have the editor scrolled away from its center, the new block doesn’t

[2018-08-16 18:20] BryceLTaylor opened #2887 "Issues found in 8/10/18 Smoke Test"
* [ ] Cat is blurry on windows firefox @fsih
![image37](https://user-images.githubusercontent.com/1088291/44226758-df4a8200-a15e-11e8-8e9d-5ab122448831.png)
* [ ] Cat turns pixelated around the edges when you pick it up to move @kathymakes
* [ ] Zoomed the browser out and in and now my sprites on stage are suuuper blurry @fsih
![image42](https://user-images.githubusercontent.com/1088291/44226831-1

[2018-08-16 18:30] BryceLTaylor opened #2888 "Issues found in 8/10/18 Smoke Test"
* [x] Gray bar on left edge of sound/costume editors in RTL on Nexus Tablet @kchadha #2800
* [x] RTL: layout buttons don’t match layout  @fsih #2800
![image32](https://user-images.githubusercontent.com/1088291/44227570-f7230580-a160-11e8-9c58-8a0c0b8a8216.png)
* [x] Boolean responses not translated (true, false) @technoboy10 [blocks#1685](https://github.com/LLK/scratch-blocks/issues/1685)
* [x] Sh

[2018-08-16 18:51] BryceLTaylor opened #2889 "Issues found in 8/10/18 Smoke Test"
* [ ] weird backdrop icon glitch happened when I was clicking on a dropdown to change backdrop (could be something in the code but did not find) @kathymakes
* [ ] When i moved a large sprite object around the stage, it got stuck outside the stage, temporarily
![image27](https://user-images.githubusercontent.com/1088291/44228654-d0b29980-a163-11e8-9860-3fe6c6e50db1.png)

Device | Browser | Name
--

[2018-08-16 19:58] #2197 closed

[2018-08-16 21:53] #2759 closed

[2018-08-17 01:12] chrisgarrity commented on #2888
There are issues for everything except the transliteration of 'Google'. From Moran on whether names (e.g. Scratch) should be left in English:

[2018-08-17 01:12] #2888 closed

[2018-08-17 09:53] Affonso-Gui opened #2891 "Dynamic Menu does not display string items properly"
### Expected Behavior

_Dynamic Menus displays items the same way as Static Menus._

### Actual Behavior

_In Dynamic Menus, only the initial letter is displayed for string items._

### Steps to Reproduce

_Minimal extension code below, used from forked `scratch-vm`._

[code]

### Operating System and Browser

_Ubuntu 16 and Chromium, Firefox_

[2018-08-17 13:02] SimaKyr commented on #2851
@Kenny2github i'm understand

[2018-08-17 15:45] javascriptzpt opened #2901 "How to add my own blocks In the default toolbox。"
How to do it in scratch-GUI not in scratch-blocks

[2018-08-17 16:54] pipicoming opened #2902 "download the newest sprites, sounds, scripts, and backgrounds"
where can i download the newest sprites, sounds, scripts, and backgrounds?
please give the links, thx.

[2018-08-17 17:51] BryceLTaylor opened #2903 "Issues found in 8/17/18 Smoke Test"
* [x] Win Edge on touch (surface), tapping the add sprite/backdrop/costume/sound button always opens the library, so I am unable to use the other options @ericrosenbaum https://github.com/LLK/scratch-gui/issues/3025
* [x] I tried to scroll and accidentally dragged out a block from somewhere. This is probably related to the scrolling happening super slow. @LiFaytheGoblin https://github.com/LLK/scra

[2018-08-17 17:55] BryceLTaylor opened #2904 "Issues found in 8/17/18 Smoke Test"
* [x] Strange dropshadow under blocks which are running @kathymakes
![image14](https://user-images.githubusercontent.com/1088291/44281166-e045e700-a224-11e8-951e-6da4c2781d93.png) -- Filed in #2943
* [x] I expected a restored sprite to appear at it’s former position but it is put at the end of the list @LiFaytheGoblin -- Filed in LLK/scratch-vm#1502
* [x] Gesture scrolling the blocks workspace and

[2018-08-17 18:07] BryceLTaylor opened #2905 "Issues found in 8/17/18 Smoke Test"
* [ ] When trying to scroll in the sprites overview box I am changing the sprites position instead of scrolling @LiFaytheGoblin
* [ ] This project gives an oops error: https://scratch.ly/preview/1000015537/  @BryceLTaylor
![image10](https://user-images.githubusercontent.com/1088291/44281538-22235d00-a226-11e8-8c54-f58a4498594b.png)
* [ ] You can still see inside the project even if it fails.  http

[2018-08-17 18:09] BryceLTaylor opened #2906 "Issues found in 8/17/18 Smoke Test"
* [x] 210672714 - has error:
`The buffer passed to decodeAudioData contains invalid content which cannot be decoded successfully.` @kchadha
* [x] Tried trimming a sound but accidentally clicked trim button twice because the effect of clicking it once was delayed and then I removed parts of the sound I didn’t want to be removed @LiFaytheGoblin

Device | Browser | Name
-- | -- | --
Windows* | Chrome

[2018-08-17 18:12] BryceLTaylor opened #2907 "Issues found in 8/17/18 Smoke Test"
* [x] Score text has black outline in 3.0 and is fuzzy in 2.0
Menu button should not have weird rectangle around it
https://llk.github.io/scratch-gui/smoke/#220986096 @fsih
* [x] Color picker in the Paint Editor does not work in the GUI when it loaded within WWW @carljbowman  https://github.com/LLK/scratch-www/issues/2030
* [x] Scrollbars in the paint editor are a bit small @carljbowman  https://g

[2018-08-17 18:15] BryceLTaylor opened #2909 "Issues found in 8/17/18 Smoke Test"
* [x] Transition from Project page to Project in the editor is a bit jarring.  @carljbowman
https://github.com/LLK/scratch-gui/issues/3008
* [x] When uploading from tablet, it would be cool if the choices box would also offer the option downloads folder since the scratcher probably downloaded the project to that folder by default before
https://github.com/LLK/scratch-gui/issues/3013 @LiFaytheGobli

[2018-08-17 18:18] BryceLTaylor opened #2910 "Issues found in 8/17/18 Smoke Test"
* [x] I put a variable monitor in the full-view mode to the bottom left corner and then switched to the slider mode and then the slider mode monitor went over the edge. Same when going from the full-view to any other view when the monitor is somewhere on the right border. @LiFaytheGoblin
* [x] Drag a monitor to the bottom left corner of the stage in editor mode, double click on the monitor to make

[2018-08-17 18:50] towerofnix commented on #2709
I think this is the same issue as #2069. Probably best to keep this one open but anybody who wants to have a go at this can read that one for some extra info:

[2018-08-17 20:25] #2850 closed

[2018-08-18 00:00] amazinigmech2418 opened #2911 "Rotation Only Working Every 45 Degrees"
### Expected Behavior
Turning 1 degree and moving 1 step constantly should create a circle
### Actual Behavior

It makes an octagon.

### Steps to Reproduce

Create a script where you turn 1 degree and move 1 step constantly.

### Operating System and Browser

Chrome on Windows 10

It was also reported by henry27q on Scratch.
https://scratch.mit.edu/discuss/topic/299791/?page=277#post-3223192 is w

[2018-08-18 02:29] towerofnix commented on #2911
Here is a screenshot of the repro case described:

![pen down, repeat 360, turn 1 degrees, move 1 steps](https://user-images.githubusercontent.com/9948030/44294907-2fb40380-a275-11e8-9a51-f8b0b9ca2f29.png)

*Ceci n'est pas un circle.*

[2018-08-18 02:56] #2902 closed

[2018-08-18 03:08] cyx2015s opened #2912 "176021042 and 172111618 loads incorrectly"
### Expected Behavior

All scripts will change to scratch 3.0 properly

### Actual Behavior

Most of them disappeared.

### Steps to Reproduce

Go to
https://beta.scratch.mit.edu/#176021042
https://scratch.mit.edu/projects/176021042/
and
https://beta.scratch.mit.edu/#172111618
https://scratch.mit.edu/projects/172111618/
### Operating System and Browser

Win 8, Chrome 68

[2018-08-18 03:12] cyx2015s commented on #2912
I guess is because of the hacked blocks.

[2018-08-18 14:54] fsih commented on #2911
@mzgoddard
@rschamp

[2018-08-18 17:32] luofei614 commented on #1316
@liukonghe @cryanis    我怎么调用了  renderer.draw()  也还是不行。

[2018-08-18 20:55] SAODTHEKING commented on #2911
Yes! i was about to open this exact issue.
its annoying, broke some of my games that make a semicircle speedometer/health

[2018-08-19 08:36] apple502j opened #2914 "Color Picker can't pick color in editor"
### Expected Behavior

It can pick color in Scratch editor (as Scratch 2 does)

### Actual Behavior

Only available inside stage
### Steps to Reproduce
1 pick color in editor
2 it doesn't work
### Operating System and Browser
WIndows 10/Firefox 61.0.2

[2018-08-19 11:46] thisandagain commented on #2911
Agreed with @fsih that this is a major regression that should be hotfixed ASAP.

/cc @BryceLTaylor

[2018-08-19 15:22] goosesima opened #2915 "Variable of the message came out"
### Expected Behavior

Does not climb out

### Actual Behavior

The value should not be shown, but it does so

### Steps to Reproduce

You need to make several variables or boolean in a custom block

### Operating System and Browser

Windows 10, Chrome v.68.0.3440.106
Maybe work on any

![dd](https://user-images.githubusercontent.com/28606130/44310281-42951800-a3dc-11e8-879e-fbd8a72c3b9c.png)

[2018-08-19 15:35] SimaKyr commented on #2912
This is because one block is not loaded, it disappears, the other can not find it and disappears and so with others it also happens

[2018-08-19 15:41] SimaKyr opened #2916 "Wrong displays sprite"
![5](https://user-images.githubusercontent.com/28606130/44310472-8dfcf580-a3df-11e8-974a-3c9cc34f035a.png)
### Expected Behavior

Blurred sprite when it cost

### Actual Behavior

Must be displayed correctly

### Steps to Reproduce

Try to move the mouse straight and it ceases to be stretched and becomes clear

### Operating System and Browser

Windows 10, Chrome v.68.0.3440.106
Maybe work on any

[2018-08-19 15:44] SimaKyr commented on #2848
Ok, i'm close it issues

[2018-08-19 16:33] SimaKyr commented on #2902
https://drive.google.com/open?id=1Dznngmov383Qv5OzV22QF9i1v_erNLn1

[2018-08-19 18:30] chexbox commented on #2905
It is too bad scratch.ly isn't public. It looks to be coming along fast.

[2018-08-19 20:55] amazinigmech2418 commented on #2911
@thisandagain I posted a few PRs for it. 1 in scratch-gui and 1 in scratch-vm. 1 fixes the glitch and the other rounds in the input boxes. The rounding in the inputs isn't needed, but could be used. The problem is that it is rounding even during the change x by _ blocks and move _ steps blocks.

[2018-08-19 23:01] fsih commented on #1316
Maybe this feature of Chrome can help you do what you want:
https://umaar.com/dev-tips/156-element-screenshot/

[2018-08-20 07:30] hahapang opened #2918 "Copy block and right click, the block sticks with mouse."
### Expected Behavior

The blocks should not stick with mouse.

### Actual Behavior

The block always stick with mouse, left click or right click doesn't work.

### Steps to Reproduce

1. Right clicking and copy a block.
2. DO NOT move mouse and right click again.

### Operating System and Browser

Mac OS 10.12 Chrome 68.0.3440.106

[2018-08-20 09:18] wooden1985 commented on #1338
@wenyiweb how to solve?

[2018-08-20 09:47] SimaKyr commented on #2918
![1](https://user-images.githubusercontent.com/28606130/44333267-05319880-a477-11e8-96b1-e928f0ac1997.gif)
Linux Mint Cianamon 19 64bit, Chromium/67.0.3396.99

[2018-08-20 09:49] hahapang commented on #2918
Please don't move mouse after duplicate blocks.  Right click again.

[2018-08-20 10:03] hahapang commented on #2918
![qq20180820-180215](https://user-images.githubusercontent.com/26299904/44334121-45a70b80-a4a3-11e8-8b39-e6bf6147ab8f.gif)

[2018-08-20 10:58] kyleplo commented on #2914
That's impossible with HTML5

[2018-08-20 11:10] SimaKyr commented on #2918
![ezgif-2-96c1533c20](https://user-images.githubusercontent.com/28606130/44337219-8b071100-a482-11e8-8664-5c927b949535.gif)
I first duplicate the right key and then quickly press the left

[2018-08-20 11:44] chrisgarrity commented on #2910
@benjiwheeler don't worry about adding an issue for the switching language issue. I added a card to the trello board. It's bigger than a single issue. It's probably going to take some work on both sides.
/cc @BryceLTaylor

[2018-08-20 13:06] thisandagain commented on #2176
This appears to be resolved.

[2018-08-20 13:06] #2176 closed

[2018-08-20 13:17] thisandagain commented on #2911
Thanks @amazinigmech2418. We'll take a look today. 😄

[2018-08-20 13:29] thisandagain commented on #2487
This is now fixed. :-)

[2018-08-20 13:29] #2487 closed

[2018-08-20 13:34] #2625 closed

[2018-08-20 13:34] #2570 closed

[2018-08-20 13:34] #2568 closed

[2018-08-20 13:44] thisandagain commented on #2774
/cc @rschamp

[2018-08-20 13:47] thisandagain commented on #2780
@amazingmech2418 A few sample cases / projects for repro would be very helpful.

[2018-08-20 13:52] #2787 closed

[2018-08-20 13:52] #2788 closed

[2018-08-20 13:52] #2792 closed

[2018-08-20 13:52] #2793 closed

[2018-08-20 13:54] thisandagain commented on #2791
@BryceLTaylor Can you try to repro this for us? If it is indeed not on `develop` it would be good to get an understanding of why.

/cc @rschamp @kchadha

[2018-08-20 13:57] #2882 closed

[2018-08-20 13:57] #2883 closed

[2018-08-20 13:57] #2884 closed

[2018-08-20 13:57] #2887 closed

[2018-08-20 13:57] #2889 closed

[2018-08-20 14:36] #2911 closed

[2018-08-20 15:10] #781 closed

[2018-08-20 15:10] kchadha opened #2921 "Add Costume/Sound menu covers tile of last costume/sound in a long list on Firefox"
### Expected Behavior

There should be a space at the end of a costume/sound list so that the last tile is not covered by the add costume/sound buttons. E.g. in chrome, this works as expected:

![image](https://user-images.githubusercontent.com/1786240/44348759-5dfa3480-a469-11e8-884d-8c998d1e6975.png)

### Actual Behavior

In Firefox there is no space:

![image](https://user-images.githubusercont

[2018-08-20 15:12] rschamp commented on #2779
Fixed in https://github.com/LLK/scratch-gui/pull/2899

[2018-08-20 15:12] #2779 closed

[2018-08-20 15:14] kchadha commented on #2525
Selecting turbo mode in Edit menu should also close the Edit menu.

[2018-08-20 15:21] kchadha opened #2923 "Size field in sprite info pane remains in the undo stack."
### Expected Behavior

Size field should not be 'undo'able, especially not after doing other interactions around the editor.

### Actual Behavior

- found by @BryceLTaylor in a smoke test

[2018-08-20 15:27] kchadha opened #2924 "Ask and Wait UI checkmark is broken across browsers"
### Expected Behavior

Ask and Wait checkmark should look the same across browsers.

### Actual Behavior

It doesn't:

[2018-08-20 15:31] kchadha opened #2925 "Using the slider monitor triggers 'when stage clicked'"
### Expected Behavior

Using a slider monitor should not trigger a stage click.

### Actual Behavior

It does:

[2018-08-20 15:38] BryceLTaylor commented on #2805
This is fairly easy to reproduce:

Create a new project in 2.0
Create a new list
Add some elements to the list
Drag the list to the bottom left corner of the screen so it sticks out past the left edge and the bottom edge.
Save the project
Open the project in 3.0
Note: the rounded corner of the stage does not block the monitor, causing the monitor to be drawn with a sharp point on the corner
Click

[2018-08-20 15:40] kchadha opened #2927 "Projects playing on top of one another"
### Expected Behavior

Switching projects (via hash in url or any other means) should clear out old project and load new project.

### Actual Behavior

In the smoke test on 08/10/18, I somehow got into a state where one project got loaded on top of the other and both projects were playing when I clicked the green flag.

The two projects in question were:
238746871 and 236345336

Note: these are bo

[2018-08-20 15:43] fsih opened #2929 "All the blocks project does not load on Edge"
### Expected Behavior
Projects should eventually load

### Actual Behavior
Go to http://bit.ly/alltheblocks on Edge
The page freezes. Eventually the browser says "llk.github.io is not responding." and gives an option to force quit.

The console contents:
[code]
Note that the webaudio error shows up on many projects though, including projects that load.

### Steps to Reproduce
1. Go to http://bit.l

[2018-08-20 15:47] fsih opened #2930 "Scrolling the blocks list is extremely laggy on Edge"
### Expected Behavior
Scrolling is responsive

### Actual Behavior
After scrolling with the scroll wheel in the blocks flyout, you may need to wait over a second for the blocks to move.

### Steps to Reproduce
Use the scroll wheel in the list of blocks
Click on categories in the list of blocks

Chrome and Edge side by side:
![scrolledgechrome](https://user-images.githubusercontent.com/2855464/4435

[2018-08-20 15:50] kchadha opened #2931 "Deleting a sprite when a project is running"
### Expected Behavior

Deleting a sprite while a project is running should probably stop the project and then delete the sprite.

### Actual Behavior

Sometimes deleting a sprite while a project is running keeps that project running, and keeps its blocks workspace even though the sprite tile gets removed.

[2018-08-20 15:52] benjiwheeler opened #2932 "Right edge of stage is a few pixels too far to the right, in editor"
Observed by Linda in 8/17/18 smoke test

![screen shot 2018-08-20 at 11 52 12 am](https://user-images.githubusercontent.com/3431616/44351274-838a3c80-a46f-11e8-952e-d64288ca7a53.png)

[2018-08-20 15:55] benjiwheeler opened #2933 "Variable monitors overlapping stage edges wrong"
Observed by Karishma:
Drag a monitor to the bottom left corner of the stage in editor mode, double click on the monitor to make it a BIG monitor, switch to full screen mode, it overlaps the editor

Observed by Linda:
I put a variable monitor in the full-view mode to the bottom left corner and then switched to the slider mode and then the slider mode monitor went over the edge. Same when going from

[2018-08-20 15:59] fsih opened #2934 "Sprites becomes weirdly pixelated when the stage is resized"
### Expected Behavior
Cat should look ok rendered at different scales

### Actual Behavior
The cat pixelation is weird when the stage size is reduced
![catresponsive](https://user-images.githubusercontent.com/2855464/44351304-98ff6680-a46f-11e8-9df0-450b10d42b09.gif)
![image](https://user-images.githubusercontent.com/2855464/44351339-a9174600-a46f-11e8-8c32-206bdeba9aad.png)

I'm seeing this on Fi

[2018-08-20 17:14] BryceLTaylor commented on #2866
From this issue: https://github.com/LLK/scratch-gui/issues/2780#issuecomment-414357278
I have figured out how to reproduce creating rounded corners in 2.0

Create a new sprite
Convert it to Vector
Choose the Square tool
Ensure that the square is in the hollow mode
Increase the Stroke Thickness
Choose the paint bucket tool
Set it to one of the gradient options (it doesn't matter which, but it can't

[2018-08-20 17:17] fsih opened #2936 "Sprites are weirdly pixelated/blurry when the browser starts off at non-100% zoom"
### Expected Behavior
Stage should look crisp even if the browser is zoomed

### Actual Behavior
Stage gets fuzzy and has some jaggedly rendered lines
Here is Chrome on Windows at 100% vs 90% zoom. It gets much blurrier and the shoulder and ear have jagged lines.
![image](https://user-images.githubusercontent.com/2855464/44355222-0617f980-a47a-11e8-98f5-6cae1fcb1ce6.png)

Note that if you load the

[2018-08-20 17:18] BryceLTaylor commented on #2780
This has been filed as two separate issues:
Rounded corners: https://github.com/LLK/scratch-gui/issues/2866
Text getting cut off: https://github.com/LLK/scratch-vm/issues/1477

Thanks for pointing out the vector gradient method of rounding corners.  I've added that info into the issue 2866.

[2018-08-20 17:19] #2780 closed

[2018-08-20 17:30] fsih opened #2937 "Aspect ratio of bitmap sprite thumbnails is not respected in Edge"
### Expected Behavior
Sprite thumbnails should have the same aspect ratio as sprites

### Actual Behavior
Sprite thumbnails are stretched to a square in Edge
![image42](https://user-images.githubusercontent.com/1088291/44226831-1a4cb580-a15f-11e8-8ffd-990eb9c0fab5.png)

### Steps to Reproduce
You can observe this in https://llk.github.io/scratch-gui/develop/#10123832 and other projects with bitmap

[2018-08-20 17:35] BryceLTaylor commented on #2866
Here is a project teaching people how to do this: https://scratch.mit.edu/projects/140325920/
It has a few extra steps (like holding shift to keep the shape square).  My repro steps above are a more minimal set.

[2018-08-20 17:49] thisandagain commented on #2832
/cc @ericrosenbaum @picklesrus

[2018-08-20 17:50] thisandagain commented on #2847
Moved to LLK/scratch-render#334

[2018-08-20 17:50] #2847 closed

[2018-08-20 17:50] #2837 closed

[2018-08-20 18:06] thisandagain commented on #2849
Thanks for the suggestion. This has significant security, privacy, and safety implications that make it unlikely to be added. In the future, we recommend that you make suggestions for new blocks here:
https://scratch.mit.edu/discuss/57/

[2018-08-20 18:06] #2849 closed

[2018-08-20 18:13] #2852 closed

[2018-08-20 18:14] thisandagain commented on #2853
Thanks for the note @roishillo! We currently don't have plans to implement xAPI, but you are certainly not the first research group to ask. We are working on some new analysis tools for Scratch projects that we hope to publish within the next year, but will certainly keep this in mind and continue to explore the possibility.

[2018-08-20 18:27] thisandagain commented on #2860
/cc @cwillisf @mzgoddard @gnarf

[2018-08-20 18:31] towerofnix commented on #2936
This is probably the same as #1462. (I also have always used a 1920x1080, non-hi-DPI screen.)

[2018-08-20 18:33] thisandagain commented on #2936
Thanks for catching that. Agreed. Tracking in https://github.com/LLK/scratch-gui/issues/1462

[2018-08-20 18:33] #2936 closed

[2018-08-20 18:37] #2907 closed

[2018-08-20 18:48] thisandagain commented on #2867
We do not officially support "generators" with Scratch Blocks are rather encourage folks using our open source code to use the Scratch Virtual Machine available here:
https://github.com/LLK/scratch-vm

[2018-08-20 18:48] #2867 closed

[2018-08-20 18:50] benjiwheeler commented on #2910
Re: monitors, I opened https://github.com/LLK/scratch-gui/issues/2932 and https://github.com/LLK/scratch-gui/issues/2933

[2018-08-20 19:06] #2871 closed

[2018-08-20 19:29] #2878 closed

[2018-08-20 19:40] thisandagain commented on #2891
@cwillisf Any thoughts on this one?

[2018-08-20 19:42] thisandagain commented on #2901
In your fork of Scratch GUI you will need to add your blocks to both Scratch Blocks and Scratch VM and then edit the default toolbox to add your blocks:
https://github.com/LLK/scratch-gui/blob/2c6b5bc8da45e449fae446750d742fa11887734c/src/lib/make-toolbox-xml.js

[2018-08-20 19:42] #2901 closed

[2018-08-20 19:46] thisandagain commented on #2912
Tracking in https://github.com/LLK/scratch-vm/issues/1030

[2018-08-20 19:46] #2912 closed

[2018-08-20 19:48] thisandagain commented on #2914
This is unfortunately not something we can do in HTML5 / Javascript given what is available from browser APIs.

[2018-08-20 19:48] #2914 closed

[2018-08-20 19:49] thisandagain commented on #2915
/cc @paulkaplan @chrisgarrity

[2018-08-20 19:50] thisandagain commented on #2916
Tracking in https://github.com/LLK/scratch-render/issues/332 and https://github.com/LLK/scratch-render/issues/334

Please check for existing issues before filing new issues. Otherwise, please use the "Scratch 3.0 Beta" forum to avoid creating extra work for the Scratch Team.

[2018-08-20 19:50] #2916 closed

[2018-08-20 19:52] thisandagain commented on #2918
This is actually by design. This feature also exists in Scratch 2.0

[2018-08-20 19:52] #2918 closed

[2018-08-20 19:56] thisandagain commented on #2934
/cc @cwillisf

[2018-08-20 19:58] thisandagain commented on #2929
This is going to need a more minimal repro to track down the source. @BryceLTaylor You mind taking a look?

[2018-08-20 19:59] thisandagain commented on #2927
@rschamp Is this something we should prioritize (aka does this impact the project page work in any way)?

[2018-08-20 20:00] thisandagain commented on #2924
@BryceLTaylor Could you add some screenshots to this issue?

[2018-08-20 20:50] BryceLTaylor commented on #2791
This mostly seems to behave the same in 3.0 as it does in 2.0 and the distance between the stamps is mostly based on the speed you move your mouse.

However, if you are in the editor mode, it might be easier to pick up the sprite by clicking and dragging than in 2.0.  You don't see this if you are in the comparison mode, because in player mode you can't drag the sprite.  I think this should be fil

[2018-08-20 20:50] #2791 closed

[2018-08-20 21:18] #2658 closed

[2018-08-20 21:29] chrisgarrity commented on #2880
@ScratchDiogoh the 'restore' command is new, and was not yet translated by translators. It should start to be in other languages next week depending on which translators have translated it.

[2018-08-20 21:29] #2880 closed

[2018-08-20 21:57] chrisgarrity commented on #2813
@aabuchba could you let us know which browser and operating system you're using. The characters are not missing in my browser (MacOS, Chrome):
<img width="186" alt="screen shot 2018-08-20 at 5 53 08 pm" src="https://user-images.githubusercontent.com/399209/44368793-0f1cc100-a4a2-11e8-9b77-7edc8048780a.png">

[2018-08-20 23:41] kchadha commented on #2927
@thisandagain, @rschamp, I think this issue still needs repro because I wasn't able to get it to happen again.

[2018-08-21 01:54] cryanis opened #2942 "sb3 player need a progress bar just like sb2 player"
Some items have to be loaded for a long time.

[2018-08-21 02:32] towerofnix commented on #2942
This is probably already being tracked in the issue #1852.

[2018-08-21 03:30] joker314 commented on #2905
@chexbox I'm pretty sure you can build the project player yourself from this repository -- it just isn't hosted publicly by the Scratch Team.

[2018-08-21 03:37] cryanis commented on #2942
@towerofnix yes, the standalone sb3 player need a progress bar and the user experience will be better. But it doesn't seem to exist now.

[2018-08-21 05:27] aabuchba commented on #2813
Good day!
Thanks for the reply.
I use:
OS MS Windows 7 SP1 ultimate
Google Chrome V. 68.0.3440.106 (Official build), (64 bit)

С уважением,
Андрей Абухба
aabuchba@mail.ru

[2018-08-21 13:55] kchadha opened #2943 "Strange drop shadow under stack of blocks"
Found by @kathymakes in smoke test on 08/17/18:

![image14](https://user-images.githubusercontent.com/1088291/44281166-e045e700-a224-11e8-951e-6da4c2781d93.png)

Found on Mac Safari.

[2018-08-21 15:09] kchadha opened #2944 "Switching variable reference in context menu only changes appearance, doesn't actually update the variable reference"
### Expected Behavior

Switching a variable reference using the variable reporter's context menu option should actually update the variable reference.

### Actual Behavior

The variable reporter changes in appearance but still references the old variable it was referring to.
![variable_refs](https://user-images.githubusercontent.com/1786240/44407019-07552f00-a52b-11e8-8c3f-78b6024d63b6.gif)

Found

[2018-08-21 15:47] BryceLTaylor commented on #2924
Somewhere I remember someone saying that they just just the checkmark emoji for that image.  I'm not sure if it was a joke or not.  It would definitely explain the inconsistency.

Chrome on Mac:
![checkchromemac](https://user-images.githubusercontent.com/1088291/44411689-1fca4700-a535-11e8-978f-a7ef75466bb8.png)
Chrome on Windows:
![checkchromewindows](https://user-images.githubusercontent.com/108

[2018-08-21 18:52] SimaKyr commented on #2915
@thisandagain /cc??

[2018-08-21 18:52] SimaKyr commented on #2915
/cc ??

[2018-08-21 19:01] thisandagain commented on #2915
We use "/cc" as a shorthand to make sure that a issue gets pushed to a member of the team's notifications. We receive so many issues every day that get notifications for every single one is not feasible for everyone on the team. "cc" stands for "carbon copy":
https://guides.github.com/features/issues/

[2018-08-21 19:07] kchadha opened #2945 "Sprite execution order incompatibility causes layering issues in this project"
### Expected Behavior

https://scratch.mit.edu/projects/73724746/ should behave the same in 2.0 and 3.0.

### Actual Behavior

This project does not have the mountains in the correct layer when imported into 3.0. I think this is an execution order issue as the sprites follow the model of `go to front` followed by `go back [n] layers`. The resulting layer for the sprite in question depends on when

[2018-08-21 20:27] ericrosenbaum opened #2947 "Provide helpful message when webcam not available"
### Expected Behavior

Any time you try to access the webcam (e.g. taking a photo for a new costume, loading the video sensing extension), if no webcam feed is available, we should provide a helpful message. The webcam can be unavailable because it is in use (https://github.com/LLK/scratch-gui/issues/2216), or because no webcam exists on that computer, or perhaps for other reasons.

### Actual Beh

[2018-08-21 20:48] BryceLTaylor commented on #2860
I've created a repro project for this:
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#239879101

It does seem to make a difference if you are in bitmap or vector.

[2018-08-21 21:08] chexbox commented on #2947
Also make it stop trying. It is a waste of resources to try to load a non-existent camera feed.

[2018-08-21 21:39] benjiwheeler opened #2949 "Monitors can't be positioned past halfway right (or halfway down) when stage is in small display mode"
...that's as far as you can position it:

![screen shot 2018-08-21 at 5 37 58 pm](https://user-images.githubusercontent.com/3431616/44430588-2377c100-a569-11e8-8dab-2fa434eea87b.png)

[2018-08-22 00:08] #2904 closed

[2018-08-22 03:24] joy-yi0905 opened #2951 "lib.min.js is too big after packing"
### Expected Behavior

When i open [scratch](https://beta.scratch.mit.edu/)  project, And In debugging tools I found `lib.min.js` only `3.9M` :

![build-official](https://user-images.githubusercontent.com/10655307/44440839-85353b00-a5fc-11e8-808a-5ba44f5e0809.png)

### Actual Behavior

But When I packed it locally, I found the file was very large. I really wonder is there some content that needs t

[2018-08-22 04:37] joy-yi0905 commented on #2951
Oops, sorry ! Webpack must config `set NODE_ENV=development`  , and server client must open the `gizp` option

[2018-08-22 04:37] #2951 closed

[2018-08-22 08:22] abee2 opened #2952 "The result of comparing Japanese characters is different from Scratch 2.0 and 3.0."
### Expected Behavior
It should be followed the Unicode, I guess.
This problem was found by watashida.
https://scratch.mit.edu/discuss/topic/258450/?page=36#post-3225461

### Actual Behavior
<[こ] = [コ]> returns 'false' on Scratch 2.0.
And it returns 'true' on Scratch 3.0.
'こ' is 0x3053 and 'コ' is 0x30B3.

<[界] < [丁]> returns 'false' on Scratch 2.0.
And it returns 'true' on Scratch 3.0.
'界' is 0x75

[2018-08-22 09:40] cyx2015s commented on #2952
I can't repro.
Win8, Chrome 68.

[2018-08-22 09:41] cyx2015s commented on #2952
<[あ] < [字]>
In Scratch 2: true
In Scratch 3: false

[2018-08-22 14:28] #2477 closed

[2018-08-22 14:39] #2789 closed

[2018-08-22 15:03] thisandagain commented on #2685
Thanks @techwonder21. I'm adding this to the September milestone to understand what is going wrong here and hopefully get out a fix.

[2018-08-22 15:04] thisandagain commented on #2685
/cc @kchadha @paulkaplan @rschamp

[2018-08-22 17:24] 2010jing opened #2953 "no set costume center in scratch 3.0"
### Expected Behavior

no set costume center in scratch 3.0

### Actual Behavior
sometimes ,we need to set the sprite to the center
### Steps to Reproduce

in scratch 3.0
![image](https://user-images.githubusercontent.com/3251655/44479379-06c7b000-a673-11e8-951b-5690bbff822e.png)

---
in scratch2.0

![image](https://user-images.githubusercontent.com/3251655/44479395-1515cc00-a673-11e8-9ed1-add7cb5

[2018-08-22 18:18] benjiwheeler opened #2954 "Ability to "load" new 3.0 project"
user should be able to do File -> New to load a new default 3.0 project in the editor, which replaces the current project data.

---
Moved from LLK/scratch-www#2019
/cc @benjiwheeler @colbygk

[2018-08-22 20:49] ericrosenbaum opened #2955 "`decodeAudioData contains invalid content` error on Mac Firefox"
Project 210672714 loaded in Mac Firefox gives an error in the console: `The buffer passed to decodeAudioData contains invalid content which cannot be decoded successfully.`

[2018-08-22 20:51] ericrosenbaum commented on #2955
@kchadha looks you reported this originally. I was not quickly able to see that any of the sounds actually failed to load in firefox, or any other behavior difference. Did you see anything? This could just be firefox reporting e.g. that an mp3 contained bad metadata which it ignored or something.

[2018-08-22 21:30] #2685 closed

[2018-08-22 21:31] kchadha commented on #2955
I don't think I noticed any specific audio issues, only that there were multiple instances of that error in the console.

[2018-08-22 21:53] kathymakes opened #2956 "Alerts for hardware and other info: overall design"
## Overview

We need a way to tell Scratchers when their hardware extension device loses connection.
This design is for an alert message which directs users to the device modal.

## Current Scope

The alert appears when an extension device loses connection.
Clicking "x" dismisses the alert.
![device is disconnected 1](https://user-images.githubusercontent.com/8203939/44667868-f6546400-a9e9-11e8-9c

[2018-08-23 12:30] SAODTHEKING commented on #2953
Yes! this is annoying and really unconvenient to move the whole custome to the center.
I really wish they just bring the set custome center feature back to 3.0

[2018-08-23 13:03] #2664 closed

[2018-08-23 13:06] carljbowman commented on #2956
@kathymakes - Looks great! Thanks for speccing this out!

[2018-08-23 13:26] carljbowman opened #2957 "Update X & Y fields in Sprite Info Area while dragging a Sprite"
### Overview
Currently when you drag a sprite on the stage, the X & Y fields do not update until the sprite is dropped (on a mouse-up).

### Proposed Update
To help clarify what  X & Y are, these fields should update while dragging, not just when the sprite is dropped. This should help create stronger relationship between X & Y and the sprites position.

/cc @ntlrsk @kosiecki @kathymakes

[2018-08-23 14:00] BryceLTaylor commented on #2866
It seems that if you "gradient trick" a line, the line doesn't appear on the stage in 3.0.  See this project:
https://beta.scratch.mit.edu/#240180579
![screen shot 2018-08-23 at 9 59 45 am](https://user-images.githubusercontent.com/1088291/44529933-4e722a00-a6bb-11e8-9dd6-5864e8517387.png)

[2018-08-23 14:58] CosmicWebServices opened #2959 "Motion blocks in forever loops that are in run without refresh lags up editor."
### Expected Behavior

Should not make editor mostly unusable when putting a motion block in a forever loop that is in a run without refresh block.

### Actual Behavior

Lags up editor to make pressing buttons including the stop button slow to respond.

### Steps to Reproduce

![screen shot 2018-08-23 at 10 56 04 am](https://user-images.githubusercontent.com/10731781/44533268-30a8c300-a6c3-11e8-95

[2018-08-23 16:51] techwonder21 opened #2967 "Yellow outline around multiple blocks not showing"
### Expected Behavior
All blocks should show a yellow outline to indicate what code is being run when the green flag is clicked

### Actual Behavior
The following blocks do not show a yellow outline. There are probably others that are missing from this list. When flag clicked +

- Think for seconds
- Play sound until done
- Change pitch effect by
- Change pitch effect to
- Change volume by
- Set v

[2018-08-23 16:55] techwonder21 commented on #2685
New bug that is probably related:
https://github.com/LLK/scratch-gui/issues/2967

[2018-08-23 17:48] rschamp opened #2968 "Allow saving projects and assets"
There should be a method for sending `PUT` and `POST` requests to the project and asset servers, so we can create and update projects.

[2018-08-23 17:54] gnarf commented on #2860
@BryceLTaylor Do you think you could rewrite those test cases as sb3 / sb2 integration tests in https://github.com/LLK/scratch-render/tree/develop/test/integration/scratch-tests ?

You can see a bunch of examples of `isTouching` tests there.  Adding a new one is just a matter of getting your touching scenarios to "say" things after greenflag (order kind of matters, check my other cases for some ut

[2018-08-23 18:00] kchadha commented on #2967
@techwonder21 Are you currently seeing this issue on https://llk.github.io/scratch-gui/develop?

I just briefly tested the stack you had in the top right of the screenshot it worked for me:

![image](https://user-images.githubusercontent.com/1786240/44542929-34950f00-a6dc-11e8-8600-a56a086ac9ec.png)

[2018-08-23 18:00] SAODTHEKING commented on #2860
The effects are magnified as you increase the sprite size by change size block!
so i guess there are 2 issues here?
@BryceLTaylor

[2018-08-23 18:35] cwillisf commented on #2636
I added a bit of debug output to my local copy of Scratch Link and I think I see what's going on. Here's my (slightly cleaned up) output:
[code]

It looks to me like the extension or related framework is seeing the `didDiscoverPeripheral` from the first session (micro:bit) and interpreting it as if it applies to the second session (not micro:bit).

I suggest two changes:
- If you close the device

[2018-08-23 18:57] #2762 closed

[2018-08-23 20:22] amazinigmech2418 opened #2971 "Projects that don't lag in 2.0 sometimes lag in 3.0"
### Expected Behavior

All projects should work well in both versions.

### Actual Behavior

Projects like the one at https://llk.github.io/scratch-gui/develop/#240227214 (Scratch 3.0 link) lag so much, it can't carry out all tasks.

### Steps to Reproduce

Open https://llk.github.io/scratch-gui/develop/#240227214.
Start the project.

### Operating System and Browser

Chrome on Windows

[2018-08-23 21:11] evhan55 commented on #2636
Thank you so much for the recon, @cwillisf !

[2018-08-24 00:50] joker314 commented on #2952
(I think) moved to LLK/scratch-vm#1526

[2018-08-24 13:13] #724 closed

[2018-08-24 16:14] benjiwheeler opened #2981 "Going directly to a beta.../#projectid url should not show "Welcome to 3.0" modal"
### Expected Behavior

Click on a link like https://beta.scratch.mit.edu/#239284997 . The beta site should load and let you begin editing; or perhaps it should show a version of the modal that gives a single "Try It!" option.

### Actual Behavior

You are presented with the "Welcome to 3.0" modal and its "Not Now" and "View 2.0 Project" options, which is confusing.

[2018-08-24 16:22] chrisgarrity opened #2982 "Missing padding in RTL"
Missing padding between images and text:
Search radar
Extension icon
<img width="326" alt="screen shot 2018-08-24 at 12 15 54 pm" src="https://user-images.githubusercontent.com/399209/44595727-fb21d980-a797-11e8-9685-5d88181af9db.png">

### Steps to Reproduce
Try to load the micro:bit

[2018-08-24 16:32] chrisgarrity opened #2983 "Speaker/volume icon should be mirrored for RTL"
I've flipped back and forth on which icons should be mirrored and which shouldn't (e.g. paintbrush)

The 'speaker' icon should be mirrored everywhere that it's used (for reference: https://material.io/design/usability/bidirectionality.html#mirroring-elements)
<img width="362" alt="screen shot 2018-08-24 at 12 29 52 pm" src="https://user-images.githubusercontent.com/399209/44596287-a3846d80-a799-11

[2018-08-24 17:35] LiFaytheGoblin commented on #2805
I think this is fixed @BryceLTaylor

[2018-08-24 17:38] LiFaytheGoblin commented on #473
Monitors are automatically on the uppermost layer. More projects are 1516358 and 2737104

[2018-08-24 17:41] LiFaytheGoblin commented on #2796
Can also be seen at 141913142

[2018-08-24 17:42] LiFaytheGoblin commented on #2056
Can also be seen in 179479494

[2018-08-24 20:10] chrisgarrity opened #2984 "CrashMessageComponent text is not localized"
### Expected Behavior

_Please describe what should happen_
People should be able to translate the 'Oops...' message

### Actual Behavior

The text is a literal in the jsx instead of translated text. Initially the crash message was outside the IntlProvider context, so it could not be translated. At this point it should be possible to include react-intl and use FormatMessage.

### Steps to Reproduc

[2018-08-24 21:45] benjiwheeler opened #2986 "Stage thumbnail resizes vertically to enclose backdrop artwork, zooms in on enclosed art"
### Expected Behavior

The stage thumbnail should always maintain the same dimensions, no matter what its content.

### Actual Behavior

Stage thumbnail resizes vertically to enclose backdrop artwork. This can even mean disappearing into a horizontal line.

### Steps to Reproduce

Draw a backdrop graphic that is wide but not tall:

![screen shot 2018-08-24 at 5 34 23 pm](https://user-images.github

[2018-08-25 05:16] hecor commented on #2720
Don't render ReactTooltip when navigator contains iPad is a way to solve this issue.

[2018-08-25 13:29] kyleplo opened #2988 "Outline on extension connect buttons"
### Expected Behavior

No outline.

### Actual Behavior

There is an outline.
![image](https://user-images.githubusercontent.com/31634240/44618716-46e08b80-a849-11e8-804b-a3cc85868641.png)

### Steps to Reproduce

Add a hardware extension and click a button.

### Operating System and Browser

Windows Chrome

[2018-08-25 14:15] Kenny2github commented on #2988
That looks like the default `:focus` styling you get on Chrome. Probably just need to add something that states
[code]

[2018-08-25 15:00] techwonder21 commented on #2967
No; only on the beta website.

[2018-08-25 17:37] SAODTHEKING opened #2989 ">,<,=,+,-,*,/ operator blocks do not have the option change their signs"
### Expected Behavior

like 2.0, when i right click on the operator block ([...]<[...]), it gives me options to change it to >/=.
![image](https://user-images.githubusercontent.com/22136356/44621044-0106e000-a8a8-11e8-8289-c619c4b42d55.png)

Same goes for
+,-,*,/W
### Actual Behavior

In 3.0, when i right click on it, i dont get the option to change, and i need to remove it and get a new operator

[2018-08-25 21:31] chexbox commented on #2988
@Kenny2github That _is_ the default :focus styling you get on Chrome. @kyleplo must've hit the tab key or something similar to give it focus - I don't get it in Chromium

[2018-08-25 21:37] chexbox commented on #2956
@kyleplo also the "Internet not connected - project cannot be saved" message.

[2018-08-25 21:44] chexbox commented on #2953
And maybe a "auto-center" button.

[2018-08-25 23:51] Wgil commented on #2984
Hello,

This is my first collaboration to the Scratch project :)

[2018-08-26 05:29] Kenny2github commented on #2989
Duplicate of LLK/scratch-blocks#1383

[2018-08-26 10:10] kyleplo commented on #2988
@chexbox No, it actually appears for a second just when clicked.

[2018-08-26 13:09] SAODTHEKING commented on #2989
@kenny2github its been 6 months from that post and no one fixed the issue! dont u think it needs a reminder?

[2018-08-26 13:52] kyleplo opened #2991 "Adding reporter to block and then switching to costume or sound tab and back causes crash"
### Expected Behavior

It doesn't crash

### Actual Behavior

It crashes

### Steps to Reproduce

1. Drag out any block with an input
2. Drag a reporter into the input
3. Switch to costumes or sounds tab
4. Switch back to code tab - crash message

### Operating System and Browser

Windows 10 Chrome 68.0.3440.106
![ezgif com-optimize](https://user-images.githubusercontent.com/31634240/44628827-ab69

[2018-08-26 14:28] towerofnix commented on #2991
Yikes. I can't repro this on Firefox 62.0b20/Linux, though (on develop). Are there any errors in your console when this happens?

[2018-08-26 15:38] ScratchDiogoh commented on #2991
https://github.com/LLK/scratch-vm/issues/1496
Duplicate

[2018-08-26 15:39] kyleplo commented on #2991
@towerofnix Yes, two errors:
![image](https://user-images.githubusercontent.com/31634240/44629933-57196900-a924-11e8-94bb-0e929ce7ec8e.png)
and
![image](https://user-images.githubusercontent.com/31634240/44629938-6d272980-a924-11e8-98c2-6d660b904b73.png)

Also, I can't repro on develop but I can on master

[2018-08-26 15:45] towerofnix commented on #2991
@kyleplo As a rule of thumb, if you can repro on master but not develop, it means they recently fixed the issue - which indeed they did, in https://github.com/LLK/scratch-blocks/pull/1698, which was merged just four days ago (so it's not in master yet).

[2018-08-26 18:57] #2991 closed

[2018-08-27 02:26] Kenny2github commented on #2989
That issue is in the "Backlog" milestone, which means it will only be looked at after release. Have patience - all Backlog issues will be handled once 3.0 has been released.

[2018-08-27 04:02] #2989 closed

[2018-08-27 11:50] kyleplo commented on #2850
This is still a bug even after I re-installed scratch link. Why is this closed?

[2018-08-27 14:00] BryceLTaylor opened #2992 "Issues from Smoke Test 8/24/18"
* [x] Does the t in “After it’s been clicked” look bold?  [Zooming in, it looks like the t is a tiny bit thicker than the i next to it (approx 8 pixels vs 7 when I view it fullscreen); our sampling method for resizing may distort this small difference -Ben] @rschamp https://github.com/LLK/scratch-render/issues/143
![image61](https://user-images.githubusercontent.com/1088291/44663280-14b46280-a9de-

[2018-08-27 14:44] BryceLTaylor commented on #2805
@LiFaytheGoblin Nope.  I can definitely repro with the above project today.

[2018-08-27 14:58] BryceLTaylor opened #2995 "Issues from Smoke Test 8/24/18"
* [ ] Using the vector reshape tool on tablet is really hard @LiFaytheGoblin
* [x] Saw the speech bubble cut off again on costume number 2 (same place) @fsih
![image55](https://user-images.githubusercontent.com/1088291/44666566-af18a400-a9e6-11e8-9db6-b9959b7388ca.png)
* [x] Tried to repro it and I realized that this speech bubble doesn’t show up at all when it doesn’t repro! (it skips to the cost

[2018-08-27 15:01] BryceLTaylor opened #2996 "Issues from Smoke Test 8/24/18"
* [ ] On Windows Surface using Edge 41, In RTL (?locale=hi), while dragging blocks to the right in the editor, the shadow is not entirely erased until the drag is finished. Seems to happen with any block (tried Move 10 steps and __ + __ reporter). Does not happen on same device/browser in default locale/language. @benjiwheeler

Most of your issues were already filed and linked to in the google doc

[2018-08-27 15:25] BryceLTaylor opened #2998 "Issues from Smoke Test 8/24/18"
* [ ] IE 11 shows blank page (console shows error: ‘Promise’ is undefined) @benjiwheeler
* [ ] Loading smoke branch on IE11: Totally blank page, no console errors. @fsih
* [ ] Stage has a black rectangle while loading @fsih
![image66](https://user-images.githubusercontent.com/1088291/44668353-2d774500-a9eb-11e8-8a0c-195537d253ce.png)
* [ ] Something went wrong page has period before went? @fsih
![

[2018-08-27 15:29] BryceLTaylor opened #2999 "Issues from Smoke Test 8/24/18"
* [x] Sprite info pane inputs have weird blur shadow on the top.. @kchadha
https://github.com/LLK/scratch-gui/issues/3003
![image39](https://user-images.githubusercontent.com/1088291/44668725-2866c580-a9ec-11e8-911b-01a52f08a89b.png)
* [x] When not searching for a WeDo it should not show the radar thing that isn’t moving. @BryceLTaylor
https://github.com/LLK/scratch-gui/issues/3005

Device | Brows

[2018-08-27 15:32] BryceLTaylor opened #3000 "Issues from Smoke Test 8/24/18"
* [x] Got crash when restoring sprite, 1. Delete meow sound 2. Delete cat 3. Restore sprite @fsih (you said there maybe an issue filed) [Filed in #2858]

Device | Browser | Name
-- | -- | --
Windows* | Chrome | Carl / Kathy
Mac | Chrome | Bryce
iPad** | Safari | Karishma
Chromebook | Chrome |  
Windows* | Firefox | DD
Android Tablet | Chrome | Linda
Windows* | Edge |  
Mac | Safari | Ray
Mac | Fir

[2018-08-27 15:36] BryceLTaylor opened #3001 "Issues from Smoke Test 8/24/18"
* [x] Sound Editor: French has a long word for slower so the symbol above the slower text is put higher than the others. I expected the symbol to stay at the same place as the others and the text to go lower. @LiFaytheGoblin
* [x] Sound editor waveform traverser (Playhead) stays stuck in one place and play button gets stuck on stop…
Also sound doesn’t play… (needs consistent repro) @kchadha
![imag

[2018-08-27 15:48] kathymakes commented on #2956
Reupdated spec & images.

[2018-08-27 18:50] thisandagain commented on #2942
/cc @rschamp Are you tracking this somewhere?

[2018-08-27 18:55] thisandagain commented on #2952
/cc @chrisgarrity

[2018-08-27 18:56] thisandagain commented on #2952
Tracking in https://github.com/LLK/scratch-vm/issues/1526

[2018-08-27 18:56] #2952 closed

[2018-08-27 18:57] thisandagain commented on #2953
/cc @carljbowman

[2018-08-27 19:26] thisandagain commented on #2967
@techwonder21 When we close an issue that means that it should be resolved on `develop` during the next release. We did release to `master` (beta.scratch.mit.edu) this morning however. Can you please try again?

[2018-08-27 19:26] #2967 closed

[2018-08-27 19:37] thisandagain commented on #2971
This is too vague for Github. We are handling performance issues on a case-by-case basis and addressing each.

[2018-08-27 19:37] #2971 closed

[2018-08-27 20:54] thisandagain commented on #2986
/cc @cwillisf @fsih

[2018-08-27 20:55] thisandagain commented on #2988
/cc @ericrosenbaum

[2018-08-27 22:17] cwillisf commented on #2850
@kyleplo just a few hours ago we released a new version of Scratch Link with a ton of fixes -- and a new greenish icon! ;)

We'll usually close an issue if we've fixed it internally, but it can take some time to release the fix even after we have the code written. There's a bunch of reasons for this, including testing and other parts of our development process and scheduling.

Anyway, thanks for t

[2018-08-27 22:40] Wgil commented on #2957
Hello, could I have a look at this issue?

[2018-08-28 07:40] setoyama60jp commented on #2716
This issue was fixed #2806 .

[2018-08-28 10:29] apple502j commented on #2992
llk/scratch-paint#406
"Vector editor: Can not use the eraser over a text"

[2018-08-28 10:35] kyleplo commented on #2850
@cwillisf Where is the new download link? Same as the old one?

[2018-08-28 12:45] carljbowman opened #3003 "Override Browser Default Field Styles"
Lots of browsers (e.g. Safari on iPad) add addtional default styles to field elements.
![image39](https://user-images.githubusercontent.com/1088291/44668725-2866c580-a9ec-11e8-911b-01a52f08a89b.png)

We should audit and evaluate including some CSS overrides into the base field component, such that these addtional styles are overridden.

[2018-08-28 12:56] carljbowman opened #3005 "Reevaluate "Intro" connection modal for devices like WeDo"
### Overview
Currently the opening modal shows a static blue tooth icon and radar. This was designed to be generic and not reference a particular device so it could be used across various hardware types. That being said, the non-animated radar almost feels broken and/or lacks context.

<img width="595" alt="screen shot 2018-08-28 at 8 46 38 am" src="https://user-images.githubusercontent.com/340957

[2018-08-28 12:57] carljbowman commented on #2999
Separate issues have been created for each item.

[2018-08-28 12:57] #2999 closed

[2018-08-28 13:00] jialiren opened #3007 "New list cannot be deleted by right click"
New list can not be deleted by right mouse button, right key can be deleted in scratch2.0

[2018-08-28 13:02] carljbowman opened #3008 "Transition from Editor to Project page is jarring"
### Overview
Currently the transition from the 3.0 Editor (GUI) to the new Project page (WWW) is rather jarring. One can navigate from from the Editor to the Project page by clicking the "See Community" button in the toolbar.

### Consideration
We should explore a smoother transition between the two spaces.

[2018-08-28 13:19] carljbowman opened #3009 "Sprite Info Area and Background selector have different colored borders"
### Current Overview
The unselected state of the Background selector has a different border color than Sprite Info Area.
![image15](https://user-images.githubusercontent.com/1088291/44282093-e9848300-a227-11e8-9000-78c6a4570e7d.png)

These should be the same color. We use a 15% transparent black for our borders, both element uses the correct HSLA... The problem looks to be with how we are setting

[2018-08-28 13:31] carljbowman opened #3010 "Change Ask / Wait confirm UI to use a SVG and not a unicode character"
### Current
As of now the Ask / Wait confirm button uses a unicode character check mark. This causes all kinds of rendering issues cross platform and browser.

mac OS - Safari
<img width="473" alt="screen shot 2018-08-28 at 9 22 10 am" src="https://user-images.githubusercontent.com/3409578/44725674-e5682900-aaa3-11e8-8c52-475310146956.png">

mac OS -Chrome
<img width="472" alt="screen shot 2018-08

[2018-08-28 14:12] towerofnix commented on #3003
I have the same type of issue with Firefox on Linux, using the Arc Dark GTK theme:

![The same inputs as in carljbowman's screenshot, but with dark backgrounds and difficult to read text](https://user-images.githubusercontent.com/9948030/44728526-1b60d980-aab3-11e8-80dc-3792e0c0d069.png)

I ended up writing a generic userstyle to deal with this (since other sites also get their inputs messed up li

[2018-08-28 15:16] BryceLTaylor opened #3011 "Mouse pointer picks up sprite when the sprite moves after it AFTER mouse down"
### Expected Behavior

If the mouse isn't over the sprite when the mouse button is down, you won't pick up the sprite, matching 2.0 behavior

### Actual Behavior

You do pick up the sprite

### Steps to Reproduce

Create a new project
To the cat add this stack of code `When GF Clicked``forever``move 10 steps``if on edge bounce`
Run the code
In the path of the cat's movement, but where the cat isn'

[2018-08-28 17:52] carljbowman commented on #2811
@kathymakes - Specced out some examples of a flash message system. "Save process" was included as an example of this system. See https://github.com/LLK/scratch-gui/issues/2956 for more info.

@benjiwheeler - Please let us know if you have any addtional questions.

[2018-08-28 17:52] ScratchDiogoh opened #3012 "many directions (excluding 90º, 180º, -90º and 0º) are of bad quality"
### Expected Behavior

"tilted" directions are of good quality
### Actual Behavior

"tilted" directions are of bad quality
### Steps to Reproduce
choose some direction (excluding 90º, 180º, 0º and -90º)
### Operating System and Browser

Windows 10, Googe Chorme 68

[2018-08-28 18:00] kathymakes commented on #2811
Some images of a potential "save process" design:

![saving flow 1](https://user-images.githubusercontent.com/8203939/44741225-76ea9180-aaca-11e8-89a1-bb9e1f268643.png)
![saving flow 2](https://user-images.githubusercontent.com/8203939/44741330-b6b17900-aaca-11e8-9681-09b055173775.png)

[2018-08-28 18:02] carljbowman opened #3013 "Download / Upload Project UX on Mobile Devices"
### Overview
Currently the features (within the File menu) to Download and Upload a project is optimized for desktop devices. This causes some issues on mobile devices when trying to download / upload .SB3 files to / from the varying platform specific file systems.

These features may be candidates for elements that we do not expose in the web version on mobile devices and reserve these features f

[2018-08-28 18:04] carljbowman commented on #2909
Issues have been broken out into separate issues.

[2018-08-28 18:04] #2909 closed

[2018-08-28 18:26] ericrosenbaum commented on #865
we did this!

[2018-08-28 18:26] #865 closed

[2018-08-28 18:28] carljbowman commented on #2815
Here is a sketch of these states within the Editor's title field
![title states 2x](https://user-images.githubusercontent.com/3409578/44742753-a56a6b80-aace-11e8-998a-bb10199ae734.png)

[2018-08-28 19:05] cwillisf commented on #2850
@kyleplo Yep - same place. Here's a direct link:
https://downloads.scratch.mit.edu/link/windows.zip
https://downloads.scratch.mit.edu/link/mac.zip

[2018-08-28 19:26] thisandagain commented on #3012
Tracking in https://github.com/LLK/scratch-render/issues/334

[2018-08-28 19:26] #3012 closed

[2018-08-28 19:32] BryceLTaylor commented on #2860
I've made another project for testing this using say blocks so it can fit into the scratch-render tests:
[touching-size-vector-test.sb2.zip](https://github.com/LLK/scratch-gui/files/2329557/touching-size-vector-test.sb2.zip)

The position of the green square sprite is the closest it can be to the red square on each side without triggering a collision using .1 increments.  As in I changed the x or

[2018-08-28 20:05] thisandagain commented on #2480
Fix should be deselecting all selected objects after performing an undo.

[2018-08-28 20:41] #2910 closed

[2018-08-28 20:44] thisandagain commented on #2932
Related to https://github.com/LLK/scratch-gui/issues/2022

[2018-08-28 20:51] BryceLTaylor opened #3014 "Using vector reshape tool is challenging on touch devices"
### Expected Behavior

It should be fairly easy to select points on vector shapes on touch devices.

### Actual Behavior

You're likely to not grab any points or drag too many points.  It's also fairly likely to add a new point rather than selecting an existing one.  Another thing that happens is that you drag the whole object rather than a point on a path.

### Steps to Reproduce

Create a new sp

[2018-08-28 20:53] benjiwheeler opened #3015 "Account navigation menu area should show "Sign in" and provide sign in popup form"
Currently, only state is "Coming soon" preview; forthcoming PR will provide logged in menu, but not yet Sign in popup.

[2018-08-28 21:20] BryceLTaylor opened #3017 "Thermometer Menu only shows tooltip on the first time you select a tool on ipad"
### Expected Behavior

If you click an option in the thermometer menu it shows you a tooltip

### Actual Behavior

After the first time you choose an option, i.e. upload a sprite, paint a new sprite, or surprise sprite it will bring up a tool tip describing that tool.  Then if you select it again it causes an action to happen.  (As expected).  However if you choose it again it will not bring up th

[2018-08-28 21:23] BryceLTaylor opened #3018 "Tapping an item in the thermometer menu should bring up a tool tip on Android"
### Expected Behavior

Tapping an option in the thermometer menu should show you the name of the tool and not choose the option until you tap it again.

### Actual Behavior

It does not show you the tool tip and instead selects the option on the first tap.

### Steps to Reproduce

Tap the new sprite button
Tap Surprise Sprite
Note: No tool tip appears and a new sprite is created.

### Operating Sy

[2018-08-29 00:08] cyx2015s commented on #3011
When on mobile: use the same script and your finger slide on the stage, when the cat touches the point you begins, it will move to your finger.

[2018-08-29 10:40] kyleplo commented on #2850
@cwillisf UPDATE: Now, when I run ScratchLink.exe in C:\Program Files (x86)\Scratch Link, it does appear and stays there for a while. Some suggestions for Scratch Link:
- Make it easier to start, such as a desktop shortcut or a button in Start
- Make clicking on the icon do something, because it confused me when clicking did nothing, I thought it was broken

[2018-08-29 12:57] thisandagain commented on #3017
Related to https://github.com/LLK/scratch-gui/issues/3018

[2018-08-29 13:04] thisandagain commented on #2721
@BryceLTaylor Any updates?

[2018-08-29 13:05] SpeakkVisually commented on #2781
I'll fix this now, thanks!

[2018-08-29 13:05] #2781 closed

[2018-08-29 13:44] Wgil commented on #3007
Hello,

How can I reproduce it?

[2018-08-29 15:13] fsih commented on #2721
I found that it always does 1 of 2 things:
1. Goes from showing "Hmm..." straight to the cut off "costume number: 2". It's supposed to show "First backdrop!!!" in between. Sometimes you can see it say that for a split second in between.

I think the length of the cut off speech bubble matches the length the speech bubble should be when showing "First backdrop!!!", so I suspect it's getting the mea

[2018-08-29 15:25] BryceLTaylor commented on #2959
Confirmed.  It seems to be only an issue with having a forever loop inside the custom procedure without screen refresh.   I put other blocks in the loop and it still slowed it down.  I even did it with no blocks inside and it caused trouble.  The only thing that didn't cause trouble was a wait block, which is unsurprising.

![withoutscreenrefresh](https://user-images.githubusercontent.com/1088291/

[2018-08-29 15:27] chrisgarrity commented on #2996
@benjiwheeler @BryceLTaylor I was able to reproduce the issue for English when dragging a stack of 3 or more blocks. So this isn't just an RTL (localization) issue - I will still file the issue.

[2018-08-29 15:32] chrisgarrity commented on #2996
Opened https://github.com/LLK/scratch-blocks/issues/1704

[2018-08-29 15:32] #2996 closed

[2018-08-29 18:04] LiFaytheGoblin commented on #2945
Can also be observed in 94795454

[2018-08-29 18:17] BryceLTaylor opened #3023 "Blocks sometimes don't appear when switching to Code tab on iPad"
### Expected Behavior

When you switch to the code tab the blocks should appear in the blocks pallet.

### Actual Behavior

Occasionally when you switch to the code tab from the Sounds or Costumes tab there are no blocks:
<img width="1024" alt="ipadnoblocks" src="https://user-images.githubusercontent.com/1088291/44806619-71a64900-ab95-11e8-9136-9ada5d6b0419.png">

### Steps to Reproduce

So far we

[2018-08-29 18:24] BryceLTaylor opened #3024 "x on sprite thumbnail draws over the thermometer menu"
### Expected Behavior

If the thermometer menu is open it should cover the x for deleting a sprite on the selected sprite.

### Actual Behavior

The x appears above the thermometer.

![chromexoverthermometer](https://user-images.githubusercontent.com/1088291/44807127-bed6ea80-ab96-11e8-9980-b03c4cba769f.png)
<img width="196" alt="ipadxoverthermometer copy" src="https://user-images.githubuserconten

[2018-08-29 18:51] BryceLTaylor opened #3025 "Edge on touch device, tapping a thermometer menu selects it a second time"
### Expected Behavior

If you tap an action menu (new sprite, new costume, new backdrop, new sound) it should open the thermometer menu and not select anything else until you tap it.

### Actual Behavior

After a few seconds, it will select the choose from library option as if you had tapped it in the same place a second time.

### Steps to Reproduce

Open a new project in Edge on a touch windows

[2018-08-29 19:03] BryceLTaylor opened #3026 "Can't bring up context menu with long tap on edge"
### Expected Behavior

If you tap and hold on a block for a few seconds a context menu should appear.

### Actual Behavior

A square appears around your touch and no menu appears.
![44667117-e9367580-a9e7-11e8-8645-3bef6370ec7f](https://user-images.githubusercontent.com/1088291/44809364-7c181100-ab9c-11e8-9ae5-ee31c2dd8599.png)

### Steps to Reproduce

Create a project on edge
Drag a block to the

[2018-08-29 19:09] #2995 closed

[2018-08-29 19:49] BryceLTaylor opened #3028 "Scrolling the blocks workspace is slow on android tablet"
### Expected Behavior

Scrolling on the blocks workspace should move the workspace at the same speed as your finger and at the same time

### Actual Behavior

The workspace lags behind by a second or two.
![slowscrollandroid](https://user-images.githubusercontent.com/1088291/44811448-b84e7000-aba2-11e8-9ff9-8ab7ee8dc8ff.gif)

This is on the Samsung Galaxy Tablet (Model number smt520)

### Steps to

[2018-08-29 20:34] BryceLTaylor opened #3029 "Difficult to drag sprite on the stage that is text with touch"
### Expected Behavior

If you touch and drag a sprite that is text, it moves.

### Actual Behavior

It triggers your touch on the space between the lines of the text and doesn't select it.  The text doesn't move.

### Steps to Reproduce

Paint a new sprite
Type in it with the text tool
On the stage, tap and drag the text
Note: You often miss it and it stays where it is.

### Operating System and B

[2018-08-29 20:42] BryceLTaylor commented on #2903
* [ ] I accidentally zoomed the whole editor to be bigger by double clicking the green flag @LiFaytheGoblin

I could not reproduce this and I'm not sure exactly what you mean.  It's possible that you somehow pinched to zoom.  We'll keep an eye out for it though.

[2018-08-29 20:50] BryceLTaylor opened #3030 "Hard to use workspace scrollbars on touch"
### Expected Behavior

If you touch on a scroll bar in the blocks workspace and drag it, it should move the scroll bar and move the workspace accordingly.

### Actual Behavior

You often miss the scrollbars on touch and drag the workspace instead.  On Android, the vertical one is impossible to drag.

### Steps to Reproduce

Add a block to the workspace
Try to scroll with the scrollbars on the bloc

[2018-08-29 21:16] BryceLTaylor opened #3031 "Should we use Pinch to Zoom and other gestures on touch devices?"
Should we use Pinch to Zoom on the blocks workspace and/or paint editor on touch?

I suspect that people will expect it when using tablets, since this feature is pervasive in other apps.

[2018-08-29 21:55] rschamp opened #3033 "Combine incoming project data into a single reducer"
Follow up for https://github.com/LLK/scratch-gui/pull/3021#discussion_r213698163

Other info to be combined so far is the project title

[2018-08-29 21:57] rschamp opened #3034 "Conditionally display Save now or Remix in the File menu"
Follow up for https://github.com/LLK/scratch-gui/pull/3021#discussion_r213711451

[2018-08-29 22:00] rschamp opened #3035 "Use messaging system for save state confirmation"
Somewhat a duplicate of https://github.com/LLK/scratch-gui/issues/2811

Follow up for https://github.com/LLK/scratch-gui/pull/3021#discussion_r213715593

Use the messaging components needed for showing hardware status changes in order to show the save status (in progress, completed, errored)

[2018-08-29 22:01] rschamp opened #3036 "Handle errors for local downloading/uploading of projects"
Follow up for https://github.com/LLK/scratch-gui/pull/3021#discussion_r213719536

If something bad happens during a project upload or download, we should display an error message instead of doing nothing/crashing

[2018-08-30 10:13] kyleplo commented on #3031
I think paint editor, but not block workspace.

[2018-08-30 10:18] kyleplo commented on #3035
I think it should only show when errored, because it would be annoying if every time it autosaves, a message pops up.

[2018-08-30 15:14] #2983 closed

[2018-08-30 15:16] #2982 closed

[2018-08-30 15:45] LiFaytheGoblin commented on #2815
CSS is at https://github.com/LiFaytheGoblin/scratch-gui/tree/rename_title

Tested for MacOS: Chrome, Safari, Firefox

[2018-08-30 18:28] ericrosenbaum opened #3040 "Default sprite and stage appear on top of project loaded by id"
### Expected Behavior

If I load a project by id, such as https://llk.github.io/scratch-gui/develop/#236801168, I should see only the sprites and stage present in that project.

### Actual Behavior

In this particular case, the original project does not contain the cat sprite, but the cat appears when I load it.

Also, the original project has a stage containing a yellow rectangle backdrop and a s

[2018-08-30 18:30] ericrosenbaum opened #3041 "In RTL, dragging asset tiles is broken"
### Expected Behavior

While dragging an asset tile (to re-order sprites, costumes or sounds), I should see the tile being dragged, and the insertion marker should appear correctly.

### Actual Behavior

In RTL, the the sprite, costume or sound tile being dragged is not visible.

Also, when dragging a sprite tile, the insertion marker appears in an unexpected place (looks like the order is reverse

[2018-08-30 18:32] ericrosenbaum opened #3042 "Some default block input strings are not translated"
### Expected Behavior

All default block input strings should be translated.

### Actual Behavior

In Hebrew, we see the English default strings for these blocks:

- ask
- join
- letter of
- length of
- contains

[2018-08-30 19:57] BryceLTaylor commented on #2721
I've made a simpler repro case in this project:
[say-cut-off-repro.sb3.zip](https://github.com/LLK/scratch-gui/files/2337698/say-cut-off-repro.sb3.zip)
You have to hit the space bar a few times and then you'll see it.  Often it has been four times.  It usually won't do it a second time.

I can't reproduce it every time.

[2018-08-30 20:58] #3040 closed

[2018-08-30 21:01] fsih commented on #2992
Does the t in “After it’s been clicked” look bold? [Zooming in, it looks like the t is a tiny bit thicker than the i next to it (approx 8 pixels vs 7 when I view it fullscreen); our sampling method for resizing may distort this small difference -Ben] @rschamp

I think this is an instance of https://github.com/LLK/scratch-render/issues/143

[2018-08-30 21:17] chrisgarrity opened #3049 "Gui should set lang attribute for accessibility"
### Expected Behavior

_Please describe what should happen_
When we set the gui locale, we should also update the lang attribute to indicate the default language of the page.
[code]

It should definitely be done for GUI standalone. It may need some work for everyone to play nice when gui is embedded in www.

[2018-08-30 21:32] #2992 closed

[2018-08-31 13:37] LiFaytheGoblin commented on #3009
It might have to do with background-clipping.

[2018-08-31 17:19] LiFaytheGoblin commented on #2022
One question: Is the stage preview icon supposed to look like
this
<img width="88" alt="screen shot 2018-08-31 at 1 19 03 pm" src="https://user-images.githubusercontent.com/5471273/44926784-7ba88300-ad20-11e8-9916-53a8d705a8c7.png">
or this
<img width="90" alt="screen shot 2018-08-31 at 1 18 57 pm" src="https://user-images.githubusercontent.com/5471273/44926782-79debf80-ad20-11e8-8f64-a123248b9785

[2018-08-31 18:08] LiFaytheGoblin commented on #2022
Apart from #3009 and #2932 are there other issues that might be caused by the box sizing? It is a comming practise to specify the box sizing for * so I wonder if removing it is the best option.

[2018-08-31 18:44] LiFaytheGoblin commented on #2932
I did some experimenting: I removed the border box stuff, and it was still there. Setting the stage width to auto _would_ solve it, but then the size of the stage will be 480 minus the border width and if I understood correctly this is not what we want?

[2018-08-31 19:38] LiFaytheGoblin commented on #3009
Sprites info box border is displayed this way because it's background is hsla(215, 75%, 95%, 1). The stage info box background is white.

[2018-08-31 20:00] LiFaytheGoblin commented on #3009
Setting .stage-selector {
    background-clip:padding-box; } solves the problem

[2018-09-01 20:02] chrisgarrity opened #3059 "Custom procedure arguments are not translatable"
### Expected Behavior

_Please describe what should happen_
placeholder arguments in custom procedures should be able to be translated

### Actual Behavior
<img width="726" alt="screen shot 2018-08-31 at 12 05 34 pm" src="https://user-images.githubusercontent.com/399209/44923495-675f8880-ad16-11e8-9177-205790d94a99.png">
The placeholder labels are still in English.

### Steps to Reproduce
Switch i

[2018-09-02 01:59] wufeng87 commented on #2716
@Kenny2github  win10. Sorry for not reply in time.

[2018-09-02 09:41] apple502j commented on #2984
you can close it now

[2018-09-04 14:43] BryceLTaylor commented on #2903
All filed

[2018-09-04 14:43] #2903 closed

[2018-09-04 15:50] LiFaytheGoblin commented on #3049
I did something that sets the lang attribute in GUI and it does work in standalone and www but...
1) I am not sure if it's actually a stylistically good place to manipulate the attribute.
2) The lang from www does not get imported into gui, so if you changed to german in www and see inside a project from the preview page, it defaults to english. It seems like the initial state of the language is a

[2018-09-04 15:55] LiFaytheGoblin commented on #3049
https://github.com/LiFaytheGoblin/scratch-gui/tree/3049/set-lang-attribute Here is the branch

[2018-09-04 18:47] BryceLTaylor opened #3064 "Issues found in Smoke Test (Bug Hunt) on 8/31/18"
* [x] Tapping on the stage leaves the “mouse” where you tapped until you tap somewhere else on the stage.  Tapping the rest of the gui doesn’t move it.  See dinosaur @BryceLTaylor
* [x] Dino didn’t make it all the way to the back - still in front of casey: @chrisgarrity
![image22](https://user-images.githubusercontent.com/1088291/45051303-c3494a80-b051-11e8-87fd-2edafd167cff.png)
* [x] Can’t scrol

[2018-09-04 18:57] BryceLTaylor opened #3065 "Issues found in Smoke Test (Bug Hunt) on 8/31/18"
* [ ] Go to front causes cat to go in front of its own speech bubble. I guess I would expect the cat and the speech bubble to move together as 1 layer @fsih
![image30](https://user-images.githubusercontent.com/1088291/45051528-57b3ad00-b052-11e8-9bdc-2f7a4c756721.png)
* [ ] All the blocks project: i was in one test where i had to enter numbers. It never continued. I switched to fullscreenI acciden

[2018-09-04 19:02] BryceLTaylor opened #3066 "Issues found in Smoke Test (Bug Hunt) on 8/31/18"
* [x] Ctrl+A when editing text is selecting all instead of selecting my text, which is bad because text edit and select aren’t supposed to both be active @fsih (fixed in https://github.com/LLK/scratch-paint/pull/652)
![image27](https://user-images.githubusercontent.com/1088291/45051811-2ab3ca00-b053-11e8-89c2-0302bfe550f7.png)
* [x] Select all onwin chrome in vector and bitmap editors always selec

[2018-09-04 19:07] BryceLTaylor opened #3067 "Issues found in Smoke Test (Bug Hunt) on 8/31/18"
* [x] Other expected hotkeys on Mac
Zoom-in: CMD + “+”
Zoom-out: CMD + “-”
Group: CMD + “g”
Ungroup: CMD + Shift + “g”
Cut: CMD + “x”
@carljbowman

Device | Browser | Name
-- | -- | --
Windows* | Chrome | Eric R
Mac | Chrome | ChrisG
iPad** | Safari | Bryce
Chromebook | Chrome | Bryce
Windows* | Firefox | Carl
Android Tablet | Chrome | Linda
Windows* | Edge | DD
Mac | Safari |  
Mac | Firefox | Ka

[2018-09-04 19:13] BryceLTaylor opened #3068 "Issues found in Smoke Test (Bug Hunt) on 8/31/18"
* [x] @fsih https://github.com/LLK/scratch-blocks/issues/1684
![image18](https://user-images.githubusercontent.com/1088291/45052334-82066a00-b054-11e8-891f-0ea7556ca1ac.png)
![image19](https://user-images.githubusercontent.com/1088291/45052343-8a5ea500-b054-11e8-81b7-27ad63de69ec.png)
![image25](https://user-images.githubusercontent.com/1088291/45052355-934f7680-b054-11e8-82ad-b317558a9bf5.png)
![

[2018-09-04 19:57] BryceLTaylor opened #3069 "Custom Procedure blocks don't glow in blocks pallet when clicked"
### Expected Behavior

If you click on a custom procedure block in the blocks pallet it should glow like every other block.

### Actual Behavior

The definition glows on the workspace but the block in the blocks pallet does not.

![notglowing](https://user-images.githubusercontent.com/1088291/45054438-fba15680-b05a-11e8-9a43-23d42c34a82f.gif)

### Steps to Reproduce

Create a custom procedure
Clic

[2018-09-05 17:06] LiFaytheGoblin commented on #2851
Not only does the mouse down not get noticed in the scripts area but anywhere outside the stage. Maybe we can adapt the title here? Another repro project is:
244616957
And I saw this first in
213485492

[2018-09-05 17:38] LiFaytheGoblin commented on #2959
This seems to not only concern 3.0. I do get 2.0 flash to crash when I put and run a custom block with any forever block or repeat until with a condition that is never true when inside the for loop
* is nothing or
* one or more motion blocks
* a motion and a look block
* a looks block
* a sounds block

[2018-09-05 17:51] LiFaytheGoblin commented on #2959
225649768 might have to do with this

[2018-09-05 18:00] LiFaytheGoblin commented on #1974
No gradient or false gradient, as in 225649768

[2018-09-05 18:04] benjiwheeler commented on #2954
Unclear how to handle copy/duplicate and remix modes of creating a new project. (These are distinct from File->New, which just uses default project.)

File->New should create using default project, and immediately save.

(Maybe beyond the scope of this issue): File->Save as a Copy should show if you're looking at your project; when someone else's, that should become File->Remix.

[2018-09-05 20:31] fsih commented on #3066
Ctrl-shift-z to redo is not working for me (the button does work) @ericrosenbaum

Wow, Mac insists that the key being pressed is 'z' and Windows insists that the key is 'Z' and both are case sensitive =_=

[2018-09-05 20:33] ericrosenbaum opened #3073 "Sprite tile layout broken by pasting a long string into the name field"
### Expected Behavior

You should be able to edit the sprite name without breaking the layout of the sprite tiles.

### Actual Behavior

When you paste a long string (such as the entirety of the lyrics to Smash Mouth's All Star) into the sprite name field, the layout is broken:

![sprite-rename-too-long](https://user-images.githubusercontent.com/567844/45119366-48536300-b129-11e8-9468-f6af87c2d78f

[2018-09-05 21:32] towerofnix commented on #2959
What is the actual wanted behavior here? The expected behavior in the issue is "should not lag up the editor", but it's not clear about exactly what that means, and this *is* behaving exactly as both Scratch 2.0 and 3.0 are designed (@LiFaytheGoblin noted this is an issue in 2.0 above). See code regarding "WARP_TIME" in https://github.com/LLK/scratch-vm/blob/develop/src/engine/sequencer.js.

[2018-09-05 22:01] fsih commented on #3066
uasdlkfjakdsf

[2018-09-05 22:01] #3066 closed

[2018-09-05 22:07] MasterOfTheTiger commented on #2285
I will look into this. I have run into other problems similar to this on some of my websites.

I propose that the max width and height for these popups should be set to 100% (that way it is never bigger than the screen), or another solution would be to change the position from fixed to absolute, but I think that the former would be better.

[2018-09-05 22:29] MasterOfTheTiger commented on #2285
I believe this is simply a problem with React.

[2018-09-05 22:45] MasterOfTheTiger opened #3074 "Page taller than screen"
### Expected Behavior

The page should have the maximum height of the screen. Thus, it should not be taller than the screen.

### Actual Behavior

The page is taller than the screen whenever the available space is less than 640px.

![peek 2018-09-05 15-35 2](https://user-images.githubusercontent.com/16640496/45125123-ee9b6a80-b121-11e8-9336-4b1efc5262ef.gif)

### Steps to Reproduce

1. Resize the

[2018-09-06 03:46] TonyGGC opened #3076 "What is the way to judge the current has no blocks?"
### Expected Behavior

don‘t add blocks to editor

### Actual Behavior

What is the way to judge the current has no blocks?

### Steps to Reproduce

enter into Home Page, then save to local computer

### Operating System and Browser

chrome 68

[2018-09-06 04:41] TonyGGC commented on #3076
this.props.vm.editingTarget.blocks._scripts.length !== 0
或者!this.props.vm.editingTarget.blocks._blocks

[2018-09-06 04:41] #3076 closed

[2018-09-06 11:28] wooden1985 opened #3077 "where define "state.scratchGui.cards.visible" ?"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-09-06 13:08] Mr-Dave2 commented on #2959
I believe that part of the problem with crashing flash is that Scratch 2 (pre-June) is not compatible with Scratch 2 (since June).
The fix by the Scratch Team following the problem caused by the Flash 30 update in turn caused no-screen-refresh custom blocks to never yield.

I've made [this project](https://scratch.mit.edu/projects/244721217/) (which is like 225649768 ) to display the amount of wor

[2018-09-06 14:10] apple502j commented on #3077
Describe it clearly please

[2018-09-06 14:18] wooden1985 commented on #3077
I want to write a component like cards, when I write "state.scratchGui.homework.visible" like "state.scratchGui.cards.visible",it crash, show error "state.scratchGui.homework is undefined",so I want to know how to define "state.scratchGui.cards.visible"

[2018-09-06 15:06] Mr-Dave2 commented on #2959
Same program as BryceLTaylor's above but run under Pre-June Scratch 2 (offline).  The behavior is the same as Scratch 3.0.

![scratch 2 old and offline](https://user-images.githubusercontent.com/35544966/45165802-2e626080-b1bb-11e8-866e-7d9c3d42221a.gif)

BTW, people do struggle with this and reach out for help in the forums.  I think most of them go away with a solution when the behavior is expla

[2018-09-06 15:15] techwonder21 opened #3083 "Unable to select multiple costumes at once in 3.0"
### Expected Behavior
In 2.0, users can select multiple costumes at once in the Costume library
<img width="1651" alt="scratch 2 select multiple costumes" src="https://user-images.githubusercontent.com/3812168/45166716-a766b580-b1c5-11e8-88bc-6ac3372ae852.png">

### Actual Behavior
In 3.0, users cannot select multiple costumes at once in the Costume library

### Steps to Reproduce
1. Go to beta we

[2018-09-06 15:28] BryceLTaylor commented on #3064
@chrisgarrity I know that I've seen it before, but I'm seeing the Dinosaur make it to the back every time on Mac Chrome on Develop.  It's possibly something about how I run through the rest of the program.

[2018-09-06 15:31] techwonder21 opened #3084 ""When key pressed" block doesn't run when variable slider is also being used"
### Expected Behavior
Once the project starts, key press events should execute at all times.

### Actual Behavior
Right now, the "when key pressed" event only works BEFORE the variable slider is changed to a new value. Once the slider changes to a new value, the "when key pressed" block no longer works.

### Steps to Reproduce
1. Open project in 3.0: https://beta.scratch.mit.edu/#19152054
2. Click

[2018-09-06 15:45] BryceLTaylor opened #3085 "Tap leaves the "mouse" where you last tapped until you tap somewhere else"
I expect the mouse position to not remain where I tapped on the stage for the purposes of `distance to mouse pointer` blocks.  I'm not sure if I'm right, but currently the "mouse" stays where you last tapped until you tap somewhere else.

### Steps to Reproduce

Build the following stack on a sprite:
![screen shot 2018-09-06 at 11 43 30 am](https://user-images.githubusercontent.com/1088291/4516879

[2018-09-06 15:46] BryceLTaylor commented on #3064
* [x] Tapping on the stage leaves the “mouse” where you tapped until you tap somewhere else on the stage. Tapping the rest of the gui doesn’t move it. See dinosaur @BryceLTaylor
https://github.com/LLK/scratch-gui/issues/3085

[2018-09-06 15:47] techwonder21 opened #3086 "Reuploading 3.0 projects back into 3.0 not rendering correctly"
### Expected Behavior
Reuploading a 3.0 project back into 3.0 should render correctly

### Actual Behavior
Created a brand new project in 3.0, downloaded it and reuploaded it back into 3.0
Noticed the following things which may or may not be an issue:
-variable slider was unchecked by default
-formatting issues sometime appear. I wasn't able to reproduce this but still wanted to include it.
<img w

[2018-09-06 15:48] techwonder21 commented on #3083
@ChampikaF

[2018-09-06 15:48] techwonder21 commented on #3084
@ChampikaF

[2018-09-06 15:48] techwonder21 commented on #3086
@ChampikaF

[2018-09-06 16:00] ericrosenbaum opened #3087 "For extension block, text changes after switching to another language and back"
### Expected Behavior

The text on an extension block when viewed in English should always be the same.

### Actual Behavior

In the translate extension, there is a reporter block labeled "language". If you switch the editor to another language and back to English, the block now says "viewer language".

### Steps to Reproduce

- Set the editor to English
- Add the translate extension and note the

[2018-09-06 17:52] BryceLTaylor opened #3088 "Impossible to scroll with scroll bars in paint editor on touch"
### Expected Behavior

If you touch on the scroll bars in the paint editor and drag them the paint editor should scroll.

### Actual Behavior

You use whatever tool you have selected on the paint editor and it doesn't scroll.

### Steps to Reproduce

Open the paint editor
Ensure you are zoomed in
Touch and drag the scroll bars on the paint editor
Note: you don't scroll, you do use whatever the too

[2018-09-06 17:53] BryceLTaylor commented on #3064
* [x] Can’t scroll in paint editor on ipad @BryceLTaylor https://github.com/LLK/scratch-gui/issues/3088

[2018-09-06 18:47] techwonder21 commented on #3083
@thisandagain looks like this bug was already filed back in 2017 a few times. Do you have an ETA on the fix?

https://github.com/LLK/scratch-gui/issues/1248
https://github.com/LLK/scratch-gui/issues/867

[2018-09-06 18:48] techwonder21 commented on #2967
That makes perfect sense. The issue is now resolved on beta :)

[2018-09-06 18:49] techwonder21 commented on #3084
@thisandagain

[2018-09-06 18:49] techwonder21 commented on #3086
@thisandagain

[2018-09-06 18:50] thisandagain commented on #1248
Tracking in https://github.com/LLK/scratch-gui/issues/867

[2018-09-06 18:50] #1248 closed

[2018-09-06 18:50] thisandagain commented on #3083
Tracking in https://github.com/LLK/scratch-gui/issues/867

[2018-09-06 18:50] #3083 closed

[2018-09-06 18:52] thisandagain commented on #867
We currently do not have plans to support this feature as from testing we have found that the ability to single click on a sprite, costume, sound, or backdrop to add it is more intuitive than requiring a two-step process (as is used in Scratch 2.0). The removal of this confirmation step makes adding this feature difficult / unclear.

[2018-09-06 18:52] #867 closed

[2018-09-06 18:54] thisandagain commented on #3086
@BryceLTaylor Can you attempt a repro?

[2018-09-06 21:00] BryceLTaylor commented on #3086
I believe that it's a known issue about the monitors since no information about monitors is saved.  That work is upcoming, I believe.

I can't reproduce the second issue by uploading.  I need more info about when it happens.  I have seen that before, but not for a while now.  I'll dig into it more soon.

[2018-09-07 11:27] alexmotoc commented on #3007
Go to Variables and create a new list. Try right clicking on the list you've just created and there is no menu to delete present. This functionality is available in 2.0 and also for normal variables.

Expected behaviour:
<img width="317" alt="screen shot 2018-09-07 at 14 22 26" src="https://user-images.githubusercontent.com/16880268/45216605-d7878480-b2a9-11e8-9319-37babb81249f.png">

Am I correct

[2018-09-07 16:19] joker314 commented on #3007
Yeah, that's right!

<hr>

Should we also add a 'rename list' option (this is _not_ available in 2.0 for lists, but is for variables)

[2018-09-07 17:54] BryceLTaylor opened #3094 "Issues found in Bug Hunt (smoke test) on 9/7/18"
* [x] Samsung browser version 3.3 (not Chrome) on a samsung tablet shows “Oops! Something went wrong” instead of “Unsupported browser” @benjiwheeler
* [x] In Chrome on Android tablet (Nexus, “Frosted Flakes”) the fill tool seems to respond to taps in the editor area inconsistently.
Recreate: draw several circles with the paintbrush. Tap the paint bucket. Tap inside the circles one at a time @benji

[2018-09-07 18:01] CosmicWebServices commented on #2959
Even though there is not too much complaint it would be nice to have fixed. It may also help with other performance problems.

[2018-09-07 18:01] BryceLTaylor opened #3095 "Issues found in Bug Hunt (smoke test) on 9/7/18"
* [x] Can’t draw or use any tool more than a dot on edge with touch.  Not on Android.  Not on Chrome/touch @BryceLTaylor https://github.com/LLK/scratch-paint/issues/396
* [x] Firefox mac: delete in paint editor asks if you want to stay or leave on the page (i.e. delete invokes the back button behavior in the browser). Chrome doesn’t. @kathymakes https://github.com/LLK/scratch-paint/issues/663
* [x

[2018-09-07 18:11] BryceLTaylor opened #3096 "Issues found in Bug Hunt (smoke test) on 9/7/18"
* [ ] Couldn’t open the add costume thermometer.  I tjust opened the library. (Not a problem with Chrome) @BryceLTaylor
* [x] Going to /preview results in an all white page with the navigation bar. @thisandagain (had check mark in doc)
* [x] Clicking on the “love it” button causes the counter to increment, but does not highlight the “heart” icon and will increment forever @thisandagain (had check

[2018-09-07 18:13] BryceLTaylor opened #3097 "Issues found in Bug Hunt (smoke test) on 9/7/18"
* [ ] This might not be in our control… but the Mac system arabic keyboard only has these for numbers: (top row) @kathymakes
![image14](https://user-images.githubusercontent.com/1088291/45235797-04d33300-b2a8-11e8-99e3-0db779950ecd.png)
* [ ] Languages are white font @fsih
![image13](https://user-images.githubusercontent.com/1088291/45235847-26ccb580-b2a8-11e8-9fa1-8b4b3dd22bbb.png)

Device | Brow

[2018-09-07 18:20] BryceLTaylor opened #3098 "Issues found in Bug Hunt (smoke test) on 9/7/18"
* [x] Hitting return when entering the project title on the preview page will lead to the page trying to go to the address scratchl.ly/preview/[project number]/editor/?title=firstword+secondword&instructions (and so on) which does not work. When I remove the extra variables after the ? it does go to the editor @LiFaytheGoblin  (had check mark in doc)
* [x] The heart icon doesn’t change color when

[2018-09-07 20:47] #2815 closed

[2018-09-07 20:49] LiFaytheGoblin commented on #2641
We decided on making the project title field flexible in it's width

[2018-09-07 23:06] TheLogFather commented on #2959
The behaviour of non-refresh in Scratch 2 is meant to be that it only allows execution of blocks without refresh for (just under) half a second at a time. (It's worth noting, though, that Scratch 2 also commits pen-drawing to the canvas just before refresh, and that can take way longer than half a second if there was lots of drawing during the half-sec of non-refresh it just allowed for block exec

[2018-09-08 00:34] chexbox commented on #3097
missing smoke-testing tag.

[2018-09-08 14:06] benjiwheeler opened #3101 "Should write unit/integration tests for project title naming functionality"
...including committing edits by blurring or hitting enter

[2018-09-09 14:40] brianyu28 opened #3103 "Re-uploading project doesn't persist which variables are shown"
### Expected Behavior

If a user enables the checkbox next to a variable so that the variable's value is shown on stage, and then downloads and re-uploads their project, the variable should still be visible on stage. This is the way Scratch 2 currently behaves.

### Actual Behavior

In Scratch 3, after re-uploading the project, the variable is no longer visible on stage.

### Steps to Reproduce

1

[2018-09-09 15:39] joker314 commented on #3103
Thanks for reporting -- and sorry that this is happening.

Possibly tracking in:
https://github.com/LLK/scratch-gui/issues/3086#issuecomment-419239642

[2018-09-09 16:28] kyleplo opened #3104 "Add more tutorials"
### Expected Behavior

There are tutorials for a lot of things.

### Actual Behavior

Tutorials I would like to see:
- Sound effects
- Broadcasts
- Basic intro to if and if/else
- Using math in Scratch
- Using logic (or, and, not, >, <, =) in Scratch
- Variables and lists
- Creating a custom block
- Using the vector paint editor
- Using the bitmap paint editor
- Using the sound editor
- Platformer

[2018-09-09 23:58] chexbox commented on #3103
#2398

[2018-09-10 14:16] NitroCipher opened #3105 "Scrolling during custom block creation creates text misalignment"
Two finger touchpad scrolling causes the text input field to become misaligned with the block being created. I have yet to test this with a wheeled mouse. I will report back later

![screenshot 2018-09-10 at 09 09 16](https://user-images.githubusercontent.com/11393734/45302628-69c19f80-b4d9-11e8-932c-8361e2035009.png)

My browser / operating system: ChromeOS 10575.58.0, Chrome 67.0.3396.99, Flash

[2018-09-10 15:03] regcole commented on #1317
change the line to
[code]

[2018-09-10 21:14] MasterOfTheTiger commented on #3105
Are you using natural scrolling or not?

[2018-09-10 21:55] chexbox commented on #3105
Doesn't happen with wheel on chrome.

[2018-09-11 14:07] #3000 closed

[2018-09-11 16:41] LiFaytheGoblin commented on #2641
My fix will work down to a width of 980px which is sufficient for the iPad. For smaller screens we would need to think about sth other than shrinking the title field because I think it should still show a bit of the title.
<img width="988" alt="screen shot 2018-09-11 at 12 40 45 pm" src="https://user-images.githubusercontent.com/5471273/45374390-f5156080-b5bf-11e8-9c43-1ea6c4635aeb.png">

[2018-09-11 18:22] ericrosenbaum opened #3108 "Add a space to the default value in the join block, so it reports "apple banana""
### Expected Behavior

When you run the join block with its default values, it should report two words with a space between them (as in 2.0).

### Actual Behavior

Currently the default arguments to join are "apple" and "banana", which joined result in "applebanana".

We should add a space at the end of the word, so it becomes "apple ", [here](https://github.com/LLK/scratch-gui/blob/722b210ab663c9

[2018-09-11 18:55] fsih commented on #3095
The font Marker doesn’t do weird characters such as German Umlaute. Instead it puts another weird symbol! Eg trying to make a c cedille will lead to an uppercase A with an accent grave being displayed. In bitmap, the c cedille leads to <<. The choice of which letter to display instead of the wanted letter seems partly different in ltr and rtl. @LiFaytheGoblin

Unfortunately this is working as inte

[2018-09-11 19:01] #3095 closed

[2018-09-11 19:35] kyleplo commented on #2641
@LiFaytheGoblin We won't have to worry about the "Give Feedback" button because the final version probably won't have it.

[2018-09-11 19:37] kyleplo commented on #3105
Can't repro on Windows Chrome.

[2018-09-11 21:48] MasterOfTheTiger commented on #3105
Cannot reproduce on Firefox or Chrome on Fedora GNU/Linux.

[2018-09-12 02:04] NitroCipher commented on #3105
I can't even reproduce it myself. It seems to be a ChromeOS isolated issue

[2018-09-12 02:12] MasterOfTheTiger commented on #3105
Very very odd. The Chrome on ChromeOS should behave the same way as on other platforms right?

[2018-09-12 08:56] Kenny2github commented on #3105
Can't repro on Windows 10 Chrome 68

[2018-09-12 15:31] ntlrsk opened #3111 "add "any" to the "when backdrop switches to" menu"
**when key pressed** has an option on the menu _any_ option so that when any key is pressed something happens.

This would be helpful to have "any" as a menu item on the **when backdrop switches to** block too. This could be used in games, animations, slideshows to have a sound play, to reset a timer, etc.

![image](https://user-images.githubusercontent.com/4721032/45435648-f6f22900-b67e-11e8-862b

[2018-09-12 15:32] ntlrsk commented on #3111
/cc @kosiecki @SpeakkVisually

[2018-09-12 15:42] kchadha commented on #1650
Backlogging this issue and removing critical as the current behavior is consistent with 2.0.

[2018-09-12 16:19] thisandagain opened #3112 "Pasting the entirety of "Call of the Wild" causes issues with the "say" block"
### Expected Behavior
- Strings above a maximum length should be truncated when passed into the "say" block

### Actual Behavior
- The say block renders a black rectangle on the stage

### Steps to Reproduce
- Create a project
- Paste the entirety of ["Call of the Wild" by Jack London](https://www.gutenberg.org/files/215/215-0.txt) into an "ask" prompt
- "Say" the contents of the "answer" reporter

[2018-09-12 19:07] BryceLTaylor opened #3114 "Can get into a state where creating custom procedures fails"
### Expected Behavior

I should always be able to make a new custom procedure with a new name.

### Actual Behavior

I got into a state where I couldn't change the name of a custom procedure while creating it and if I switched sprites and back the block would be gone.

![customprocedure](https://user-images.githubusercontent.com/1088291/45446813-d4bad400-b69b-11e8-8cfe-84b649b978ee.gif)

You'll al

[2018-09-12 19:19] ericrosenbaum opened #3115 "Improve signal strength display for bluetooth peripherals"
Here's the planned update for how to display incoming RSSI values when listing bluetooth peripherals:

- \> 0 means “not sure yet”
    - Show empty RSSI indicator (“zero bars”)
- < 0 is a real signal strength
    - Show the correct the number of bars
- = 0 means “it’s wireless but we’ll never know a signal strength”
    - Show nothing
- `null` means “it’s not wireless”
    - Show nothing

[2018-09-12 20:36] #3010 closed

[2018-09-13 12:37] towerofnix commented on #3007
@alexmotoc Unfortunately, to make scratch-gui see your changes, you need to re-build the entire scratch-blocks (in my experience), by doing `npm run prepublish`. (And then you have to restart the gui server, since it won't automatically detect that scratch-blocks was updated.)

Do note that you can test your scratch-blocks changes simply by opening the `tests/vertical_playground.html` file in your

[2018-09-13 12:55] chexbox commented on #3105
Can't reproduce with scrollbars on chromeOS. Dialog just disappears.

[2018-09-13 12:59] NitroCipher commented on #3105
It is really strange. It only happens with the two finger scrolling gesture on the mousepad. (chromeOS exclusive bug)

[2018-09-13 13:17] chrisgarrity opened #3124 "Should Scratch 3.0 localize numbers?"
Scratch 2.0 did not localize numbers. I'm not sure if this was a technical limitation of the flash implementation, or a design decision.

As far as I know Blockly does not support localization of numbers. We could localize numbers in Scratch 3.0, but it would be a fairly large undertaking to find all the places that display numbers (extensions, blocks, gui, paint etc) and make sure to wrap the dis

[2018-09-13 13:25] chrisgarrity opened #3125 "Override language list font color on Windows Edge"
### Expected Behavior
People should be able to see the language list on Edge on Windows.

### Actual Behavior

_Describe what actually happens_
Unlike other browsers, Edge inherits the font color for option lists from the enclosing element, but not the background color. So the language list is invisible because the inherited font color (white) is the same as the background.

![image13](https://use

[2018-09-13 13:51] chrisgarrity opened #3126 "In RTL languages monitors with no position should default to the right not left"
### Expected Behavior

_Please describe what should happen_
In right-to-left languages (e.g. Hebrew, Arabic), monitors without a position should default to the right hand side, not the left.

### Actual Behavior

_Describe what actually happens_
All new monitors without a position start on the left.
### Steps to Reproduce
Show any monitor - e.g. the timer.

[2018-09-13 14:06] chrisgarrity opened #3127 "Connection modal 'split' buttons incorrectly formatted in RTL"
### Expected Behavior

_Please describe what should happen_
Buttons should have rounded corners on the 'outside'

### Actual Behavior

_Describe what actually happens_
Split buttons have the rounded corners in the middle and the straight edges on the outside.

[2018-09-13 14:15] chrisgarrity opened #3128 "Costume dimensions incorrectly formatted in RTL"
### Expected Behavior
Figure out the expected behavior for dimensions in RTL: is it still 'width x height', or would 'height x width' be the expected layout.

### Actual Behavior

_Describe what actually happens_
![image20](https://user-images.githubusercontent.com/1088291/45052505-ffca7580-b054-11e8-96be-1178e8526c68.png)

[2018-09-13 14:16] #3068 closed

[2018-09-13 14:19] fsih commented on #3128
Would some of these issues be fixed if we used the multiply symbol × instead of x?

[2018-09-13 14:20] alexmotoc commented on #3007
@towerofnix Thanks a lot! I ended up testing the changes using the `tests/vertical_playground.html` file and it was sufficient for my needs.

I opened a pull request in the other repo - https://github.com/LLK/scratch-blocks/pull/1715. Will wait for a review. I am not too happy about almost duplicating the other context menu. Was wondering if there was a good way to refactor that and keep it in one

[2018-09-13 14:29] chrisgarrity commented on #3128
@fsih yes, that might help.

[2018-09-13 14:46] chrisgarrity commented on #3049
@LiFaytheGoblin GUI doesn't yet accept a locale prop from www, but eventually it will. There's just more to be done in terms of making the www and gui localization compatible. Having the document attribute set in the render seems a bit odd.  It might be better to set it in the constructor and in the change handler.

[2018-09-13 14:48] chrisgarrity commented on #2984
Thanks @Wgil

[2018-09-13 14:48] #2984 closed

[2018-09-13 15:01] ntlrsk opened #3129 "pop2 sound is a duplicate"
Pop2 sound in the Sound Library is the same as the Pop sound, so should be removed.

[2018-09-13 15:41] chexbox commented on #3105
Successfully repo.
![screenshot 2018-09-13 at 10 39 14](https://user-images.githubusercontent.com/31783961/45499119-531d8180-b741-11e8-8104-78f61ac25dff.png)
![screenshot 2018-09-13 at 10 40 15](https://user-images.githubusercontent.com/31783961/45499156-6e888c80-b741-11e8-9a6c-adbe05335d91.png)
The text-box scrolls but the rest of the dialog does not.